mixin Probe3()
	- var Attr = ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
	- for (var i=3; i--;)
		select.probe(size="1", name="probe")
			each val in Attr
				option= val

doctype 5
html
	head
		title Talent bearbeiten
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
		style.
			body {
				font-family: sans-serif;
			}
			label {
				float: left;
				width: 10em;
			}
			form {
				padding-left: 5em;
			}
			.spez {
				list-style-type: none;
				margin: 0;
				margin-left: 10em;
				padding: 0;
			}
			fieldset {
				display: inline-block;
				padding: 2em 4em;
				border-radius: 3em;
			}
	body
		h1 Talent [#{name}] bearbeiten:
		form(action="/talent/"+_id, method="post", accept-charset="utf-8")
			fieldset
				div
					label(for="t_name") Name
					input#t_name(type="text", name="name", placeholder="Talent-Name", value=name)
				div
					label Talentgruppe
					select#typ(size="1", name="typ")
						each val in kategorie
							option= val
				div
					label Probe
					+Probe3()
					each val, key in probe
						script $('.probe').eq(#{key}).val('#{val}');
				div
					label Spezialisierungen
					ul.spez
						each val in spezialisierungen
							li
								input(type="text", name="spezialisierungen", value=val)
								button.del(type="button")= "\u2717"
						li
							button#add(type="button") +
				button(type="submit") speichern
		script.
			$('#add').on("click", function() {
				$('<li><input type="text" name="spezialisierungen"></li>').insertBefore(this.parentNode);
			});
			$('#typ').val('#{typ}');
			$('.del').on('click', function() {
				$(this).closest('li').remove();
			});
		h1
			a(href="/") Talentliste