mixin Probe3()
	- var Attr = ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
	- for (var i=3; i--;)
		select.probe(size="1", name="probe")
			each val in Attr
				option= val

doctype 5
html
	head
		meta(charset="utf-8")
		title Talent bearbeiten
		link(rel="stylesheet", type="text/css", href="/system-new.css")
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
	body
		nav
			a(href="/talent/liste") Talentliste
		form(action="/talent/"+_id, method="post", accept-charset="utf-8")
			input(type="hidden", name="_method", value="put")
			fieldset
				h1.mitte [#{name}] bearbeiten:
			fieldset
				div
					label(for="t_name") Name
					input#t_name(type="text", name="name", placeholder="Talent-Name", value=name)
				div
					label Talentgruppe
					select#typ(size="1", name="typ")
						each val in kategorie
							option= val
				div
					label Probe
					+Probe3()
					each val, key in probe
						script $('.probe').eq(#{key}).val('#{val}');
				div
					label Lernstufe
					select#stufe(size="1", name="stufe")
						option A+
						option A
						option B
						option C
						option D
						option E
						option F
						option G
						option H
				div
					label Standard?
					input(type="checkbox", name="standard", checked=standard)
				div
					label Spezialisierungen
					ul.indent
						each val in spezialisierungen
							li
								input(type="text", name="spezialisierungen", value=val)
								button.del(type="button")= "\u2717"
						li
							button#add(type="button") +
			fieldset.submitter.mitte
				button(type="submit") speichern
		script.
			$('#add').on("click", function() {
				$('<li><input type="text" name="spezialisierungen"></li>').insertBefore(this.parentNode);
			});
			$('#typ').val('#{typ}');
			$('#stufe').val('#{stufe}');
			$('.del').on('click', function() {
				$(this).closest('li').remove();
			});
		
		form(action="/talent/"+_id, method="post", accept-charset="utf-8")
			input(type="hidden", name="_method", value="delete")
			fieldset.mitte.submitter
				button(type="submit") löschen
