!!! 5
html
	head
		meta(charset="utf-8")
		title Liturgie bearbeiten
		link(rel="stylesheet", type="text/css", href="/dropout.css")
		link(rel="stylesheet", type="text/css", href="/system-new.css")
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
		style.
			#gott button {
				width: 15em;
			}
	body
		#logout
			a(href="/logout") #{user.local.name} abmelden
		form#new(action="/liturgie/"+_id, method="post", accept-charset="utf-8")
			input(type="hidden", name="_method", value="put")
			fieldset
				h1.mitte [#{name}] bearbeiten:
			fieldset
				div
					label(for="l_name") Name
					input#l_name.primary-field(type="text", name="name", placeholder="Liturgie-Name", value=name, required)
				div
					label(for="l_grad") Grad
					select#l_grad(name="grad", size="1")
						each __val, __key in {1:"I", 2:"II", 3:"III", 4:"IV", 5:"V", 6:"VI", 7:"VII"}
							option(value=__key, selected=(grad ==__key))=__val
				div
					label Ritualdauer
					.dropout(data-name="rd", data-options="Stoßgebet (? A),Gebet,Andacht,Zeremonie,Zyklus", data-default=rd)
				div
					label Reichweite
					.dropout(data-name="rw", data-options="Selbst,Berührung,Sicht,Fern", data-default=rw)
				div
					label(for="l_wd") Wirkungsdauer
					input#l_wd(type="text", name="wd", placeholder="Wirkungsdauer", value=wd)
				div
					label Ziel
					.dropout(data-name="ziel", data-options="G,P,PP,PPP,PPPP,G+P,G+PP,P+P,P+PP,Z,ZZ,ZZZ,ZZZZ", data-default=ziel)
				div#gott
					label Zugehörigkeit
					button#uni(type="button") universell
					- var __count = 0
					each __name, __typ in _Götter
						- __count += 1
						ul.indent
							li
								button(type="button")=__typ
							each __gott, __idx in __name
								li
									input(type="checkbox", name="typ[]", id="g"+__count+"_"+__idx, value=__gott, checked=(typ.indexOf(__gott)>-1))
									label(for="g"+__count+"_"+__idx)=__gott
			fieldset.submitter.mitte
				button(type="submit") speichern

		form#new(action="/liturgie/"+_id, method="post", accept-charset="utf-8")
			input(type="hidden", name="_method", value="delete")
			fieldset.submitter.mitte
				button(type="submit") löschen
		script.
			$('#uni').on("click", function() {
				$('#gott input').prop('checked', true);
			});
			$('#gott').on("click", ".indent button", function() {
				var $boxes = $(this).closest('ul').find('input');
				$boxes.prop('checked', !$boxes.prop('checked'));
			});
			$('.dropout').each(function() {
				var $datasrc = $(this);
				var options  = $datasrc.data('options');
				var $text    = $('<input type="text"/>')
					.prop('name', $datasrc.data('name'))
					.val($datasrc.data('default'))
				;
				if (options && options.length) {
					var $ul   = $('<ul/>').addClass('options');
					var $down = $('<button type="button">▼</button>');
					options.split(',').forEach(function(item) {
						$('<li/>').text(item).appendTo($ul);
					});
					$down.on('click', function() {
						$ul.toggle();
					});    
					$ul.on('click', 'li', function() {
						$text.val(this.textContent);
						$ul.hide();
					});
					$(this).append($ul, $text, $down);
					var style   = $text.offset();
					style.top  += $text.outerHeight();
					style.width = $text.outerWidth() - 2;
					$ul.css(style);
				}
				else {
					$(this).append($text);
				}
			});
