mixin Probe3()
	- var Attr = ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK", "??"]
	- for (var i=3; i--;)
		select.probe(size="1", name="Probe")
			each val in Attr
				option= val
doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title Zauberspruch bearbeiten
		link(rel="stylesheet", type="text/css", href="/css/system-new.css")
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
	body
		nav
			#logout
				a(href="/logout") abmelden
			a(href="/zauber/liste") Zauberliste
		form#nesp(action="/zauber/"+_Zauber._id, method="post", accept-charset="utf-8")
			input(type="hidden", name="_method", value="put")
			fieldset
				h1.mitte [#{_Zauber.Name}] bearbeiten:
			fieldset
				div
					label(for="z_name") Name
					input#z_name.primary-field(type="text", name="Name", value=_Zauber.Name, required)
				div
					label Probe
					+Probe3()
					each val, key in _Zauber.Probe
						script $('.probe').eq(#{key}).val('#{val}');
				div
					label Komplexität
					select#stufe(size="1", name="Komplexität")
						option A
						option B
						option C
						option D
						option E
						option F
						option G
						option H
				div
					label(for="z_zd") Zauberdauer
					input#z_zd(type="text", name="cast[ZD]", value=_Zauber.cast.ZD, required)
				div
					label(for="z_asp") Kosten
					input#z_asp(type="text", name="cast[AsP]", value=_Zauber.cast.AsP, required)
				div
					label(for="z_wd") Wirkungsdauer
					input#z_wd(type="text", name="cast[WD]", value=_Zauber.cast.WD)
				div
					label(for="z_rw") Reichweite
					input#z_rw(type="text", name="cast[RW]", value=_Zauber.cast.RW, required)					
				div
					label Typ
					input#typ(type="hidden", name="modifikation[typ]", value="")
					ul.indent
						li
							input(type="checkbox", value="A", id="typ_a", checked=_Zauber.modifikation.typ.indexOf('A') > -1)
							label(for="typ_a") Aufrechterhaltender Zauber
						li
							input(type="checkbox", value="M", id="typ_m", checked=_Zauber.modifikation.typ.indexOf('M') > -1)
							label(for="typ_m") wirkt gegen die Magieresistenz
						li
							input(type="checkbox", value="S", id="typ_s", checked=_Zauber.modifikation.typ.indexOf('S') > -1)
							label(for="typ_s") Erschwernis durch festgelegte Stufe (Gift, Beschwörungsschwierigkeit, etc.)
						li
							input(type="checkbox", value="X", id="typ_x", checked=_Zauber.modifikation.typ.indexOf('X') > -1)
							label(for="typ_x") situationsabhängige Erschwernis
				div
					label Repräsentationen
					ul.indent
						each __rep, __idx in Repräsentation
							- var __active = _Zauber.Repräsentationen.indexOf(__rep.short) > -1
							li
								input(type="checkbox", name="Repräsentationen[]", value=__rep.short, id="rep"+__idx, checked=__active)
								label(for="rep"+__idx, title=__rep.short)= __rep.long
				div
					label Ziel
					ul.indent
						each __ziel, __idx in ziel
							- var __active = _Zauber.Ziel.indexOf(__ziel.short) > -1
							li
								input(type="checkbox", name="Ziel[]", value=__ziel.short, id="zl"+__idx, checked=__active)
								label(for="zl"+__idx, title=__ziel.short)= __ziel.long
				div
					label erlaubte spontane Modifikationen
					ul.indent
						each __spm, __idx in spomo
							- var __active = _Zauber.SpoMod.indexOf(__spm.short) > -1
							li
								input(type="checkbox", name="SpoMod[]", value=__spm.short, id="spm"+__idx, checked=__active)
								label(for="spm"+__idx, title=__spm.short)= __spm.long
				div
					label Merkmale
					ul.indent
						each __mmk, __idx in Merkmal
							- var __active = _Zauber.Merkmale.indexOf(__mmk) > -1
							li
								input(type="checkbox", name="Merkmale[]", value=__mmk, id="mmk"+__idx, checked=__active)
								label(for="mmk"+__idx)= __mmk
			fieldset.submitter.mitte
				button(type="submit") speichern
		script.
			$('#stufe').val('#{_Zauber.Komplexität}');
			$('#nesp').on('submit', function() {
				var $choices = $('#typ').closest('div').find(':checked');
				var val = "";
				$choices.each(function() {
					val += this.value;
				});
				$('#typ').val(val);
			});
		form(action="/zauber/"+_Zauber._id, method="post", accept-charset="utf-8")
			input(type="hidden", name="_method", value="delete")
			fieldset.submitter.mitte
				button(type="submit") löschen
