!!! 5
html
	head
		title Liturgie [#{name}] bearbeiten
		meta(charset="utf-8")
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
		style.
			body {
				font-family: Georgia, sans-serif;
			}
			fieldset > div {
				padding: 0.5em;
			}
			div > label {
				float: left;
				width: 10em;
			}
			ul {
				list-style-type: none;
			}
			.spez {
				list-style-type: none;
				margin: 0;
				margin-left: 10em;
				padding: 0;
			}
			fieldset {
				border-radius: 3em;
				padding: 2em 4em;
				width: 30em;
				margin: 1em;
			}
			.mitte {
				text-align: center;
			}
			.submitter button {
				width: 10em;
				height: 2.5em;
				margin: 0 1em;
			}
			#gott button {
				width: 15em;
			}
	body
		form#new(action="/liturgie/"+_id, method="post", accept-charset="utf-8")
			input(type="hidden", name="_method", value="put")
			fieldset
				h1.mitte [#{name}] bearbeiten
			fieldset
				div
					label(for="l_name") Name
					input#l_name(type="text", name="name", placeholder="Liturgie-Name", value=name, required)
				div
					label(for="l_grad") Grad
					select#l_grad(name="grad", size="1")
						each __val, __key in {1:"I", 2:"II", 3:"III", 4:"IV", 5:"V", 6:"VI", 7:"VII"}
							option(value=__key, selected=(grad ==__key))=__val
				div
					label(for="l_rd") Dauer
					select#l_rd(name="rd", size="1")
						option(selected=("Stoßgebet"==rd.split(" ")[0])) Stoßgebet
						option(selected=("Gebet"==rd)) Gebet
						option(selected=("Andacht"==rd)) Andacht
						option(selected=("Zeremonie"==rd)) Zeremonie
						option(selected=("Zyklus"==rd)) Zyklus
					- var __res = /\d+/.exec(rd)
					- var __val = __res ? __res[0] : 20
					input#l_rd_sg(type="number", min="1", max="20", step="1", value=__val, title="nur bei Stoßgebeten", style="width: 3em; text-align: center;")
					| &nbsp;Aktionen
				div
					label(for="l_rw") Reichweite
					select#l_rw(name="rw", size="1")
						each __val in ["Selbst", "Berührung", "Sicht", "Fern"]
							option(selected=(rw ==__val)?true:false)=__val
				div
					label(for="l_wd") Wirkungsdauer
					input#l_wd(type="text", name="wd", placeholder="Wirkungsdauer", value=wd)
				div
					label(for="l_ziel") Ziel
					select#l_ziel(name="ziel", size="1")
						option(value="G", selected=(ziel=="G")) Geweihter
						option(value="P", selected=(ziel=="P")) 1 Person/Objekt
						option(value="PP", selected=(ziel=="PP")) ≤ 10 Pers./Obj.
						option(value="PPP", selected=(ziel=="PPP")) ≤ 100 Pers./Obj.
						option(value="PPPP", selected=(ziel=="PPPP")) ≤ 1.000 Pers./Obj.
						option(value="P+P", selected=(ziel=="P+P")) 2 Personen gegenseitig
						option(value="P+PP", selected=(ziel=="P+PP")) Person & Gruppe
						option(value="Z", selected=(ziel=="Z")) ≤ 10 m
						option(value="ZZ", selected=(ziel=="ZZ")) ≤ 100 m
						option(value="ZZZ", selected=(ziel=="ZZZ")) ≤ 1.000 m
						option(value="ZZZZ", selected=(ziel=="ZZZZ")) ≤ 10 km
				div#gott
					label Zugehörigkeit
					button#uni(type="button") universell
					- var __count = 0
					each __name, __typ in _Götter
						- __count += 1
						ul.spez
							li
								button(type="button")=__typ
							each __gott, __idx in __name
								li
									input(type="checkbox", name="typ[]", id="g"+__count+"_"+__idx, value=__gott, checked=(typ.indexOf(__gott)>-1))
									label(for="g"+__count+"_"+__idx)=__gott
			fieldset.submitter.mitte
				button(type="submit") speichern
				button(type="reset") zurücksetzen
		form#new(action="/liturgie/"+_id, method="post", accept-charset="utf-8")
			input(type="hidden", name="_method", value="delete")
			fieldset.submitter.mitte
				button(type="submit") löschen
		script.
			$('#new').on("submit", function() {
				var $rd = $('#l_rd');
				var $sg = $('#l_rd_sg');
				if ($rd.val() === "Stoßgebet") {
					$rd.remove();
					$('<input name="rd" type="hidden"/>').val("Stoßgebet (" + $sg.val() + " A)").appendTo(this);
				}
			});
			$('#uni').on("click", function() {
				$('#gott input').prop('checked', true);
			});
			$('#gott').on("click", ".spez button", function() {
				var $boxes = $(this).closest('ul').find('input');
				$boxes.prop('checked', !$boxes.prop('checked'));
			});