mixin Probe3()
	- var Attr = ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
	- for (var i=3; i--;)
		select.probe(size="1", name="Probe")
			each val in Attr
				option= val
!!! 5
html(lang="de")
	head
		meta(charset="utf-8")
		title Neues Ritual
		link(rel="stylesheet", type="text/css", href="/system-new.css")
		script(src="/jquery-2.0.3.min.js")
	body
		h1 Neues Ritual:
		form#nerit(action="/ritual/neu", method="post", accept-charset="utf-8")
			fieldset
				div
					label(for="r_name") Name
					input#r_name.primary-field(type="text", name="Name", placeholder="Ritualname", required)
				div
					label#probe(title="zum Deaktivieren klicken") Probe
					+Probe3()
				div
					label(for="mod") Modifikator
					input#mod(type="text", name="Modifikator", value="")
				div
					label Talent
					ul.indent
						li
							strong Schamanistische Rituale:
						li
							input#ruf(type="checkbox", name="Talent[]", value="Geister rufen")
							label(for="ruf") Geister rufen
						li
							input#bin(type="checkbox", name="Talent[]", value="Geister binden")
							label(for="bin") Geister binden
						li
							input#ban(type="checkbox", name="Talent[]", value="Geister bannen")
							label(for="ban") Geister bannen
						li
							input#auf(type="checkbox", name="Talent[]", value="Geister aufnehmen")
							label(for="auf") Geister aufnehmen
						li
							strong Elfenlieder:
						li
							input#sing(type="checkbox", name="Talent[]", value="Singen")
							label(for="sing") Singen
						li
							input#mus(type="checkbox", name="Talent[]", value="Musizieren")
							label(for="mus") Musizieren
				div
					label(for="r_rd") Ritualdauer
					input#r_rd(type="text", name="cast[RD]", placeholder="Aktivierung")
				div
					label(for="r_asp") Kosten
					input#r_asp(type="text", name="cast[AsP]")
				div
					label(for="r_wd") Wirkungsdauer
					input#r_wd(type="text", name="cast[WD]")
				div
					label(for="r_rw") Reichweite
					input#r_rw(type="text", name="cast[RW]")					
				div
					label Ritualkenntnis
					ul.indent
						each __rk, __key in _rkListe
							if typeof __rk === "string"
								li
									input(type="checkbox", name="Repräsentationen[]", value=__key, id="rk_"+__key)
									label(for="rk_"+__key)=__rk
						li
							input(type="checkbox", name="Repräsentationen[]", value="Vtm", id="vt")
							label(for="vt") Vertrautenmagie
						li.sublist
							input#ztz(type="checkbox", name="Repräsentationen[]", value="Ztz")
							label(for="ztz") Zaubertänzer
							ul
								each __trad, __key in _rkListe.Zaubertänzer
									li
										input(type="checkbox", name="Traditionen[]", value=__key, id="zt_"+__key)
										label(for="zt_"+__key)=__trad
						li.sublist
							input#shm(type="checkbox", name="Repräsentationen[]", value="Shm")
							label(for="shm") Schamanismus
							ul
								each __trad, __key in _rkListe.Schamane
									li
										input(type="checkbox", name="Traditionen[]", value=__key, id="sm_"+__key)
										label(for="sm_"+__key)=__trad
				div
					label Merkmale
					ul.indent
						each __mmk, __idx in _merkmal
							li
								input(type="checkbox", name="Merkmale[]", value=__mmk, id="mmk"+__idx)
								label(for="mmk"+__idx)= __mmk
			fieldset.submitter.mitte
				button(type="submit") speichern
				button(type="reset") zurücksetzen
		script(src="/system-ritual.js")