mixin Probe3()
	- var Attr = ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK", "??"]
	- for (var i=3; i--;)
		select.probe(size="1", name="Probe")
			each val in Attr
				option= val
!!! 5
html(lang="de")
	head
		meta(charset="utf-8")
		title Neuer Zauberspruch
		link(rel="stylesheet", type="text/css", href="/system-new.css")
	body
		#logout
			a(href="/logout") abmelden
		form#nesp(action="/zauber/neu", method="post", accept-charset="utf-8")
			fieldset
				h1.mitte Neuer Zauberspruch:
			fieldset
				div
					label(for="z_name") Name
					input#z_name.primary-field(type="text", name="Name", required)
				div
					label Probe
					+Probe3()
				div
					label Komplexität
					select#stufe(size="1", name="Komplexität")
						option A
						option B
						option C
						option D
						option E
						option F
						option G
						option H
				div
					label(for="z_zd") Zauberdauer
					input#z_zd(type="text", name="cast[ZD]", required)
				div
					label(for="z_asp") Kosten
					input#z_asp(type="text", name="cast[AsP]", required)
				div
					label(for="z_wd") Wirkungsdauer
					input#z_wd(type="text", name="cast[WD]")
				div
					label(for="z_rw") Reichweite
					input#z_rw(type="text", name="cast[RW]", required)					
				div
					label Typ
					input#typ(type="hidden", name="modifikation[typ]", value="")
					ul.indent
						li
							input(type="checkbox", value="A", id="typ_a")
							label(for="typ_a") Aufrechterhaltender Zauber
						li
							input(type="checkbox", value="M", id="typ_m")
							label(for="typ_m") wirkt gegen die Magieresistenz
						li
							input(type="checkbox", value="S", id="typ_s")
							label(for="typ_s") Erschwernis durch festgelegte Stufe (Gift, Beschwörungsschwierigkeit, etc.)
						li
							input(type="checkbox", value="X", id="typ_x")
							label(for="typ_x") situationsabhängige Erschwernis
				div
					label Repräsentationen
					ul.indent
						each __rep, __idx in Repräsentation
							li
								input(type="checkbox", name="Repräsentationen[]", value=__rep.short, id="rep"+__idx)
								label(for="rep"+__idx, title=__rep.short)= "("+__rep.short+") "+__rep.long
				div
					label Ziel
					ul.indent
						each __ziel, __idx in ziel
							li
								input(type="checkbox", name="Ziel[]", value=__ziel.short, id="zl"+__idx)
								label(for="zl"+__idx, title=__ziel.short)= __ziel.long
				div
					label erlaubte spontane Modifikationen
					ul.indent
						each __spm, __idx in spomo
							li
								input(type="checkbox", name="SpoMod[]", value=__spm.short, id="spm"+__idx)
								label(for="spm"+__idx, title=__spm.short)= "("+__spm.short+") "+__spm.long
				div
					label Merkmale
					ul.indent
						each __mmk, __idx in Merkmal
							li
								input(type="checkbox", name="Merkmale[]", value=__mmk, id="mmk"+__idx)
								label(for="mmk"+__idx)= __mmk
			fieldset.submitter.mitte
				button(type="submit") speichern
				button(type="reset") zurücksetzen
		script.
			$ = document.getElementById.bind(document);
			$('nesp').addEventListener('submit', function(evt) {
				var choices = $('typ').parentNode.querySelectorAll(':checked');
				var val = "";
				for (var i=0, l=choices.length; i<l; i+=1) {
					val += choices[i].value;
				}
				$('typ').value = val;
			});