doctype 5
html
	head
		meta(charset="utf-8")
		title Talent-Übersicht
		link(rel="stylesheet", type="text/css", href="/system-list.css")
		style.
			td:nth-child(3), td:nth-child(4) {
				text-align: center;
			}
	body
		header
			a(href="/talent/neu") neues Talent
		main
			table
				caption Liste der Talente
				colgroup
					col(span="2", style="width: 15em;")
					col(style="width: 3em;")
					col(style="width: 10em;")
					col(style="width: 3em;")
					col
				thead
					tr
						th Talent
						th Kategorie
						th Stufe
						th Probe
						th Basis
						th Spezialisierungen
				tbody
					each val in Liste
						tr
							td
								a(href="/talent/"+val._id)= val.name
							td= val.typ
							td= val.stufe || ''
							td= val.probe.join(' / ')
							td
								if (val.standard === true)
									| X
							if Array.isArray(val.spezialisierungen)
								td= val.spezialisierungen.join(', ')
							else
								td= val.spezialisierungen
		footer
			a(href="/talent/neu") neues Talent
