doctype html
html
	head
		meta(charset="utf-8")
		title Liturgie-Übersicht
		link(rel="stylesheet", type="text/css", href="/css/system-list.css")
	body
		header
			#logout
				a(href="/logout") abmelden
			a(href="/liturgie/neu") neue Liturgie
		main
			table
				caption Liste der Liturgien
				thead
					tr
						th Name
						th Grad
						th Dauer
						th Ziel
						th Reichweite
						th Wirkungsdauer
						th(style="width: 50%") Götter
				tbody
					each __lit in $Liste
						tr
							td
								a(href="/liturgie/"+__lit._id)=__lit.name
							td=__lit.grad
							td=__lit.rd
							td=__lit.ziel
							td=__lit.rw
							td=__lit.wd
							td=__lit.typ.join(', ')
		footer
			a(href="/liturgie/neu") neue Liturgie
