doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title Ritual-Übersicht
		link(rel="stylesheet", type="text/css", href="/system-list.css")
		style.
			th {
				padding: 0.4em 0;
			}
			thead {
				background-color: #eee;
			}
			tbody:nth-child(odd) {
				background-color: #ddd;
			}
			td {
				height: 1em;
			}
	body
		header
			#logout
				a(href="/logout") abmelden
			a(href="/ritual/neu") Neues Ritual
		main
			table
				caption Liste der Rituale
				colgroup
					col
					col
					col(span="4", style="width: 15%;")
				thead
					tr
						th(rowspan="2") Name
						th Probe
						th RD
						th AsP
						th WD
						th RW
					tr
						th Mod.
						th(title="Ritualkenntnis") RK.
						th(title="Tradition/Repräsentation") Trad.
						th(colspan="2") Merkmale
				each __rit in Rituale
					- var __talente = Array.isArray(__rit.Talent) ? __rit.Talent : [];
					- if (__rit.Probe.length) { __talente.unshift(__rit.Probe.join(' · ')); }
					tbody.mitte
						tr
							td.links(rowspan="2")
								a(href="/ritual/"+__rit._id)=__rit.Name
							td=__talente.join(', ')
							td=__rit.cast.RD
							td=__rit.cast.AsP
							td=__rit.cast.WD
							td=__rit.cast.RW
						tr
							td=__rit.Modifikator
							td=__rit.Repräsentationen.join(', ')
							td=__rit.Traditionen.join(', ')
							td(colspan="2")=__rit.Merkmale.join(', ')
		footer
			a(href="/ritual/neu") Neues Ritual