doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title DCM – DSA Charakter Manager
		//link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		style.
			ol.dcm-list-item li {
				padding-top:    0.2em;
				padding-bottom: 0.2em;
			}
			.dcm-def-list dt {
				margin-top:    1em;
				margin-bottom: 0.5em;
			}
	body
		nav.navbar.navbar-default(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-chars")
						span.sr-only Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand DCM
				#navbar-collapse-chars.collapse.navbar-collapse
					ul.nav.navbar-nav
						each __link in _Menu.left
							- var __isCurrent = __link.url === _Menu.currentURL;
							if __isCurrent
								li.active
									a=__link.title
							else
								li
									a(href=__link.url)=__link.title
					ul.nav.navbar-nav.navbar-right
						each __link in _Menu.right
							- var __isCurrent = __link.url === _Menu.currentURL;
							li
								a(href=__isCurrent ? null : __link.url, title=__link.title)
									span.hidden-xs(class=__link.sign.join(" ")) &nbsp;
									span.visible-xs=__link.title
		.container
			.page-header.text-center
				h1
					span.fa.fa-info-circle
					|  Rund um DCM 
			.container
				h3 Verweise
				p
					span.fa.fa-github
					|  GitHub Projekt: &nbsp;
					a(href="https://github.com/Dormilich/dcm") DCM @ GitHub&nbsp;
						span.fa.fa-external-link
				p 
					span.fa.fa-github
					|  Wenn etwas nicht funktioniert oder ein neues Feature fehlt: &nbsp;
					a(href="https://github.com/Dormilich/dcm/issues") GitHub Issue Tracker&nbsp;
						span.fa.fa-external-link
				p 
					span.fa.fa-comments-o
					|  An der Stelle möchte ich mich auch bei Tobias Carstens für die Layout-Diskussionen und  Chris Sevilleja für das <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local" lang="en">Node Authentication Tutorial <span class="fa fa-external-link"></span></a> bedanken.
				h3 FAQ
				dl.dcm-def-list
					dt Ich habe mein Passwort vergessen!
					dd 
						p Hier gibt es zwei Möglichkeiten:
						ol.dcm-list-item(type="1")
							li Du hast nur ein lokales Konto (E-Mail/Passwort): Frag den Admin, daß er endlich das Passwort-Reset macht.
							li Dein lokales Konto ist mit einem Sozialnetzwerkkonto (z.B. facebook) verlinkt: Trenne das lokale Konto ab und verbinde es wieder neu. Falls du das Sozialnetzwerkkonto getrennt haben solltest und dich abgemeldet hast, siehe 1. (solange du angemeldet bist, kannst du das Trennen/Verbinden beliebig wiederholen). 
					dt Ich habe zwei Konten verlinkt, aber ich sehe immer nur die Helden von einem Account.
					dd
						p Dann hast du sehr wahrscheinlich dich vorher mit beiden Konten angemeldet, also zwei Benutzerkonten angelegt. Die Verlinkung betrift aber nur die Anmeldedaten eines einzigen Nutzerkontos. Da kann nur noch der Admin was machen.
