!!! 5
html(lang="de")
	head
		title= Person.Name
		link(rel="stylesheet", type="text/css", href="/show.css")
	body
		nav.main-menu
			a(href="/chars") [ Charakterliste ]
			a(href="/neu") [ Neuer Charakter ]
			if _id
				a(href="/edit/" + _id) [ #{Person.Name.split(' ')[0]} bearbeiten ]
			
		section
			h1.mitte= Person.Name
			
			table.data-section.links.eigenschaften
				caption Beschreibung
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				tr
					th Geschlecht
					td= Person.Geschlecht
					th Sozialstatus
					td= Person.SO
				tr
					th Größe
					td #{Person.Größe} HF
					th Titel
					td= Person.Titel
				tr
					th Gewicht
					td #{Person.Gewicht} Stein
					th Haarfarbe
					td= Person.Haarfarbe
				tr
					th Tsatag
					- var monate = ["PRA", "RON", "EFF", "TRA", "BOR", "HES", "FIR", "TSA", "PHE", "PER", "ING", "RAH", "(NLT)"]
					td= Person.Tsatag.tag+". "+monate[Person.Tsatag.monat]+" "+Person.Tsatag.jahr+" BF"
					th Augenfarbe
					td= Person.Augenfarbe
				tr
					th Aussehen
					td(colspan="3")
						each line in Person.Aussehen.split('\n')
							p= line
				tr
					th Hintergrund
					td(colspan="3")
						each line in Person.Hintergrund.split('\n')
							p= line
			
			table.data-section.links.eigenschaften
				caption Generierung
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				each val in ["Rasse", "Kultur", "Profession"]
					tr
						th #{val}:
						td= Generierung[val].name
						th Modifikationen:
						td= Generierung[val].modifikation
				if Generierung.BgB.name
					tr
						th BgB:
						td= Generierung.BgB.name
						th Modifikationen:
						td= Generierung.BgB.modifikation
			
			table.data-section.mitte.eigenschaften
				caption Attribute
				colgroup
					col(span="10", style="width: 10%;")
				thead
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							th= val
						th
						th GS
				tbody
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							td= Attribute[val].wert
						td
						td= Basiswerte.GS
			
			table.data-section.mitte.eigenschaften
				caption Basiswerte
				colgroup
					col(span="10", style="width: 10%;")
				thead
					tr
						each val in ["LeP", "AuP", "AsP", "KaP", "MR", "INI", "AT", "PA", "FK", "WS"]
							th= val
				tbody
					tr
						each val in ["LeP", "AuP", "AsP", "KaP", "MR"]
							td= Basiswerte[val] || '—'
						each val in ["INI", "AT", "PA", "FK", "WS"]
							td= Kampfwerte[val]
			
			table.data-section
				caption Vor- und Nachteile
				tr
					td
						ul.vor-nach.fl-links
							li.mitte
								strong Vorteile
							each val in Vorteile
								li= val
						ul.vor-nach.fl-rechts
							li.mitte
								strong Nachteile
							each val in Nachteile
								li= val
