doctype 5
html(lang="de")
	head
		title Sonderfertigkeiten hinzufügen
		link(rel="stylesheet", type="text/css", href="/show.css")
		script(src="/jquery-2.0.3.min.js")
	body
		// nav
		unless SF
			- SF = {}
		unless SF.Kampf
			- SF.Kampf = []
		unless SF.Manöver
			- SF.Manöver = []
		unless SF.allgemein
			- SF.allgemein = []
		unless SF.magisch
			- SF.magisch = []
		unless SF.geweiht
			- SF.geweiht = []
		
		section
			h1.mitte= held.Person.Name
			form(action="/sf/"+_id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				
				table.data-section
					caption allgemeine Sonderfertigkeiten
					tr
						td
							ul.vor-nach.fl-links
								each val, key in _data.allgemein
									li
										input(type="checkbox", name="SF[allgemein]", id="sf1_"+key, value=val, checked= SF.allgemein.indexOf(val) !== -1)
										label(for="sf1_"+key)= val
								li
									input.spezifisch(type="checkbox", name="SF[allgemein]", value="Berufsgeheimnis")
									label Berufsgeheimnis
									button.add.fl-rechts(type="button") +
									input.fl-rechts(type="text")
								li
									input.spezifisch(type="checkbox", name="SF[allgemein]", value="Ortskenntnis")
									label Ortskenntnis
									button.add.fl-rechts(type="button") +
									input.fl-rechts(type="text")
							ul.vor-nach.fl-rechts
								li
									strong Kulturkunde:
								each val, key in _data.Kulturkunde
									li
										input(type="checkbox", name="SF[allgemein]", id="sf2_"+key, value="Kulturkunde (#{val})", checked= SF.allgemein.indexOf("Kulturkunde ("+val+")") !== -1)
										label(for="sf2_"+key) Kulturkunde (#{val})
				
				table.data-section
					caption Kampf-Sonderfertigkeiten
					tr
						td
							ul.vor-nach.fl-links
								- for (var x=0, l=Math.ceil(_data.Kampf.length/2); x<l; x++)
									li
										input(type="checkbox", name="SF[Kampf]", id="sf3_"+x, value=_data.Kampf[x], checked= SF.Kampf.indexOf(val) !== -1)
										label(for="sf3_"+x)= _data.Kampf[x]
							ul.vor-nach.fl-rechts
								- for (var y=x, l=_data.Kampf.length; y<l; y++)
									li
										input(type="checkbox", name="SF[Kampf]", id="sf4_"+y, value=_data.Kampf[y], checked= SF.Kampf.indexOf(val) !== -1)
										label(for="sf4_"+y)= _data.Kampf[y]
								li
									input.spezifisch(type="checkbox", name="SF[Kampf]", value="Waffenmeister")
									label Waffenmeister
									button.add.fl-rechts(type="button") +
									input.fl-rechts(type="text")

				table.data-section
					caption Waffenlose Manöver
					tr
						td
							ul.vor-nach.fl-links
								- for (var x=0, l=Math.ceil(_data.Manöver.length/2); x<l; x++)
									li
										input(type="checkbox", name="SF[Manöver]", id="sf7_"+x, value=_data.Manöver[x], checked= SF.Manöver.indexOf(val) !== -1)
										label(for="sf7_"+x)= _data.Manöver[x]
							ul.vor-nach.fl-rechts
								- for (var y=x, l=_data.Manöver.length; y<l; y++)
									li
										input(type="checkbox", name="SF[Manöver]", id="sf8_"+y, value=_data.Manöver[y], checked= SF.Manöver.indexOf(val) !== -1)
										label(for="sf8_"+y)= _data.Manöver[y]

				table.data-section
					caption Karmale Sonderfertigkeiten
					tr
						td
							ul.vor-nach.fl-links
								each val, key in _data.geweiht
									li
										input(type="checkbox", name="SF[geweiht]", id="sf9_"+key, value=val, checked= SF.geweiht.indexOf(val) !== -1)
										label(for="sf9_"+key)= val
								li
									input.auswahl_liste(type="checkbox", name="SF[geweiht]", id="sf9_a", value="Spätweihe")
									label(for="sf9_a") Spätweihe
									select#weihe(size="1")
										optgroup(label="alveranische Gottheiten")
											option Boron
											option Efferd
											option Firun
											option Hesinde
											option Ingrimm
											option Peraine
											option Phex
											option Praios
											option Rahja
											option Rondra
											option Travia
											option Tsa
										optgroup(label="nicht-alveranische Gottheiten")
											option Aves
											option Ifirn
											option Kor
											option Nandus
											option Swafnir
										optgroup(label="echsiche Gottheiten")
											option H’Szint
											option Zsahh
										optgroup(label="orkische Gottheiten")
											option Gravesh
										optgroup(label="zwergische Gottheiten")
											option Angrosch
									script 
				
				table.data-section
					caption Magische Sonderfertigkeiten
					tr
						td
							ul.vor-nach.fl-links
								- for (var x=0, l=Math.ceil(_data.magisch.length/2); x<l; x++)
									li
										input(type="checkbox", name="SF[magisch]", id="sf10_"+x, value=_data.magisch[x], checked= SF.allgemein.indexOf(val) !== -1)
										label(for="sf10_"+x)= _data.magisch[x]
							ul.vor-nach.fl-rechts
								- for (var y=x+1, l=_data.magisch.length; y<l; y++)
									li
										input(type="checkbox", name="SF[magisch]", id="sf11_"+y, value=_data.magisch[y], checked= SF.allgemein.indexOf(val) !== -1)
										label(for="sf11_"+y)= _data.magisch[y]
								li
									input.auswahl_liste(type="checkbox", name="SF[magisch]", id="sf11_a", value="Spätweihe")
									label(for="sf11_a") Merkmalskenntnis
									select.fl-rechts(size="5", multiple, style="width: 50%;")
										option Antimagie
										option Beschwörung
										optgroup(label="Dämonisch")
											option(value="Dämonisch/gesamt") - gesamt
											option(value="Dämonisch/Blakharaz") - Blakharaz
											option(value="Dämonisch/Belhalhar") - Belhalhar
											option(value="Dämonisch/Charyptoroth") - Charyptoroth
											option(value="Dämonisch/Lolgramoth") - Lolgramoth
											option(value="Dämonisch/Thargunitoth") - Thargunitoth
											option(value="Dämonisch/Amazeroth") - Amazeroth
											option(value="Dämonisch/Belshirash") - Belshirash
											option(value="Dämonisch/Asfaloth") - Asfaloth
											option(value="Dämonisch/Tasfarelel") - Tasfarelel
											option(value="Dämonisch/Belzhorash") - Belzhorash
											option(value="Dämonisch/Agrimoth") - Agrimoth
											option(value="Dämonisch/Belkelel") - Belkelel
										optgroup(label="Elementar")
											option(value="Elementar/gesamt") - gesamt
											option(value="Elementar/Eis") - Eis
											option(value="Elementar/Erz") - Erz
											option(value="Elementar/Feuer") - Feuer
											option(value="Elementar/Humus") - Humus
											option(value="Elementar/Luft") - Luft
											option(value="Elementar/Wasser") - Wasser
										option Eigenschaften
										option Einfluß
										option Form
										option Geisterwesen
										option Heilung
										option Hellsicht
										option Herbeirufung
										option Herrschaft
										option Illusion
										option Kraft
										option Limbus
										option Metamagie
										option Objekt
										option Schaden
										option Telekinese
										option Temporal
										option Umwelt
										option Verständigung
									.fl-clear

				.mitte
					button(type="submit", disabled) speichern
		script(type="text/javascript", src="/preprocess.vorteile.js")
		script.
			(function() {
				$('ul').on("click", 'button.add', function() {
					var $li = $(this).closest('li')
					$li.clone().insertAfter($li);
					$(this).remove();
				});
			})();