-	function contains(__array, __string) {
-		if (typeof __array === "string") {
-			return __array.indexOf(__string) > -1;
-		}
-		if (Array.isArray(__array)) {
-			return __array.filter(function(item) {
-				return item.indexOf(__string) > -1;
-			}).length > 0;
-		}
-		return false;
-	}

mixin print(__data)
	p!=JSON.stringify(__data)

mixin SFTableSection(__liste, __name)
	if __liste.length
		tbody
			tr
				th= __name
			tr.links
				td
					ul.vor-nach.fl-links
						- for (var x=0, l=Math.ceil(__liste.length/2); x<l; x++)
							li= __liste[x]
					ul.vor-nach.fl-rechts
						- for (var y=x, l=__liste.length; y<l; y++)
							li= __liste[y]

!!! 5
html(lang="de")
	head
		meta(charset="utf-8")
		title= Person.Name
		link(rel="stylesheet", type="text/css", href="/edit.css")
		link(rel="stylesheet", type="text/css", href="/nav.css")
		style.
	body
		nav
			ul#main-menu
				li
					a(title="springe zu Abschnitt ...") &#8681;
					ul
						li
							a(href="#vnt") Vor- & Nachteile
						li
							a(href="#sf") Sonderfertigkeiten
						li
							a(href="#att") Attribute
						li
							a(href="#bas") Basiswerte
						li
							a(href="#lkw") Liturgiekenntnis
						li
							a(href="#lit") Liturgien
						li
							a(href="/held/"+_id) ► Heldenbogen
						if SF && (contains(SF.magisch, "Ritualkenntnis") || contains(SF.magisch, "Repräsentation"))
							li
								a(href="/magie/"+_id) ► Magiebogen
				li
					a(href="/helden") [ Charakterliste ]
				li
					a(href="/neu") [ Neuer Charakter ]
				li 
					a #{Person.Name.split(' ')[0]} bearbeiten
					ul
						li
							a(href="/sf/"+_id) Sonderfertigkeiten
						li
							a(href="/liturgien/"+_id+'#liturgien') Liturgien
						li
							a(href="/liturgien/"+_id+"#liturgiekenntnis") Liturgiekenntnis

		header#top
			h1.mitte
				a(href="/held/"+_id)= Person.Name
			h2.mitte –Geweihtenbogen–
		main
			table.data-section#vnt
				caption Vor- und Nachteile
				tr
					td
						ul.vor-nach.fl-links
							li.mitte
								strong Vorteile
							each val in Vorteile
								li= val
						ul.vor-nach.fl-rechts
							li.mitte
								strong Nachteile
							each val in Nachteile
								li= val
			
			table.data-section.mitte.eigenschaften#sf
				caption Sonderfertigkeiten
				+SFTableSection(SF.geweiht, 'Karmale Sonderfertigkeiten')
			
			table.data-section.mitte.eigenschaften#att
				caption Attribute
				thead
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							th= val
				tbody
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							td= Attribute[val].wert
			
			table.data-section.mitte.eigenschaften#bas
				caption Basiswerte
				tbody
					tr
						each val in ["LeP", "AuP", "KaP", "MR"]
							th= val
							td= Basiswerte[val] || '—'
			
			table.data-section.mitte.eigenschaften#lkw
				caption Liturgiekenntnis
				colgroup
					col
					col(style="width: 15em;")
					col(style="width: 5em;")
					col(style="width: 15em;")
				thead
					tr
						th Liturgiekenntnis
						th Probe
						th(title="Lernschwierigkeit")
						th LkW
				tbody
					each __lk in Weihe.Liturgiekenntnis
						tr
							td.links=__lk.name
							td(title=__lk._talent.probe.join(' · '))= __lk._talent.probe.map(function(item) { return Attribute[item].wert; }).join(' · ')
							td.mitte= __lk.Lernstufe
							td.mitte= __lk.wert.toString().replace('-', '–')
			
			table.data-section.eigenschaften#lit
				caption Liturgien
				colgroup
					col(style="width: 30%;")
					col(style="width: 5em;")
					col
					col(style="width: 8em;")
					col
					col
				thead
					tr
						th Name
						th Grad
						th Dauer
						th Ziel
						th Reichweite
						th Wirkungsdauer
				if Weihe.Liturgien && Weihe.Liturgien.length
					- var __grad = {1:"I", 2:"II", 3:"III", 4:"IV", 5:"V", 6:"VI", 7:"VII"}
					tbody
						each __lit in Weihe.Liturgien
							tr
								td=__lit.name
								td.mitte=__grad[__lit.grad]
								td=__lit.rd
								td.mitte=__lit.ziel
								td=__lit.rw
								td=__lit.wd
