mixin SFTableSection(__liste, __name)
	if __liste.length
		tbody
			tr
				th= __name
			tr.links
				td
					ul.vor-nach.fl-links
						- for (var x=0, l=Math.ceil(__liste.length/2); x<l; x++)
							li= __liste[x]
					ul.vor-nach.fl-rechts
						- for (var y=x, l=__liste.length; y<l; y++)
							li= __liste[y]


mixin TalentData(talent)
	if talent
		td.links= talent.name
		td
		td.mitte= talent.Lernstufe
		td.mitte= talent.wert.toString().replace('-', '–')
		
mixin TalentTable(__liste, __name)
	table.data-section.mitte.eigenschaften
		caption= __name
		colgroup
			col
			col(style="width: 8em")
			col(style="width: 2em")
			col(style="width: 5em;")
			col
			col(style="width: 8em")
			col(style="width: 2em")
			col(style="width: 5em")
		thead
			tr
				th Talent
				th Probe
				th(title="Lernschwierigkeit")
				th TaW
				th Talent
				th Probe
				th(title="Lernschwierigkeit")
				th TaW
		tbody
			- var __half = Math.ceil(__liste.length/2);
			- for (var x=0; x<__half; x++)
				tr
					+TalentData(__liste[x])
					+TalentData(__liste[x+__half])

mixin LanguageTable(__liste, __name)
	table.data-section.mitte.eigenschaften
		caption= __name
		colgroup
			col
			col(style="width: 5em")
			col(style="width: 2em")
			col(style="width: 5em;")
			col
			col(style="width: 5em")
			col(style="width: 2em")
			col(style="width: 5em")
		thead
			tr
				th Talent
				th Kompl.
				th(title="Lernschwierigkeit")
				th TaW
				th Talent
				th Kompl.
				th(title="Lernschwierigkeit")
				th TaW
		tbody
			- var __half = Math.ceil(__liste.length/2);
			- for (var x=0; x<__half; x++)
				tr
					td.links=__liste[x].name
					td=__liste[x].Komplexität
					td=__liste[x].Lernstufe
					td=__liste[x].wert
					if __liste[x+__half]
						td.links=__liste[x+__half].name
						td=__liste[x+__half].Komplexität
						td=__liste[x+__half].Lernstufe
						td=__liste[x+__half].wert
					
!!! 5
html(lang="de")
	head
		title= held.Person.Name
		link(rel="stylesheet", type="text/css", href="/show.css")
		link(rel="stylesheet", type="text/css", href="/nav.css")
	body
		a#top
		nav
			ul#main-menu
				li
					a.mitte(href="/helden") [ Charakterliste ]
				li
					a.mitte(href="/neu") [ Neuer Charakter ]
				li 
					a.mitte #{held.Person.Name.split(' ')[0]} bearbeiten
					ul
						li
							a(href="/ap/"+_id) Abenteuerpunkte
						li
							a(href="/taw/"+_id) Talente
						li
							a(href="/char/"+_charID) Eigenschaften
						li
							a(href="/sf/"+_id) Sonderfertigkeiten
						li
							a Zauber
						li
							a Rituale
						li
							a Liturgien
				li
					a.mitte(title="springe zu Abschnitt ...") &#8681;
					ul
						li
							a(href="#bes") Beschreibung
						li
							a(href="#gen") Generierung
						li
							a(href="#att") Attribute
						li
							a(href="#bas") Basiswerte
						li
							a(href="#vnt") Vor- & Nachteile
						li
							a(href="#ap") Abenteuerpunkte
						li
							a(href="#sf") Sonderfertigkeiten
						li
							a(href="#taw") Talentwerte

		section(style="clear: both;")
			h1.mitte= held.Person.Name
			
			a#bes
			table.data-section.links.eigenschaften
				caption Beschreibung
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				tr
					th Geschlecht
					td= held.Person.Geschlecht
					th Sozialstatus
					td= held.Person.SO
				tr
					th Größe
					td #{held.Person.Größe} HF
					th Titel
					td= held.Person.Titel
				tr
					th Gewicht
					td #{held.Person.Gewicht} Stein
					th Haarfarbe
					td= held.Person.Haarfarbe
				tr
					th Tsatag
					- var monate = ["PRA", "RON", "EFF", "TRA", "BOR", "HES", "FIR", "TSA", "PHE", "PER", "ING", "RAH", "(NLT)"]
					td= held.Person.Tsatag.tag+". "+monate[held.Person.Tsatag.monat]+" "+held.Person.Tsatag.jahr+" BF"
					th Augenfarbe
					td= held.Person.Augenfarbe
				tr
					th Aussehen
					td(colspan="3")
						each line in held.Person.Aussehen.split('\n')
							p= line
				tr
					th Hintergrund
					td(colspan="3")
						each line in held.Person.Hintergrund.split('\n')
							p= line
			
			a#gen
			table.data-section.links.eigenschaften
				caption Generierung
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				each val in ["Rasse", "Kultur", "Profession"]
					tr
						th #{val}:
						td= held.Generierung[val].name
						th Modifikationen:
						td= held.Generierung[val].modifikation
				if held.Generierung.BgB.name
					tr
						th BgB:
						td= held.Generierung.BgB.name
						th Modifikationen:
						td= held.Generierung.BgB.modifikation
			a#att
			table.data-section.mitte.eigenschaften
				caption Attribute
				colgroup
					col(span="10", style="width: 10%;")
				thead
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							th= val
						th
						th GS
				tbody
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							td= held.Attribute[val].wert
						td
						td= held.Basiswerte.GS
			a#bas
			table.data-section.mitte.eigenschaften
				caption Basiswerte
				colgroup
					col(span="10", style="width: 10%;")
				thead
					tr
						each val in ["LeP", "AuP", "AsP", "KaP", "MR", "INI", "AT", "PA", "FK", "WS"]
							th= val
				tbody
					tr
						each val in ["LeP", "AuP", "AsP", "KaP", "MR"]
							td= held.Basiswerte[val] || '—'
						each val in ["INI", "AT", "PA", "FK", "WS"]
							td= held.Kampfwerte[val]
			a#vnt
			table.data-section
				caption Vor- und Nachteile
				tr
					td
						ul.vor-nach.fl-links
							li.mitte
								strong Vorteile
							each val in held.Vorteile
								li= val
						ul.vor-nach.fl-rechts
							li.mitte
								strong Nachteile
							each val in held.Nachteile
								li= val
		a#ap
		section
			table.data-section.mitte.eigenschaften
				caption Abenteuerpunkte
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				tbody
					tr
						th gesamt
						td= AP.alle
						th frei
						td= AP.frei
		a#sf
		section
			table.data-section.mitte.eigenschaften
				caption Sonderfertigkeiten
				+SFTableSection(SF.allgemein, 'Allgemeine Sonderfertigkeiten')
				+SFTableSection(SF.Kampf, 'Kampf-Sonderfertigkeiten')
				+SFTableSection(SF.Manöver, 'Waffenlose Manöver')
				+SFTableSection(SF.geweiht, 'Karmale Sonderfertigkeiten')
				+SFTableSection(SF.magisch, 'Magische Sonderfertigkeiten')
		a#taw				
		section
			+TalentTable(Talente.körperlich, 'Körperliche Talente')
			+TalentTable(Talente.Gesellschaft, 'Gesellschaftliche Talente')
			+TalentTable(Talente.Natur, 'Natur-Talente')
			+TalentTable(Talente.Wissen, 'Wissenstalente')
			+TalentTable(Talente.Handwerk, 'Handwerkstalente')
			+LanguageTable(Talente.Sprachen, 'Sprachen')
			+LanguageTable(Talente.Schriften, 'Schriften')
		