mixin print(__data)
	p!=JSON.stringify(__data)

-	function contains(__array, __string) {
-		if (typeof __array === "string") {
-			return __array.indexOf(__string) > -1;
-		}
-		if (Array.isArray(__array)) {
-			return __array.filter(function(item) {
-				return item.indexOf(__string) > -1;
-			}).length > 0;
-		}
-		return false;
-	}

mixin SFTableSection(__liste, __name)
	if __liste.length
		tbody
			tr
				th= __name
			tr.links
				td
					ul.vor-nach.fl-links
						- for (var x=0, l=Math.ceil(__liste.length/2); x<l; x++)
							li= __liste[x]
					ul.vor-nach.fl-rechts
						- for (var y=x, l=__liste.length; y<l; y++)
							li= __liste[y]

mixin TalentTable(__liste, __name, __id)
	table.data-section.mitte.eigenschaften(id=__id)
		caption= __name
		colgroup
			col
			col(style="width: 8em;")
			col(style="width: 3em;")
			col(style="width: 5em;")
		thead
			tr
				th Talent
				th Probe
				th(title="Lernschwierigkeit")
				th TaW
		tbody
			each __talent in __liste
				tr
					td.links= __talent._talent.name
						if __talent.Spezialisierung.length
							|  (#{__talent.Spezialisierung.join(', ')})
					td(title=__talent._talent.probe.join(' · '))= __talent._talent.probe.map(function(item) { return Attribute[item].wert; }).join(' · ')
					td.mitte= __talent.Lernstufe
					td.mitte= __talent.wert.toString().replace('-', '–')
				
mixin LanguageTable(__liste, __name)
	table.data-section.mitte.eigenschaften
		caption= __name
		colgroup
			col
			col(style="width: 5em;")
			col(style="width: 3em;")
			col(style="width: 5em;")
		thead
			tr
				th Talent
				th Kompl.
				th(title="Lernschwierigkeit")
				th TaW
		tbody
			each __lang in __liste
				tr
					td.links=__lang.name
					td=__lang.Komplexität
					td=__lang.Lernstufe
					td=__lang.wert

mixin KampfTable(__liste, __name)
	table.data-section.mitte.eigenschaften
		caption= __name
		colgroup
			col
			col(style="width: 3em;")
			col(style="width: 5em;")
			col(style="width: 5em;")
			col(style="width: 5em;")
		thead
			tr
				th Talent
				th
				th AT
				th PA
				th TaW
		tbody
			each __talent in __liste
				tr
					td.links= __talent.name
						if __talent.Spezialisierung.length
							|  (#{__talent.Spezialisierung.join(', ')})
					td= __talent.Lernstufe
					if typeof __talent.AT === 'number' && typeof __talent.PA === 'number'
						td= __talent.AT + Kampfwerte.AT
						td= __talent.PA + Kampfwerte.PA
					else
						td= __talent.AT + Kampfwerte.FK
						td
					td= __talent.TaW

doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title= Person.Name
		link(rel="stylesheet", type="text/css", href="/edit.css")
		link(rel="stylesheet", type="text/css", href="/nav.css")
	body
		nav#top
			ul#main-menu
				li
					a(title="springe zu Abschnitt ...") &#8681;
					// display section
					ul
						li
							a(href="#bes") Beschreibung
						li
							a(href="#gen") Generierung
						li
							a(href="#att") Attribute
						li
							a(href="#bas") Basiswerte
						li
							a(href="#vnt") Vor- &amp; Nachteile
						li
							a(href="#ap") Abenteuerpunkte
						li
							a(href="#sf") Sonderfertigkeiten
						li
							a(href="#waf") Waffen &amp; Rüstungen
						li
							a(href="#taw") Talentwerte
						li 
							a(href="#t_kam") – Kampf-Talente
						li 
							a(href="#t_koe") – Körperliche Talente
						li 
							a(href="#t_ges") – Gesellschaftstalente
						li 
							a(href="#t_nat") – Naturtalente
						li 
							a(href="#t_wis") – Wissenstalente
						li 
							a(href="#t_han") – Handwerkstalente
						li 
							a(href="#t_spr") – Sprachen &amp; Schriften
						li
							a(href="#eqp") Ausrüstung
						if SF && (contains(SF.magisch, "Ritualkenntnis") || contains(SF.magisch, "Repräsentation"))
							li
								a(href="/magie/"+_id) ► Magiebogen
						if SF && contains(SF.geweiht, "Liturgiekenntnis")
							li
								a(href="/weihe/"+_id) ► Geweihtenbogen
				li
					a(href="/helden") [ Charakterliste ]
				li
					a(href="/neu") [ Neuer Charakter ]
				li 
					a #{Person.Name.split(' ')[0]} bearbeiten
					// edit section
					ul
						li
							a(href="/person/"+_id) Beschreibung
						li
							a(href="/generierung/"+_id) Generierung
						li
							a(href="/attribute/"+_id) Attribute
						li
							a(href="/basiswerte/"+_id) Basiswerte
						li
							a(href="/procon/"+_id) Vor- &amp; Nachteile
						li
							a(href="/ap/"+_id) Abenteuerpunkte
						li
							a(href="/sf/"+_id) Sonderfertigkeiten
						li
							a(href="/talente/"+_id) Talente
						li
							a(href="/waffen/"+_id) Waffen
						li
							a(id="/rüstungen/"+_id) Rüstungen
		section(style="clear: both;")
			h1.mitte= Person.Name
			h2.mitte –Heldenbogen–
			
			a#bes
			table.data-section.links.eigenschaften
				caption Beschreibung
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				tr
					th Geschlecht
					td= Person.Geschlecht
					th Sozialstatus
					td= Person.SO
				tr
					th Größe
					td #{Person.Größe} HF
					th Titel
					td= Person.Titel
				tr
					th Gewicht
					td #{Person.Gewicht} Stein
					th Haarfarbe
					td= Person.Haarfarbe
				tr
					th Tsatag
					- var monate = ["PRA", "RON", "EFF", "TRA", "BOR", "HES", "FIR", "TSA", "PHE", "PER", "ING", "RAH", "(NLT)"]
					td= Person.Tsatag.tag+". "+monate[Person.Tsatag.monat]+" "+Person.Tsatag.jahr+" BF"
					th Augenfarbe
					td= Person.Augenfarbe
				tr
					th Aussehen
					td(colspan="3")
						each line in Person.Aussehen.split('\n')
							p= line
				tr
					th Hintergrund
					td(colspan="3")
						each line in Person.Hintergrund.split('\n')
							p= line
			
			a#gen
			table.data-section.links.eigenschaften
				caption Generierung
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				each val in ["Rasse", "Kultur", "Profession"]
					tr
						th #{val}:
						td= Generierung[val].name
						th Modifikationen:
						td= Generierung[val].modifikation
				if Generierung.BgB.name
					tr
						th BgB:
						td= Generierung.BgB.name
						th Modifikationen:
						td= Generierung.BgB.modifikation
			a#att
			table.data-section.mitte.eigenschaften
				caption Attribute
				colgroup
					col(span="10", style="width: 10%;")
				thead
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							th= val
						th
						th GS
				tbody
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							td= Attribute[val].wert
						td
						td= Basiswerte.GS
			a#bas
			table.data-section.mitte.eigenschaften
				caption Basiswerte
				colgroup
					col(span="10", style="width: 10%;")
				thead
					tr
						each val in ["LeP", "AuP", "AsP", "KaP", "MR", "INI", "AT", "PA", "FK", "WS"]
							th= val
				tbody
					tr
						each val in ["LeP", "AuP", "AsP", "KaP", "MR"]
							td= Basiswerte[val] || '—'
						each val in ["INI", "AT", "PA", "FK", "WS"]
							td= Kampfwerte[val]
			a#vnt
			table.data-section
				caption Vor- und Nachteile
				tr
					td
						ul.vor-nach.fl-links
							li.mitte
								strong Vorteile
							each val in Vorteile
								li= val
						ul.vor-nach.fl-rechts
							li.mitte
								strong Nachteile
							each val in Nachteile
								li= val
		a#ap
		section
			table.data-section.mitte.eigenschaften
				caption Abenteuerpunkte
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				tbody
					tr
						th gesamt
						td= AP.alle.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
						th frei
						td= AP.frei
		a#sf
		section
			table.data-section.mitte.eigenschaften
				caption Sonderfertigkeiten
				+SFTableSection(SF.allgemein, 'Allgemeine Sonderfertigkeiten')
				+SFTableSection(SF.Kampf, 'Kampf-Sonderfertigkeiten')
				+SFTableSection(SF.Manöver, 'Waffenlose Manöver')
				+SFTableSection(SF.geweiht, 'Karmale Sonderfertigkeiten')
				+SFTableSection(SF.magisch, 'Magische Sonderfertigkeiten')
		a#waf
		section.fl-clear
			table.data-section.eigenschaften.mitte
				caption INI & Kampfzauber
				thead
					tr
						th
							label(for="k_ini") INI
						th
							label(for="k_be") BE
						th
							input#k_axx(type="checkbox")
							label(for="k_axx") Axxeleratus
						th
							input#k_att(type="checkbox")
							label(for="k_att") Attributo
				tbody
					tr
						td
							input#k_ini(type="number", value=Kampfwerte.INI, step="1")
						td
							//input#k_be(type="number", value="0", min="0", step="1")
							select#k_be(size="1")
								option(value="0") ohne RG
								option(value="-1") RG I
								option(value="-1") RG II
								option(value="-2") RG III
						td
						td
							select#sel_att(size="1")
								option MU
								option IN
								option KL
								option CH
								option FF
								option GE
								option KO
								option(selected) KK
							input#val_att(type="number", value=Attribute.KK.wert)
			table.data-section.eigenschaften.mitte
				caption Nahkampfwaffen
				colgroup
					col(style="width: 20%;")
					col(style="width: 8em;")
					col(span="6")
					col(span="2", style="width: 7em;")
				thead
					tr
						th Waffe
						th Talent
						th DK
						th AT
						th PA
						th TP
						th BF
						th INI
						td
							select(size="1", title="Hauptwaffe")
								option rechts
								option BHK I
								option BHK II
						td
							select(size="1", title="Nebenwaffe")
								option(title="SF Linkhand") links
								option BHK I
								option BHK II
				tbody
					tr
						td.links Helal al’Shamâl
						td Hi / BE–4
						td N
						td 22
						td 16
						td(title="1W+6") 1W+7
						td 1
						td 0
						td
							input#k_hw(type="radio", name="haupthand")
						td
							input#k_nw(type="radio", name="nebenhand")
					tr
						td.links Krakonspieß
						td In / BE–4
						td NS
						td 19
						td 17
						td(title="2W+3") 2W+4
						td —
						td 0
						td
							input#k_hw(type="radio", name="haupthand")
						td
							input#k_nw(type="radio", name="nebenhand")
					tr
						td.links Reitersäbel
						td Sä / BE–2
						td N
						td 9
						td 9
						td(title="1W+4") 1W+5
						td 3
						td +1
						td
							input#k_hw(type="radio", name="haupthand")
						td
							input#k_nw(type="radio", name="nebenhand")
			table.data-section.eigenschaften.mitte
				caption Parierwaffen & Schilde
				colgroup
					col(style="width: 20%;")
					col(style="width: 8em;")
					col(span="6")
					col(span="2", style="width: 7em;")
				thead
					tr
						th Waffe
						th Typ
						td
						td AT
						td PA
						td
						th BF
						th INI
						td
						td
							select(size="1", title="Nebenwaffe")
								option(title="SF Linkhand") links
								option SK I
								option SK II
								option PW I
								option PW II
				tbody
					tr
						td.links Holzschild
						td Schild
						td
						td –1
						td +3
						td
						td 3
						td –1
						td
						td
							input(type="radio", name="nebenhand")
					tr
						td.links Vollmetallbuckler
						td Schild / PW
						td
						td 0
						td +2
						td
						td –2
						td 0
						td
						td
							input(type="radio", name="nebenhand")
			table.data-section.eigenschaften.mitte
				caption Fernkampfwaffen
				colgroup
					col(style="width: 20%;")
					col(span="2", style="width: 8em;")
					col(span="2")
					col(style="width: 8em;")
				thead
					tr
						th Waffe
						th Talent
						th FKW
						th DK
						th TP
						th Ladezeit
				tbody
					tr
						td.links Kriegsbogen
						td Bo / BE–3
						td 22
						td 10 / 20 / 40 / 80 / 160
						td 3 / 2 / 1 / 0 / 0
						td 4 A
			table.data-section.eigenschaften.mitte
				caption Rüstungen
				colgroup
					col(style="width: 20%")
					col(span="11")
				thead
					tr
						th Name
						th(title="Kopf") Ko
						th(title="Brust") Br
						th(title="Rücken") Rü
						th(title="Bauch") Ba
						th(title="Linker Arm") LA
						th(title="Rechter Arm") RA
						th(title="Linkes Bein") LB
						th(title="Rechtes Bein") RB
						th(title="Rüstungsschutz") RS
						th(title="Behinderung (ohne RG)") BE
						td
				tbody
					tr
						td.links Håkons Kettenkombi
						td 3
						td 5
						td 5
						td 5
						td 4
						td 4
						td 4
						td 4
						td 4,5
						td 1,35
						td
							input(type="radio")
		a#taw
		section.fl-clear#t_kam
			.vor-nach.fl-links
				+KampfTable(Talente.Nahkampf, 'Nahkampf')
			.vor-nach.fl-rechts
				+KampfTable(Talente.Fernkampf, 'Fernkampf')
		section.fl-clear
			.vor-nach.fl-links
				if Talente.Gaben.length
					+TalentTable(Talente.Gaben, 'Gaben')
				+TalentTable(Talente.körperlich, 'Körperliche Talente', "t_koe")
				+TalentTable(Talente.Gesellschaft, 'Gesellschaftliche Talente', "t_ges")
				+TalentTable(Talente.Natur, 'Natur-Talente', "t_nat")
			.vor-nach.fl-rechts
				+TalentTable(Talente.Wissen, 'Wissenstalente', "t_wis")
				+TalentTable(Talente.Handwerk, 'Handwerkstalente', "t_han")
		section.fl-clear#t_spr
			.vor-nach.fl-links
				+LanguageTable(Talente.Sprachen, 'Sprachen')
			.vor-nach.fl-rechts
				+LanguageTable(Talente.Schriften, 'Schriften')
		section.fl-clear
