mixin print(__data)
	p!=JSON.stringify(__data)

mixin SFTableSection(__liste, __name)
	if __liste.length
		tbody
			tr
				th= __name
			tr.links
				td
					ul.vor-nach.fl-links
						- for (var x=0, l=Math.ceil(__liste.length/2); x<l; x++)
							li= __liste[x]
					ul.vor-nach.fl-rechts
						- for (var y=x, l=__liste.length; y<l; y++)
							li= __liste[y]

mixin TalentTable(__liste, __name)
	table.data-section.mitte.eigenschaften
		caption= __name
		colgroup
			col
			col(style="width: 8em;")
			col(style="width: 3em;")
			col(style="width: 5em;")
		thead
			tr
				th Talent
				th Probe
				th(title="Lernschwierigkeit")
				th TaW
		tbody
			each __talent in __liste
				tr
					td.links= __talent._talent.name
						if __talent.Spezialisierung.length
							|  (#{__talent.Spezialisierung.join(', ')})
					td(title=__talent._talent.probe.join(' · '))= __talent._talent.probe.map(function(item) { return Attribute[item].wert; }).join(' · ')
					td.mitte= __talent.Lernstufe
					td.mitte= __talent.wert.toString().replace('-', '–')
				
mixin LanguageTable(__liste, __name)
	table.data-section.mitte.eigenschaften
		caption= __name
		colgroup
			col
			col(style="width: 5em;")
			col(style="width: 3em;")
			col(style="width: 5em;")
		thead
			tr
				th Talent
				th Kompl.
				th(title="Lernschwierigkeit")
				th TaW
		tbody
			each __lang in __liste
				tr
					td.links=__lang.name
					td=__lang.Komplexität
					td=__lang.Lernstufe
					td=__lang.wert

mixin KampfTable(__liste, __name)
	table.data-section.mitte.eigenschaften
		caption= __name
		colgroup
			col
			col(style="width: 3em;")
			col(style="width: 5em;")
			col(style="width: 5em;")
			col(style="width: 5em;")
		thead
			tr
				th Talent
				th
				th AT
				th PA
				th TaW
		tbody
			each __talent in __liste
				tr
					td.links= __talent.name
						if __talent.Spezialisierung.length
							|  (#{__talent.Spezialisierung.join(', ')})
					td= __talent.Lernstufe
					if typeof __talent.AT === 'number' && typeof __talent.PA === 'number'
						td= __talent.AT + Kampfwerte.AT
						td= __talent.PA + Kampfwerte.PA
					else
						td= __talent.AT + Kampfwerte.FK
						td
					td= __talent.TaW

!!! 5
html(lang="de")
	head
		title= Person.Name
		link(rel="stylesheet", type="text/css", href="/show.css")
		link(rel="stylesheet", type="text/css", href="/nav.css")
	body
		a#top
		nav
			ul#main-menu
				li
					a.mitte(title="springe zu Abschnitt ...") &#8681;
					ul
						li
							a(href="#bes") Beschreibung
						li
							a(href="#gen") Generierung
						li
							a(href="#att") Attribute
						li
							a(href="#bas") Basiswerte
						li
							a(href="#vnt") Vor- & Nachteile
						li
							a(href="#ap") Abenteuerpunkte
						li
							a(href="#sf") Sonderfertigkeiten
						li
							a(href="#taw") Talentwerte
						li
							a(href="/magie/"+_id) ► Magiebogen
						li
							a ► Geweihtenbogen
				li
					a.mitte(href="/helden") [ Charakterliste ]
				li
					a.mitte(href="/neu") [ Neuer Charakter ]
				li 
					a.mitte #{Person.Name.split(' ')[0]} bearbeiten
					ul
						li
							a(href="/ap/"+_id) Abenteuerpunkte
						li
							a(href="/taw/"+_id) Talente
						li
							a(href="/char/"+_id) Eigenschaften
						li
							a(href="/sf/"+_id) Sonderfertigkeiten
						li
							a(href="/zauber/"+_id) Zauber
						li
							a Rituale
						li
							a Liturgien

		section(style="clear: both;")
			h1.mitte= Person.Name
			h2.mitte –Heldenbogen–
			
			a#bes
			table.data-section.links.eigenschaften
				caption Beschreibung
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				tr
					th Geschlecht
					td= Person.Geschlecht
					th Sozialstatus
					td= Person.SO
				tr
					th Größe
					td #{Person.Größe} HF
					th Titel
					td= Person.Titel
				tr
					th Gewicht
					td #{Person.Gewicht} Stein
					th Haarfarbe
					td= Person.Haarfarbe
				tr
					th Tsatag
					- var monate = ["PRA", "RON", "EFF", "TRA", "BOR", "HES", "FIR", "TSA", "PHE", "PER", "ING", "RAH", "(NLT)"]
					td= Person.Tsatag.tag+". "+monate[Person.Tsatag.monat]+" "+Person.Tsatag.jahr+" BF"
					th Augenfarbe
					td= Person.Augenfarbe
				tr
					th Aussehen
					td(colspan="3")
						each line in Person.Aussehen.split('\n')
							p= line
				tr
					th Hintergrund
					td(colspan="3")
						each line in Person.Hintergrund.split('\n')
							p= line
			
			a#gen
			table.data-section.links.eigenschaften
				caption Generierung
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				each val in ["Rasse", "Kultur", "Profession"]
					tr
						th #{val}:
						td= Generierung[val].name
						th Modifikationen:
						td= Generierung[val].modifikation
				if Generierung.BgB.name
					tr
						th BgB:
						td= Generierung.BgB.name
						th Modifikationen:
						td= Generierung.BgB.modifikation
			a#att
			table.data-section.mitte.eigenschaften
				caption Attribute
				colgroup
					col(span="10", style="width: 10%;")
				thead
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							th= val
						th
						th GS
				tbody
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							td= Attribute[val].wert
						td
						td= Basiswerte.GS
			a#bas
			table.data-section.mitte.eigenschaften
				caption Basiswerte
				colgroup
					col(span="10", style="width: 10%;")
				thead
					tr
						each val in ["LeP", "AuP", "AsP", "KaP", "MR", "INI", "AT", "PA", "FK", "WS"]
							th= val
				tbody
					tr
						each val in ["LeP", "AuP", "AsP", "KaP", "MR"]
							td= Basiswerte[val] || '—'
						each val in ["INI", "AT", "PA", "FK", "WS"]
							td= Kampfwerte[val]
			a#vnt
			table.data-section
				caption Vor- und Nachteile
				tr
					td
						ul.vor-nach.fl-links
							li.mitte
								strong Vorteile
							each val in Vorteile
								li= val
						ul.vor-nach.fl-rechts
							li.mitte
								strong Nachteile
							each val in Nachteile
								li= val
		a#ap
		section
			table.data-section.mitte.eigenschaften
				caption Abenteuerpunkte
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				tbody
					tr
						th gesamt
						td= AP.alle.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
						th frei
						td= AP.frei
		a#sf
		section
			table.data-section.mitte.eigenschaften
				caption Sonderfertigkeiten
				+SFTableSection(SF.allgemein, 'Allgemeine Sonderfertigkeiten')
				+SFTableSection(SF.Kampf, 'Kampf-Sonderfertigkeiten')
				+SFTableSection(SF.Manöver, 'Waffenlose Manöver')
				+SFTableSection(SF.geweiht, 'Karmale Sonderfertigkeiten')
				+SFTableSection(SF.magisch, 'Magische Sonderfertigkeiten')
		a#taw
		section.clearfix
			.vor-nach.fl-links
				+KampfTable(Talente.Nahkampf, 'Nahkampf')
			.vor-nach.fl-rechts
				+KampfTable(Talente.Fernkampf, 'Fernkampf')
		section.clearfix
			.vor-nach.fl-links
				if Talente.Gaben.length
					+TalentTable(Talente.Gaben, 'Gaben')
				+TalentTable(Talente.körperlich, 'Körperliche Talente')
				+TalentTable(Talente.Gesellschaft, 'Gesellschaftliche Talente')
				+TalentTable(Talente.Natur, 'Natur-Talente')
			.vor-nach.fl-rechts
				+TalentTable(Talente.Wissen, 'Wissenstalente')
				+TalentTable(Talente.Handwerk, 'Handwerkstalente')
		section.clearfix
			.vor-nach.fl-links
				+LanguageTable(Talente.Sprachen, 'Sprachen')
			.vor-nach.fl-rechts
				+LanguageTable(Talente.Schriften, 'Schriften')
		section.clearfix
			+print(Magie)