!!! 5
html(lang="de")
	head
		title= held.Person.Name
		link(rel="stylesheet", type="text/css", href="/show.css")
		link(rel="stylesheet", type="text/css", href="/nav.css")
	body
		a#top
		nav
			ul#main-menu
				li
					a.mitte(href="/helden") [ Charakterliste ]
				li
					a.mitte(href="/neu") [ Neuer Charakter ]
				li 
					a.mitte #{held.Person.Name.split(' ')[0]} bearbeiten
					ul
						li
							a(href="/ap/"+_id) Abenteuerpunkte
						li
							a Talente
						li
							a(href="/char/"+_charID) Eigenschaften
						li
							a(href="/sf/"+_id) Sonderfertigkeiten
						li
							a Zauber
						li
							a Rituale
						li
							a Liturgien
				li
					a.mitte(title="springe zu Abschnitt ...") &#8681;
					ul
						li
							a(href="#bes") Beschreibung
						li
							a(href="#gen") Generierung
						li
							a(href="#att") Attribute
						li
							a(href="#bas") Basiswerte
						li
							a(href="#vnt") Vor- & Nachteile
						li
							a(href="#ap") Abenteuerpunkte
						li
							a(href="#sf") Sonderfertigkeiten

		section(style="clear: both;")
			h1.mitte= held.Person.Name
			
			a#bes
			table.data-section.links.eigenschaften
				caption Beschreibung
					a.top-link(href="#top", title="nach oben springen") &#8679;
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				tr
					th Geschlecht
					td= held.Person.Geschlecht
					th Sozialstatus
					td= held.Person.SO
				tr
					th Größe
					td #{held.Person.Größe} HF
					th Titel
					td= held.Person.Titel
				tr
					th Gewicht
					td #{held.Person.Gewicht} Stein
					th Haarfarbe
					td= held.Person.Haarfarbe
				tr
					th Tsatag
					- var monate = ["PRA", "RON", "EFF", "TRA", "BOR", "HES", "FIR", "TSA", "PHE", "PER", "ING", "RAH", "(NLT)"]
					td= held.Person.Tsatag.tag+". "+monate[held.Person.Tsatag.monat]+" "+held.Person.Tsatag.jahr+" BF"
					th Augenfarbe
					td= held.Person.Augenfarbe
				tr
					th Aussehen
					td(colspan="3")
						each line in held.Person.Aussehen.split('\n')
							p= line
				tr
					th Hintergrund
					td(colspan="3")
						each line in held.Person.Hintergrund.split('\n')
							p= line
			
			a#gen
			table.data-section.links.eigenschaften
				caption Generierung
					a.top-link(href="#top", title="nach oben springen") &#8679;
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				each val in ["Rasse", "Kultur", "Profession"]
					tr
						th #{val}:
						td= held.Generierung[val].name
						th Modifikationen:
						td= held.Generierung[val].modifikation
				if held.Generierung.BgB.name
					tr
						th BgB:
						td= held.Generierung.BgB.name
						th Modifikationen:
						td= held.Generierung.BgB.modifikation
			a#att
			table.data-section.mitte.eigenschaften
				caption Attribute
					a.top-link(href="#top", title="nach oben springen") &#8679;
				colgroup
					col(span="10", style="width: 10%;")
				thead
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							th= val
						th
						th GS
				tbody
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							td= held.Attribute[val].wert
						td
						td= held.Basiswerte.GS
			a#bas
			table.data-section.mitte.eigenschaften
				caption Basiswerte
					a.top-link(href="#top", title="nach oben springen") &#8679;
				colgroup
					col(span="10", style="width: 10%;")
				thead
					tr
						each val in ["LeP", "AuP", "AsP", "KaP", "MR", "INI", "AT", "PA", "FK", "WS"]
							th= val
				tbody
					tr
						each val in ["LeP", "AuP", "AsP", "KaP", "MR"]
							td= held.Basiswerte[val] || '—'
						each val in ["INI", "AT", "PA", "FK", "WS"]
							td= held.Kampfwerte[val]
			a#vnt
			table.data-section
				caption Vor- und Nachteile
					a.top-link(href="#top", title="nach oben springen") &#8679;
				tr
					td
						ul.vor-nach.fl-links
							li.mitte
								strong Vorteile
							each val in held.Vorteile
								li= val
						ul.vor-nach.fl-rechts
							li.mitte
								strong Nachteile
							each val in held.Nachteile
								li= val
		a#ap
		section
			table.data-section.mitte.eigenschaften
				caption Abenteuerpunkte
					a.top-link(href="#top", title="nach oben springen") &#8679;
				colgroup
					col(style="width: 15%")
					col(style="width: 35%")
					col(style="width: 15%")
					col(style="width: 35%")
				tbody
					tr
						th gesamt
						td= AP.alle
						th frei
						td= AP.frei

		a#sf
		section
			table.data-section.mitte.eigenschaften
				caption Sonderfertigkeiten
					a.top-link(href="#top", title="nach oben springen") &#8679;
				if SF.allgemein.length
					tbody
						tr
							th Allgemeine Sonderfertigkeiten
						tr.links
							td
								ul.vor-nach.fl-links
									- for (var x=0, l=Math.ceil(SF.allgemein.length/2); x<l; x++)
										li= SF.allgemein[x]
								ul.vor-nach.fl-rechts
									- for (var y=x, l=SF.allgemein.length; y<l; y++)
										li= SF.allgemein[y]
				if SF.Kampf.length
					tbody
						tr
							th Kampf-Sonderfertigkeiten
						tr.links
							td
								ul.vor-nach.fl-links
									- for (var x=0, l=Math.ceil(SF.Kampf.length/2); x<l; x++)
										li= SF.Kampf[x]
								ul.vor-nach.fl-rechts
									- for (var y=x, l=SF.Kampf.length; y<l; y++)
										li= SF.Kampf[y]
				if SF.Manöver.length
					tbody
						tr
							th Waffenlose Manöver
						tr.links
							td
								ul.vor-nach.fl-links
									- for (var x=0, l=Math.ceil(SF.Manöver.length/2); x<l; x++)
										li= SF.Manöver[x]
								ul.vor-nach.fl-rechts
									- for (var y=x, l=SF.Manöver.length; y<l; y++)
										li= SF.Manöver[y]
				if SF.geweiht.length
					tbody
						tr
							th Karmale Sonderfertigkeiten
						tr.links
							td
								ul.vor-nach.fl-links
									- for (var x=0, l=Math.ceil(SF.geweiht.length/2); x<l; x++)
										li= SF.geweiht[x]
								ul.vor-nach.fl-rechts
									- for (var y=x, l=SF.geweiht.length; y<l; y++)
										li= SF.geweiht[y]
				if SF.magisch.length
					tbody
						tr
							th Magische Sonderfertigkeiten
						tr.links
							td
								ul.vor-nach.fl-links
									- for (var x=0, l=Math.ceil(SF.magisch.length/2); x<l; x++)
										li= SF.magisch[x]
								ul.vor-nach.fl-rechts
									- for (var y=x, l=SF.magisch.length; y<l; y++)
										li= SF.magisch[y]
						
