-	function contains(__array, __string) {
-		if (typeof __array === "string") {
-			return __array.indexOf(__string) > -1;
-		}
-		if (Array.isArray(__array)) {
-			return __array.filter(function(item) {
-				return item.indexOf(__string) > -1;
-			}).length > 0;
-		}
-		return false;
-	}
-	function intersect(__ar1, __ar2) {
-		return __ar1.filter(function(item) {
-			return __ar2.indexOf(item) > -1;
-		});
-	}

mixin print(__data)
	p!=JSON.stringify(__data)

mixin SFTableSection(__liste, __name)
	if __liste.length
		tbody
			tr
				th= __name
			tr.links
				td
					ul.vor-nach.fl-links
						- for (var x=0, l=Math.ceil(__liste.length/2); x<l; x++)
							li= __liste[x]
					ul.vor-nach.fl-rechts
						- for (var y=x, l=__liste.length; y<l; y++)
							li= __liste[y]

!!! 5
html(lang="de")
	head
		title= Person.Name
		link(rel="stylesheet", type="text/css", href="/show.css")
		link(rel="stylesheet", type="text/css", href="/nav.css")
		script(src="/jquery-2.0.3.min.js")
		style.
			.eigenschaften {
				table-layout: fixed;
			}
			.meta td {
				background-color: #eee;
				color: gray;
				font-style: italic;
			}
			.zauber > tbody > tr:first-child > td {
				background-color: #ccc;
				height: 2em;
				cursor: pointer;
			}
			.zauber td:first-child {
				text-align: left;
			}
			.hide-rows tr {
				display: none;
			}
			.hide-rows tr:first-child {
				display: table-row;
			}
			.fett {
				font-weight: bold;
			}
			h1 a {
				text-decoration: none;
				color: inherit;
			}
	body
		nav#top
			ul#main-menu
				li
					a.mitte(title="springe zu Abschnitt ...") &#8681;
					ul
						li
							a(href="#att") Attribute
						li
							a(href="#bas") Basiswerte
						li
							a(href="#vnt") Vor- & Nachteile
						li
							a(href="#sf") Sonderfertigkeiten
						li
							a(href="#spr") Zauber
						li
							a(href="#rit") Rituale
						li
							a(href="/held/"+_id) ► Heldenbogen
						if SF && contains(SF.geweiht, "Liturgiekenntnis")
							li
								a(href="/weihe/"+_id) ► Geweihtenbogen
				li
					a.mitte(href="/helden") [ Charakterliste ]
				li
					a.mitte(href="/neu") [ Neuer Charakter ]
				li 
					a.mitte #{Person.Name.split(' ')[0]} bearbeiten
					ul
						li
							a(href="/sf/"+_id) Sonderfertigkeiten
						li
							a(href="/zauber/"+_id) Zauber
						li
							a(href="/ritual/"+_id+"#ritualkenntnis") Ritualkenntnis
						li
							a(href="/ritual/"+_id+"#rituale") Rituale

		header(style="clear: both;")
			h1.mitte
				a(href="/held/"+_id)= Person.Name
			h2.mitte –Magiebogen–
			
		section#vnt
			table.data-section
				caption Vor- und Nachteile
				tr
					td
						ul.vor-nach.fl-links
							li.mitte
								strong Vorteile
							each val in Vorteile
								li= val
						ul.vor-nach.fl-rechts
							li.mitte
								strong Nachteile
							each val in Nachteile
								li= val
			a#sf
			table.data-section.mitte.eigenschaften
				caption Sonderfertigkeiten
				+SFTableSection(SF.magisch, 'Magische Sonderfertigkeiten')
			a#bas
			table.data-section.mitte.eigenschaften
				caption Basiswerte
				tbody
					tr
						each val in ["LeP", "AuP", "AsP", "MR"]
							th= val
							td= Basiswerte[val] || '—'
			a#att
			table.data-section.mitte.eigenschaften
				caption Attribute
				thead
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							th= val
				tbody
					tr
						each val in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
							td= Attribute[val].wert
		
		section#spr
			if Array.isArray(Magie.Zauber) && Magie.Zauber.length > 0
				table.data-section.eigenschaften.mitte.zauber
					caption Zaubersprüche
					colgroup
						col
						col(style="width: 9em;")
						col(style="width: 4.5em;", span="2")
						col(style="width: 10em;", span="4")
					thead
						tr
							th Zauber
							th Probe
							th ZfW
							th Mod.
							th ZD
							th AsP
							th WD
							th RW
						tr
							th Spezialisierungen
							th(colspan="3") Spontane Mod.
							th Merkmale
							th Ziel
							th Repräsentation
							th Komplexität
					each __spell in Magie.Zauber
						tbody.hide-rows
							tr
								td.fett= __spell._zauber.Name
								td(title=__spell._zauber.Probe.join(' · '))= __spell._zauber.Probe.map(function(item) { return Attribute[item] ? Attribute[item].wert : item; }).join(' · ')
								td.fett= __spell.ZfW
								td= __spell._zauber.modifikation.typ
								td= __spell._zauber.cast.ZD
								td= __spell._zauber.cast.AsP
								td= __spell._zauber.cast.WD
								td= __spell._zauber.cast.RW
							tr.meta
								td
									if Array.isArray(__spell.Spezialisierung) && __spell.Spezialisierung.length > 0
										__spell.Spezialisierung.join(', ')
								td(colspan="3")= __spell._zauber.SpoMod.join(', ')
								td= __spell._zauber.Merkmale.join(', ')
								td= __spell._zauber.Ziel.join(', ')
								td= __spell.Repräsentation
								td= __spell._zauber.Komplexität + " (" + __spell.Lernstufe + ")"
							if Array.isArray(__spell._zauber.Varianten)
								each __variant in __spell._zauber.Varianten.filter(function(item) { return (item.Repräsentationen.indexOf(__spell.Repräsentation) > -1) })
									tr
										td="- "+__variant.Name
										td=__variant.modifikation.probe
										td
											if __variant.modifikation.minZfW
												| (#{__variant.modifikation.minZfW})
										td=__variant.modifikation.typ
										td= __variant.cast.ZD
										td= __variant.cast.AsP
										td= __variant.cast.WD
										td= __variant.cast.RW
				script.
					$('.zauber').on('click', 'tbody', function(evt) {
						$(this).toggleClass('hide-rows');
					});
		section#rit
			if Array.isArray(Magie.Ritualkenntnis) && Magie.Ritualkenntnis.length > 0
				table.data-section.eigenschaften.mitte
					caption Ritualkenntnis
					colgroup
						col
						col
						col(style="width: 10em;")
						col(style="width: 5em;")
						col(style="width: 10em;")
					thead
						tr
							th Ritualkenntnis
							th Tradition
							th Probe
							th 
							th RkW
					tbody
						each __rk, __idx in Magie.Ritualkenntnis
							case __rk.short
								when "Ztz"
									tr
										td.links Zaubertänzer
										td=__rk.long
										td(title="sh. Ritual")
										td=__rk.Lernstufe
										td=__rk.RkW
								when "Shm"
									tr
										td.links=__rk._talent.name
										td=__rk.long
										td(title=__rk._talent.probe.join(' · '))=__rk._talent.probe.map(function(item) { return Attribute[item].wert; }).join(' · ')
										td=__rk.Lernstufe
										td=__rk.RkW
								default
									tr
										td.links=__rk.long
										td
										td(title="sh. Ritual")
										td=__rk.Lernstufe
										td=__rk.RkW
			if Array.isArray(Magie.Rituale) && Magie.Rituale.length > 0
				- var __rks = Magie.Ritualkenntnis.map(function(item) { return item.short; });
				table.data-section.eigenschaften.mitte
					caption Rituale
					colgroup
						col(style="width: 30%;")
						col
					thead
						tr
							th(rowspan="2", style="vertical-align: middle;") Ritual
							th Probe
							th Mod.
							th RD
							th AsP
						tr
							th Ritualkenntnis
							th Merkmale
							th WD
							th RW
					tbody
						each __rit in Magie.Rituale
							-	__rk  = intersect(__rks, __rit.Repräsentationen);
							-	__rkl = __rk.map(function(short) {
							-		return Magie.Ritualkenntnis.filter(function(obj) {
							-			return obj.short === short;
							-		})[0].long;
							-	});
							tr
								td.links(rowspan="2")=__rit.Name
								td
									if intersect(__rks, ["Shm", "Elf"]).length
										div=__rit.Talent.join(', ')
									if Array.isArray(__rit.Probe) && __rit.Probe.length > 0
										div(title=__rit.Probe.join(' · '))=__rit.Probe.map(function(item) { return Attribute[item] ? Attribute[item].wert : item; }).join(' · ')
								td=__rit.Modifikator
								td=__rit.cast.RD
								td=__rit.cast.AsP
							tr
								td=__rkl.join(', ')
								td.links=__rit.Merkmale.join(', ')
								td=__rit.cast.WD
								td=__rit.cast.RW