include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title #{_Held.Person.Name.split(' ')[0]} bearbeiten – Attribute
		link(rel="stylesheet", href="/css/dcm-display.css")
		style.
			.dcm-gap-bottom {
				margin-bottom:    1em;
			}
			/* overwrite */
			.form-group {
				margin-top:       7px;
				margin-bottom:    8px;
			}
	body#top
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main.container
			form.form-horizontal(action="/attribute/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				// Attribute
				section.panel.panel-default#att
					.panel-heading.dcm-caption Attribute
					.panel-body
						.container-fluid.text-center.dcm-gap-bottom
							.row.dcm-row
								.col-sm-4
									.dcm-header.dcm-border Eigenschaft
								.col-sm-7.col-sm-offset-1
									.row
										.col-sm-4
											.dcm-header.dcm-border Modifikator
										.col-sm-4
											.dcm-header.dcm-border Startwert
										.col-sm-4
											.dcm-header.dcm-border aktueller Wert
						.container-fluid.dcm-striped
							each val, key in { Mut:"MU", Klugheit:"KL", Intuition:"IN", Charisma:"CH", Fingerfertigkeit:"FF", Gewandheit:"GE", Konstitution:"KO", Körperkraft:"KK" }
								.row
									.form-group.container-fluid
										.col-sm-3.col-sm-offset-1
											label.control-label=key+":"
										.col-sm-7.col-sm-offset-1
											.row
												.col-sm-4.col-md-2.col-md-offset-1
													label.sr-only(for=val+"mod") Modifikator (#{key})
													input.form-control.text-center(name="Attribute[#{val}][mod]", type="number", min="-10", max="10", step="1", value=_Held.Attribute[val].mod, id=val+"mod")
												.col-sm-4.col-md-2.col-md-offset-2
													label.sr-only(for=val+"start") Startwert (#{key})
													input.form-control.text-center(name="Attribute[#{val}][start]", type="number", min="0", step="1", value=_Held.Attribute[val].start, id=val+"start")
												.col-sm-4.col-md-2.col-md-offset-2
													label.sr-only(for=val+"wert") aktueller Wert (#{key})
													input.form-control.text-center(name="Attribute[#{val}][wert]", type="number", min="0", step="1", value=_Held.Attribute[val].wert, id=val+"wert")
				.well.text-center#save
					.row.dcm-row
						.col-sm-4.col-sm-offset-1
							button.form-control.btn.btn-success(type="submit") speichern
						.col-sm-4.col-sm-offset-2
							a.form-control.btn.btn-warning(href="/held/"+_Held._id) zurück
