doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title #{Person.Name.split(' ')[0]} bearbeiten
		link(rel="stylesheet", type="text/css", href="/edit.css")
		link(rel="stylesheet", type="text/css", href="/nav.css")
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
		style.
			.setting tbody tr:nth-child(odd) {
				background-color: #eee;
			}
	body
		nav
			ul#main-menu
				li
					a(href="#top") [Seitenanfang]
				li
					a(href="#save") [speichern]
				li
					a(href="/held/"+_id, title="Heldenbogen")= "⇒ "+Person.Name.split(' ')[0]
		header#top
			h1.mitte
				a(href="/held/"+_id)= Person.Name
		
		main
			form(action="/attribute/"+_id, method="post", accept-charset="utf-8")#newChar
				input(type="hidden", name="_method", value="put")
			
				table.data-section.talente#att
					caption Attribute
					colgroup
						col(style="width: 40%")
						col(span="3")
					thead
						tr
							th Eigenschaft
							th Modifikator
							th Startwert
							th aktueller Wert
					tbody
						each __val, __key in {Mut:"MU", Klugheit:"KL", Intuition:"IN", Charisma:"CH", Fingerfertigkeit:"FF", Gewandheit:"GE", Konstitution:"KO", Körperkraft:"KK"}
							tr
								td= __key
								td 
									input(name="Attribute[#{__val}][mod]", type="number", min="-10", max="10", step="1", value=Attribute[__val].mod)
								td 
									input(name="Attribute[#{__val}][start]", type="number", min="0", step="1", value=Attribute[__val].start)
								td 
									input(name="Attribute[#{__val}][wert]", type="number", min="0", step="1", value=Attribute[__val].wert)
				.mitte#save
					button(type="submit", disabled) speichern
					button(type="reset")  zurücksetzen

		script $('button:disabled').prop('disabled', false);