!!! 5
html(lang="de")
	head
		meta(charset="utf-8")
		title #{Person.Name.split(' ')[0]} bearbeiten
		link(rel="stylesheet", type="text/css", href="/edit.css")
		link(rel="stylesheet", type="text/css", href="/nav.css")
		script(type="text/javascript", src="/jquery-2.0.3.min.js")
		style.
			.setting tbody tr:nth-child(odd) {
				background-color: #eee;
			}
	body
		nav
			ul#main-menu
				li
					a(href="#top") [Seitenanfang]
				li
					a(href="#save") [speichern]
				li
					a(href="/held/"+_id, title="Heldenbogen")= "⇒ "+Person.Name.split(' ')[0]
		header#top
			h1.mitte
				a(href="/held/"+_id)= Person.Name
		
		main
			form(action="/generierung/"+_id, method="post", accept-charset="utf-8")#newChar
				input(type="hidden", name="_method", value="put")
			
				table.data-section.talente.links#gen
					caption Generierung
					colgroup
						col(style="width: 20%")
						col(span="2")
					tbody
						each __val, __key in ["Rasse", "Kultur", "Profession", "BgB"]
							if Generierung[__val]
								- var __name = Generierung[__val].name
								- var __mod  = Generierung[__val].modifikation
							else
								- var __name = ''
								- var __mod  = ''
							tr
								td 
									label(for="rkp"+__key, id="rkp#{__key}lab") #{__val}:
								td 
									input.fullSize(name="Generierung[#{__val}][name]", id="rkp"+__key, type="text", placeholder=__val, value=__name)
								td
									input.fullSize(name="Generierung[#{__val}][modifikation]", id="rkp#{__key}mod", type="text", placeholder=__val+"-Modifikaton(en)", value=__mod)
				.mitte#save
					button(type="submit", disabled) speichern
					button(type="reset")  zurücksetzen

		script.
			(function() {
				var $inputs = $('#rkp3, #rkp3mod');
				$inputs.prop('disabled', true);
				$('#rkp3lab')
					.attr('title', 'Zum (De-)Aktivieren klicken')
					.on("click", function() { 
						$inputs.prop('disabled', !$inputs.prop('disabled') );
					});
			})();
			$('button:disabled').prop('disabled', false);
