include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title #{_Held.Person.Name.split(' ')[0]} bearbeiten – Generierung
		link(rel="stylesheet", href="/css/dcm-display.css")
		style.
			body {
				padding-top:      60px;
			}
	body#top
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main.container
			form.form-horizontal(action="/generierung/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				// Generierung
				section.panel.panel-default#gen
					.panel-heading.dcm-caption Generierung
					.panel-body
						.container-fluid
							each __val, idx in ["Rasse", "Kultur", "Profession", "BgB"]
								.form-group
									label.control-label.col-sm-2(for="rkp"+idx, id="rkp"+idx+"lbl")=__val+":"
									.col-sm-4
										input.form-control(name="Generierung[#{__val}][name]", id="rkp"+idx, type="text", value=_Held.Generierung[__val].name, placeholder=__val)
									.col-sm-5
										label.sr-only(for="rkp"+idx+"mod") Modifikationen
										input.form-control(name="Generierung[#{__val}][modifikation]", id="rkp"+idx+"mod", type="text", value=_Held.Generierung[__val].modifikation, placeholder=__val+"-Modifikation(en)")
					script.
						(function() {
							var $inputs = $('#rkp3, #rkp3mod');
							$inputs.prop('disabled', true);
							$('#rkp3lbl')
								.attr('title', 'Zum (De-)Aktivieren klicken')
								.on("click", function() { 
									$inputs.prop('disabled', !$inputs.prop('disabled') );
								});
						})();
				.well.text-center#save
					.row.dcm-row
						.col-sm-4.col-sm-offset-1
							button.form-control.btn.btn-success(type="submit", disabled) speichern
						.col-sm-4.col-sm-offset-2
							a.form-control.btn.btn-warning(href="/held/"+_Held._id) zurück
		script.
			$('button:disabled').prop('disabled', false);
