include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title Rüstkammer
		link(rel="stylesheet", href="/css/dcm-display.css")
		style.
			input[type='number'] {
				width: 				3em;
				text-align: 		center;
				border-radius:		5px;
			}
			input[type='number']:disabled {
				background-color:	#ddd;
			}
			input.long {
				width: 				4em;
			}
			#template {
				display:			none;
			}
	body#top
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main.container
			form(action="/kleidung/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")

				section.panel.panel-default
					.panel-heading.dcm-caption Rüstungen
					ul#armor.list-group
						if _Held.Ausrüstung && Array.isArray(_Held.Ausrüstung.Kleidung)
							each __item, __idx in _Held.Ausrüstung.Kleidung
								li.list-group-item
									.row.dcm-row
										.col-xs-1
											input.isactive(type="checkbox", checked)
										.col-xs-10.col-sm-8
											input.form-control.unlock(type="text", name="Ausrüstung.Kleidung[#{__idx}][Name]", value=__item.Name)
									.row
										.col-xs-11.col-xs-offset-1
											.row
												.col-xs-3.col-sm-1
													input.unlock(type="number", name="Ausrüstung.Kleidung[#{__idx}][Ko]", min="0", step="1", title="Kopf", value=__item.Ko)
												.col-xs-3.col-sm-1
													input.unlock(type="number", name="Ausrüstung.Kleidung[#{__idx}][Br]", min="0", step="1", title="Brust", value=__item.Br)
												.col-xs-3.col-sm-1
													input.unlock(type="number", name="Ausrüstung.Kleidung[#{__idx}][Rü]", min="0", step="1", title="Rücken", value=__item.Rü)
												.col-xs-3.col-sm-1
													input.unlock(type="number", name="Ausrüstung.Kleidung[#{__idx}][Ba]", min="0", step="1", title="Bauch", value=__item.Ba)
												.col-xs-3.col-sm-1
													input.unlock(type="number", name="Ausrüstung.Kleidung[#{__idx}][LA]", min="0", step="1", title="Linker Arm", value=__item.LA)
												.col-xs-3.col-sm-1
													input.unlock(type="number", name="Ausrüstung.Kleidung[#{__idx}][RA]", min="0", step="1", title="Rechter Arm", value=__item.RA)
												.col-xs-3.col-sm-1
													input.unlock(type="number", name="Ausrüstung.Kleidung[#{__idx}][LB]", min="0", step="1", title="Linkes Bein", value=__item.LB)
												.col-xs-3.col-sm-1
													input.unlock(type="number", name="Ausrüstung.Kleidung[#{__idx}][RB]", min="0", step="1", title="Rechtes Bein", value=__item.RB)
												.col-xs-3.col-xs-offset-6.col-sm-1.col-sm-offset-1
													input.unlock(type="number", name="Ausrüstung.Kleidung[#{__idx}][BE]", min="0", step="0.1", title="Behinderung", value=__item.BE)
												.col-xs-3.col-sm-2
													input.unlock.long(type="number", name="Ausrüstung.Kleidung[#{__idx}][RS]", min="0", step="0.05", title="Rüstungsschutz", value=__item.RS)
					.panel-footer
						.row
							.col-xs-2.col-sm-1
								button#add(type="button").btn.btn-default.fa.fa-plus
							.col-xs-10.col-sm-11
								.row
									.col-xs-3.col-sm-1
										input#ko(type="number", min="0", step="1", value="0", title="Kopf")
									.col-xs-3.col-sm-1
										input#br(type="number", min="0", step="1", value="0", title="Brust")
									.col-xs-3.col-sm-1
										input#ru(type="number", min="0", step="1", value="0", title="Rücken")
									.col-xs-3.col-sm-1
										input#ba(type="number", min="0", step="1", value="0", title="Bauch")
									.col-xs-3.col-sm-1
										input#la(type="number", min="0", step="1", value="0", title="Linker Arm")
									.col-xs-3.col-sm-1
										input#ra(type="number", min="0", step="1", value="0", title="Rechter Arm")
									.col-xs-3.col-sm-1
										input#lb(type="number", min="0", step="1", value="0", title="Linkes Bein")
									.col-xs-3.col-sm-1
										input#rb(type="number", min="0", step="1", value="0" title="Rechtes Bein")
									.col-xs-3.col-xs-offset-6.col-sm-1.col-sm-offset-1
										input#be(type="number", min="0", step="0.1", value="0", title="Behinderung")
									.col-xs-3.col-sm-2
										input#rs.long(type="number", min="0", step="0.05", value="0", title="Rüstungsschutz")

				#save.row.well.text-center
					.col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.text-center
						button.btn.btn-success.form-control(type="submit", disabled) speichern

			aside#template
				li.list-group-item
					.row.dcm-row
						.col-xs-1
							input.isactive(type="checkbox", checked)
						.col-xs-10.col-sm-8
							input.form-control.unlock(type="text", name="Ausrüstung.Kleidung[{index}][Name]")
					.row
						.col-xs-11.col-xs-offset-1
							.row
								.col-xs-3.col-sm-1
									input.unlock(type="number", name="Ausrüstung.Kleidung[{index}][Ko]", min="0", step="1", title="Kopf")
								.col-xs-3.col-sm-1
									input.unlock(type="number", name="Ausrüstung.Kleidung[{index}][Br]", min="0", step="1", title="Brust")
								.col-xs-3.col-sm-1
									input.unlock(type="number", name="Ausrüstung.Kleidung[{index}][Rü]", min="0", step="1", title="Rücken")
								.col-xs-3.col-sm-1
									input.unlock(type="number", name="Ausrüstung.Kleidung[{index}][Ba]", min="0", step="1", title="Bauch")
								.col-xs-3.col-sm-1
									input.unlock(type="number", name="Ausrüstung.Kleidung[{index}][LA]", min="0", step="1", title="Linker Arm")
								.col-xs-3.col-sm-1
									input.unlock(type="number", name="Ausrüstung.Kleidung[{index}][RA]", min="0", step="1", title="Rechter Arm")
								.col-xs-3.col-sm-1
									input.unlock(type="number", name="Ausrüstung.Kleidung[{index}][LB]", min="0", step="1", title="Linkes Bein")
								.col-xs-3.col-sm-1
									input.unlock(type="number", name="Ausrüstung.Kleidung[{index}][RB]", min="0", step="1", title="Rechtes Bein")
								.col-xs-3.col-xs-offset-6.col-sm-1.col-sm-offset-1
									input.unlock(type="number", name="Ausrüstung.Kleidung[{index}][BE]", min="0", step="0.1", title="Behinderung")
								.col-xs-3.col-sm-2
									input.unlock.long(type="number", name="Ausrüstung.Kleidung[{index}][RS]", min="0", step="0.05", title="Rüstungsschutz")

			form.row.well(action="/waffen/Kleidung/"+_Held._id, method="post", accept-charset="utf-8")
				.col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.text-center
					input(type="hidden", name="_method", value="delete")
					button.btn.btn-danger.form-control(type="submit", disabled) alle Rüstungen löschen

			section#liste.panel.panel-default
				.panel-heading.dcm-caption Rüstungsteile
				.panel-body
					- var counter = 0;
					each __data, __cat in _Data
						.text-center.dcm-header.dcm-list-item.dcm-border=__cat
						.row
							each __rs, __name in __data
								.col-sm-6.col-md-4
									.dcm-list-item
										input(type="checkbox", id="rs_"+counter, value=__name, data-ko=__rs[0], data-br=__rs[1], data-ru=__rs[2], data-ba=__rs[3], data-ra=__rs[4], data-la=__rs[5], data-rb=__rs[6], data-lb=__rs[7], data-rs=__rs[8], data-be=__rs[9])
										label(for="rs_"+counter)=__name
										- counter += 1;
						.row
							.col-lg-12 &nbsp;
			script(src="/js/edit-kleidung.js")
