include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title Rüstkammer
		link(rel="stylesheet", href="/dcm-display.css")
		//-style.
			#liste {
				list-style-type: none;
				padding: 1em 5em;
			}
			#liste li {
				float: left;
				width: 33%;
				padding: 0.2em 0;
			}
			#liste li:nth-child(6n+1), #liste li:nth-child(6n+2), #liste li:nth-child(6n+3) {
				background-color: silver;
			}
			input[type='number'] {
				width: 3em;
			}
			tfoot .isactive {
				display: none;
			}
			tbody td:first-child {
				padding: 0 !important;
				text-align: center;
			}
	body#top
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main.container
			form(action="/kleidung/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")

				//-table.data-section.eigenschaften
					caption Rüstungen
					colgroup
						col(style="width: 2em;")
						col(style="width: 20%;")
						col(span="10")
						col(style="width: 5em;")
					thead
						tr
							td
							th Name
							th Ko
							th Br
							th Rü
							th Ba
							th RA
							th LA
							th RB
							th LB
							th RS
							th BE
							td
					tfoot
						tr
							td
								input.isactive(type="checkbox", checked)
							td
								input#nm.fullSize(type="text", name="Ausrüstung.Kleidung[{index}][Name]", placeholder="Bezeichnung")
							td
								input#ko(type="number", name="Ausrüstung.Kleidung[{index}][Ko]", min="0", step="1", value="0")
							td
								input#br(type="number", name="Ausrüstung.Kleidung[{index}][Br]", min="0", step="1", value="0")
							td
								input#ru(type="number", name="Ausrüstung.Kleidung[{index}][Rü]", min="0", step="1", value="0")
							td
								input#ba(type="number", name="Ausrüstung.Kleidung[{index}][Ba]", min="0", step="1", value="0")
							td
								input#ra(type="number", name="Ausrüstung.Kleidung[{index}][RA]", min="0", step="1", value="0")
							td
								input#la(type="number", name="Ausrüstung.Kleidung[{index}][LA]", min="0", step="1", value="0")
							td
								input#rb(type="number", name="Ausrüstung.Kleidung[{index}][RB]", min="0", step="1", value="0")
							td
								input#lb(type="number", name="Ausrüstung.Kleidung[{index}][LB]", min="0", step="1", value="0")
							td
								input#rs(type="number", name="Ausrüstung.Kleidung[{index}][RS]", min="0", step="0.1", value="0")
							td
								input#be(type="number", name="Ausrüstung.Kleidung[{index}][BE]", min="0", step="0.05", value="0")
							td
								button#add(type="button") neu
					tbody
						if Ausrüstung && Ausrüstung.Kleidung
							each __rst, __idx in Ausrüstung.Kleidung
								tr
									td
										input.isactive(type="checkbox", checked)
									td
										input.fullSize(type="text", name="Ausrüstung.Kleidung[#{__idx}][Name]", placeholder="Bezeichnung", value=__rst.Name)
									td
										input(type="number", name="Ausrüstung.Kleidung[#{__idx}][Ko]", min="0", step="1", value=__rst.Ko)
									td
										input(type="number", name="Ausrüstung.Kleidung[#{__idx}][Br]", min="0", step="1", value=__rst.Br)
									td
										input(type="number", name="Ausrüstung.Kleidung[#{__idx}][Rü]", min="0", step="1", value=__rst.Rü)
									td
										input(type="number", name="Ausrüstung.Kleidung[#{__idx}][Ba]", min="0", step="1", value=__rst.Ba)
									td
										input(type="number", name="Ausrüstung.Kleidung[#{__idx}][RA]", min="0", step="1", value=__rst.RA)
									td
										input(type="number", name="Ausrüstung.Kleidung[#{__idx}][LA]", min="0", step="1", value=__rst.LA)
									td
										input(type="number", name="Ausrüstung.Kleidung[#{__idx}][RB]", min="0", step="1", value=__rst.RB)
									td
										input(type="number", name="Ausrüstung.Kleidung[#{__idx}][LB]", min="0", step="1", value=__rst.LB)
									td
										input(type="number", name="Ausrüstung.Kleidung[#{__idx}][RS]", min="0", step="0.1", value=__rst.RS)
									td
										input(type="number", name="Ausrüstung.Kleidung[#{__idx}][BE]", min="0", step="0.05", value=__rst.BE)
									td

				.mitte
					button(type="submit", disabled) speichern

			form.row.well(action="/waffen/Kleidung/"+_Held._id, method="post", accept-charset="utf-8")
				.col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.text-center
					input(type="hidden", name="_method", value="delete")
					button.btn.btn-danger.form-control(type="submit", disabled) alle Rüstungen löschen

			section.panel.panel-default
				.panel-heading.dcm-caption Rüstungsteile
				.panel-body
					- var counter = 0;
					each __data, __cat in _Data
						.text-center.dcm-header.dcm-list-item.dcm-border=__cat
						.row
							each __rs, __name in __data
								.col-sm-6.col-md-4
									.dcm-list-item
										input(type="checkbox", id="rs_"+counter, value=__name, data-ko=__rs[0], data-br=__rs[1], data-ru=__rs[2], data-ba=__rs[3], data-ra=__rs[4], data-la=__rs[5], data-rb=__rs[6], data-lb=__rs[7], data-rs=__rs[8], data-be=__rs[9])
										label(for="rs_"+counter)=__name
										- counter += 1;
						.row
							.col-lg-12 &nbsp;
			//script(src="/edit-kleidung.js")
