include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title Rüstkammer
		link(rel="stylesheet", href="/css/dcm-display.css")
		style.
			input[type='number'] {
				width: 				3em;
				text-align: 		center;
				border-radius:		5px;
			}
			input[type='number']:disabled {
				background-color:	#ddd;
			}
			#be {
				width: 				4em;
			}
		//-style.
			#liste {
				list-style-type: none;
				padding: 1em 5em;
			}
			#liste li {
				float: left;
				width: 33%;
				padding: 0.2em 0;
			}
			#liste li:nth-child(6n+1), #liste li:nth-child(6n+2), #liste li:nth-child(6n+3) {
				background-color: silver;
			}
			input[type='number'] {
				width: 3em;
			}
			tfoot .isactive {
				display: none;
			}
			tbody td:first-child {
				padding: 0 !important;
				text-align: center;
			}
	body#top
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main.container
			form(action="/kleidung/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")

				section#armor.panel.panel-default
					.panel-heading.dcm-caption Rüstungen
					.panel-body
					.panel-footer
						.row.container-fluid
							.col-xs-2.col-sm-1
								button#add(type="button").btn.btn-default.fa.fa-plus
							.col-xs-10.col-sm-11
								.row
									.col-xs-3.col-sm-1
										input#ko(type="number", min="0", step="1", value="0")
									.col-xs-3.col-sm-1
										input#br(type="number", min="0", step="1", value="0")
									.col-xs-3.col-sm-1
										input#ru(type="number", min="0", step="1", value="0")
									.col-xs-3.col-sm-1
										input#ba(type="number", min="0", step="1", value="0")
									.col-xs-3.col-sm-1
										input#la(type="number", min="0", step="1", value="0")
									.col-xs-3.col-sm-1
										input#ra(type="number", min="0", step="1", value="0")
									.col-xs-3.col-sm-1
										input#lb(type="number", min="0", step="1", value="0")
									.col-xs-3.col-sm-1
										input#rb(type="number", min="0", step="1", value="0")
									.col-xs-3.col-xs-offset-6.col-sm-1.col-sm-offset-1
										input#rs(type="number", min="0", step="0.1", value="0")
									.col-xs-3.col-sm-2
										input#be(type="number", min="0", step="0.05", value="0")

				#save.row.well.text-center
					.col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.text-center
						button.btn.btn-success.form-control(type="submit", disabled) speichern

			form.row.well(action="/waffen/Kleidung/"+_Held._id, method="post", accept-charset="utf-8")
				.col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.text-center
					input(type="hidden", name="_method", value="delete")
					button.btn.btn-danger.form-control(type="submit", disabled) alle Rüstungen löschen

			section#liste.panel.panel-default
				.panel-heading.dcm-caption Rüstungsteile
				.panel-body
					- var counter = 0;
					each __data, __cat in _Data
						.text-center.dcm-header.dcm-list-item.dcm-border=__cat
						.row
							each __rs, __name in __data
								.col-sm-6.col-md-4
									.dcm-list-item
										input(type="checkbox", id="rs_"+counter, value=__name, data-ko=__rs[0], data-br=__rs[1], data-ru=__rs[2], data-ba=__rs[3], data-ra=__rs[4], data-la=__rs[5], data-rb=__rs[6], data-lb=__rs[7], data-rs=__rs[8], data-be=__rs[9])
										label(for="rs_"+counter)=__name
										- counter += 1;
						.row
							.col-lg-12 &nbsp;
			script(src="/js/edit-kleidung.js")
