mixin print(__data)
	p!=JSON.stringify(__data)

!!! 5
html(lang="de")
	head
		title Liturgien hinzufügen
		link(rel="stylesheet", type="text/css", href="/show.css")
		script(src="/jquery-2.0.3.min.js")
		style.
			body {
				font-family: Georgia;
			}
			nav a {
				width: 10em;
			}
			.disabled {
				color: #ddd;
			}
	body
		a#top
		nav
			a(href="#top") [Seitenanfang]
			a(href="#save") [speichern]
			a(href="/held/"+Held._id)= "⇒ "+Held.Person.Name.split(' ')[0]
		h1.mitte
			a(href="/held/"+Held._id)= Held.Person.Name
		aside
			table.data-section.mitte.eigenschaften
				caption Liturgiekenntnis
				colgroup
					col
					col(style="width: 8em;")
					col(style="width: 3em;")
					col(style="width: 5em;")
				thead
					tr
						th Liturgiekenntnis
						th Probe
						th(title="Lernschwierigkeit")
						th LkW
				tbody
					each __lk in Weihe.Liturgiekenntnis
						tr
							td=__lk.name
							td(title=__lk._talent.probe.join(' · '))= __lk._talent.probe.map(function(item) { return Attribute[item].wert; }).join(' · ')
							td.mitte= __lk.Lernstufe
							td.mitte= __lk.wert.toString().replace('-', '–')
		main
			table.data-section.mitte.eigenschaften
				caption Liturgien
				colgroup
					col
					col
				thead
					tr
						td
						th Liturgie
						th Grad
				tfoot(style="display: none;")
					tr#liturgy_template
						td
							input.id(type="hidden", name="Weihe.Liturgien[{index}][_talent]", value="")
							input.lock(type="checkbox", checked)
						td.links
							label.name
						td
							label.grad
				tbody
					- var __grad = {1:"I", 2:"II", 3:"III", 4:"IV", 5:"V", 6:"VI", 7:"VII"}
					if Array.isArray(Weihe.Liturgien)
						each __lit, __idx in Weihe.Liturgien
							tr
								td
									input(type="hidden", name="Weihe.Liturgien[#{__idx}][_talent]", value=__lit._talent._id)
									input.lock(type="checkbox", checked)
								td.links
									label.name=__lit._talent.name
								td=__grad[__lit.grad]
							