include ../inc-mixins

mixin print(__data)
	p!=JSON.stringify(__data)

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title Liturgien hinzufügen
		link(rel="stylesheet", href="/css/dcm-display.css")
		style.
			input[type='number'] {
				text-align: 		center;
				border-radius:		5px;
				max-width:			5em;
				width:				100%;
			}
			input[type='number']:disabled {
				background-color:	#ddd;
			}
			label {
				font-weight: 		normal;
			}
			.dcm-gap-bottom {
				margin-bottom:    	1em;
			}
			#template {
				display: 			none;
			}
			.selected label {
				font-weight: 		bold;
				font-variant: 		small-caps;
				font-family:		serif;
			}
			#lit li:hover {
				background-color:	#eee;
			}
		//-style.
			tbody tr:hover {
				background-color: silver;
			}
			input {
				text-align: inherit;
			}
	body#top
		include inc/nav
		header.container
			h1.page-header.text-center=_Held.Person.Name
		main.container
			form(action="/liturgien/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				
				section#lkw.panel.panel-default.text-center
					.panel-heading.dcm-caption Liturgiekenntnis
					.panel-body
						#collection.container-fluid
							if _Held.Weihe && _Held.Weihe.Liturgiekenntnis && _Held.Weihe.Liturgiekenntnis.length
								each __lk, __idx in _Held.Weihe.Liturgiekenntnis
									.row.dcm-row
										.col-xs-1
											input.unlock(type="hidden", name="Weihe.Liturgiekenntnis[#{__idx}][_talent]", value=__lk._talent._id)
											input.isactive(type="checkbox", name="Weihe.Liturgiekenntnis[#{__idx}][name]", value=__lk.name, id="lk"+__idx, checked)
										.col-xs-5.text-left 
											label(for="lk"+__idx)=__lk.name
										.col-xs-3
											select.unlock(size="1", name="Weihe.Liturgiekenntnis[#{__idx}][Lernstufe]")
												each __kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
													option(selected=(__lk.Lernstufe === __kat))=__kat
										.col-xs-3
											input.unlock(type="number", name="Weihe.Liturgiekenntnis[#{__idx}][wert]", min="3", max="35", step="1", value=__lk.wert)
					.panel-footer
						.row
							.col-xs-5.col-xs-offset-1
								select#newlk(size="1")
									// inserts _id quoted
									each __lk in _Gottheiten
										option(value=__lk._id)=__lk.name
							.col-xs-3.col-xs-offset-3
								button(type="button")#addlk.btn.btn-default.fa.fa-plus

				section#lit.panel.panel-default
					.panel-heading.dcm-caption Liturgien
					ul.list-group
						- var __grad = {1:"I", 2:"II", 3:"III", 4:"IV", 5:"V", 6:"VI", 7:"VII"}
						each __lit, __idx in _Liturgien
							- var __isAvailable  = isAvailable(_Held.Weihe.Liturgien, __lit)
							li.list-group-item
								.row(class=__isAvailable ? 'selected' : '')
									.col-xs-2.col-sm-1.text-center
										input.unlock(type="hidden", name="Weihe.Liturgien[#{__idx}]", value=__lit._id, disabled=!__isAvailable)
										input.isactive(type="checkbox", id="Liturgie_"+__idx, checked=__isAvailable)
									.col-xs-10.col-sm-11.col-md-4
										label(for="Liturgie_"+__idx, title=__lit.typ.join(', '))=__lit.name + " ("+__grad[__lit.grad]+")"
									.col-xs-3.col-xs-offset-1.col-md-2.col-md-offset-0=__lit.rd
									.col-xs-2.col-md-1=__lit.ziel
									.col-xs-3.col-md-2=__lit.rw
									.col-xs-3.col-md-2=__lit.wd

				#save.row.well
					.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4.text-center
						button.btn.btn-success.form-control(type="submit", disabled) speichern
		
		aside#template
			.row.dcm-row
				.col-xs-1
					input.unlock(type="hidden", name="Weihe.Liturgiekenntnis[{index}][_talent]", value="{id}")
					input.isactive(type="checkbox", name="Weihe.Liturgiekenntnis[{index}][name]", value="{name}", id="lk{index}", checked)
				.col-xs-5.text-left 
					label(for="lk{index}") {name}
				.col-xs-3
					select.unlock(size="1", name="Weihe.Liturgiekenntnis[{index}][Lernstufe]")
						each __kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
							option=__kat
				.col-xs-3
					input.unlock(type="number", name="Weihe.Liturgiekenntnis[{index}][wert]", min="3", max="35", step="1", value="3")
		script(src="/js/edit-liturgie.js")
