include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title #{_Held.Person.Name.split(' ')[0]} bearbeiten – Beschreibung
		link(rel="stylesheet", href="/css/dcm-display.css")
	body#top
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main.container
			form.form-horizontal(action="/person/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				// Beschreibung
				section.panel.panel-default#bes
					.panel-heading.dcm-caption Beschreibung
					.panel-body
						.container-fluid
							.form-group
								label.control-label.col-sm-2(for="char-name") Name:
								.col-sm-9
									input.form-control#char-name(name="Person[Name]", type="text", placeholder="Name", value=_Held.Person.Name)
							.form-group
								label.control-label.col-sm-2(for="char-titel") Titel:
								.col-sm-9
									input.form-control#char-titel(name="Person[Titel]", type="text", placeholder="Titel", value=_Held.Person.Titel)
							.form-group
								label.control-label.col-sm-2(for="char-gender") Geschlecht:
								.col-sm-3
									select#char-gender.form-control
										each __val in ["männlich", "weiblich"]
											option(selected=(__val === _Held.Person.Geschlecht), value=__val)=__val
							.form-group
								label.control-label.col-sm-2(for="char-so") Sozialstatus:
								.col-sm-2
									input.form-control.text-center#char-so(name="Person[SO]", type="number", min="0", max="20", step="1" placeholder="SO", value=_Held.Person.SO)
							.form-group
								label.control-label.col-sm-2(for="char-height") Größe:
								.col-sm-2
									input.form-control.text-center#char-height(name="Person[Größe]", type="number", min="25", max="250", step="1", placeholder="cm", value=_Held.Person.Größe)
								.col-sm-8.form-control-static Halbfinger
							.form-group
								label.control-label.col-sm-2(for="char-weight") Gewicht:
								.col-sm-2
									input.form-control.text-center#char-weight(name="Person[Gewicht]", type="number", min="20", max="300", step="1", placeholder="kg", value=_Held.Person.Gewicht)
								.col-sm-8.form-control-static Stein
							.form-group
								label.control-label.col-sm-2(for="char-age") Alter:
								.col-sm-2
									input.form-control.text-center#char-age(name="Person[Alter]", type="number", min="10", step="1" placeholder="Jahre", value=_Held.Person.Alter)
							.form-group
								label.control-label.col-sm-2 Tsatag:
								.col-sm-2
									label.sr-only(for="tt-tag") Tsatag (Tag)
									select.form-control#tt-tag(name="Person[Tsatag][tag]")
										- for (var day = 1; day < 31; day++)
											option(selected=(day == _Held.Person.Tsatag.tag), value=day)=day
								.col-sm-2
									label.sr-only(for="tt-mon") Tsatag (Monat)
									select.form-control#tt-mon(name="Person[Tsatag][monat]")
										each month, index in ["PRA", "RON", "EFF", "TRA", "BOR", "HES", "FIR", "TSA", "PHE", "PER", "ING", "RAH"]
											option(selected=(index == _Held.Person.Tsatag.monat), value=index)=month
										option(selected=(12 == _Held.Person.Tsatag.monat), value=12, title="Namenlose Tage") (NLT)
								.col-sm-2
									label.sr-only(for="tt-jahr") Tsatag (Jahr)
									input.form-control.text-center#tt-jahr(name="Person[Tsatag][jahr]", type="number", step="1", value=_Held.Person.Tsatag.jahr)
								.col-sm-2.form-control-static BF 
							.form-group
								label.control-label.col-sm-2(for="char-haare") Haarfarbe:
								.col-sm-4
									input.form-control#char-haare(name="Person[Haarfarbe]", type="text", placeholder="Haarfarbe", value=_Held.Person.Haarfarbe)
							.form-group
								label.control-label.col-sm-2(for="char-augen") Augenfarbe:
								.col-sm-4
									input.form-control#char-augen(name="Person[Augenfarbe]", type="text", placeholder="Augenfarbe", value=_Held.Person.Augenfarbe)
							.form-group
								label.control-label.col-sm-2(for="char-look") Aussehen:
								.col-sm-9
									textarea.form-control#char-look(name="Person[Aussehen]", rows="5", placeholder="Aussehen")=_Held.Person.Aussehen
							.form-group
								label.control-label.col-sm-2(for="char-story") Hintergrund:
								.col-sm-9
									textarea.form-control#char-story(name="Person[Hintergrund]", rows="5", placeholder="Hintergrund")=_Held.Person.Hintergrund
				.well.text-center#save
					.row.dcm-row
						.col-sm-4.col-sm-offset-1
							button.form-control.btn.btn-success(type="submit") speichern
						.col-sm-4.col-sm-offset-2
							a.form-control.btn.btn-warning(href="/held/"+_Held._id) zurück
