include ../inc-mixins

mixin dropdown(__list, __prefix)
	- var __lock = __prefix === null;
	-   __prefix = __prefix || "";
	each __val, __key in __list
		if Array.isArray(__val)
			- __prefix = __lock ? "" : __key+"/"
			optgroup(label=__key)
				+dropdown(__val, __prefix)
		else
			option(value=__prefix+__val)=__val

- var counter = { count: 0, next: function() { return ++counter.count; } };

mixin plainProCon(pro, x)
	- var idx = counter.next()
	li.list-group-item
		input(name=["Vorteile", "Nachteile"][x], type="checkbox", value=pro, id="pc_"+idx)
		label(for="pc_"+idx)= pro

mixin stagedProCon(pro, x, opt)
	- var idx = counter.next()
	li.list-group-item
		input.stufe(name=["Vorteile", "Nachteile"][x], type="checkbox", value=pro, id="pc_"+idx)
		label(for="pc_"+idx)= pro
		input(type="number", min=opt.min||1, max=opt.max, step=opt.step||1)

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title #{_Held.Person.Name.split(' ')[0]} bearbeiten – Vor- &amp; Nachteile
		link(rel="stylesheet", href="/dcm-display.css")
		link(rel="stylesheet", href="/vorteile.css")
		style.
			body {
				padding-top:      60px;
			}
	body#top
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main.container
			form.form-horizontal(action="/procon/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				// Vor- und Nachteile (alt)
				.row#vna
					.col-md-6
						section.panel.panel-default
							.panel-heading.dcm-caption Bestehende Vorteile
							ul.list-group
								each __vt in _Held.Vorteile.filter(function(item) { return item.length; })
									li.list-group-item
										input.form-control(name="Vorteile", type="text", value=__vt)
					.col-md-6
						section.panel.panel-default
							.panel-heading.dcm-caption Bestehende Nachteile
							ul.list-group
								each __nt in _Held.Nachteile.filter(function(item) { return item.length; })
									li.list-group-item
										input.form-control(name="Nachteile", type="text", value=__nt)
				// Vor- und Nachteile (neu)
				.row#vnn
					.col-md-6
						include inc/vorteile
					.col-md-6
						include inc/nachteile
				.well.text-center#save
					.row.dcm-row
						.col-sm-4.col-sm-offset-1
							button.form-control.btn.btn-success(type="submit", disabled) speichern
						.col-sm-4.col-sm-offset-2
							a.form-control.btn.btn-warning(href="/held/"+_Held._id) zurück
		script(type="text/javascript", src="/vorteile.js")
		script $('button:disabled').prop('disabled', false);
