include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title #{_Held.Person.Name.split(' ')[0]} bearbeiten – Ausrüstung
		link(rel="stylesheet", href="/dcm-display.css")
		style.
			body {
				padding-top:      60px;
			}
			.dcm-gap-bottom {
				margin-bottom:    1em;
			}
			/* overwrite */
			.form-group {
				margin-top:       7px;
				margin-bottom:    8px;
			}
			input[type="number"] {
				max-width: 5em;
			}
	body#top
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main.container
			form.form-horizontal(action="/rucksack/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				// Ausrüstung
				section.panel.panel-default
					.panel-heading.text-center.dcm-caption Ausrüstung
					.panel-body
						.container-fluid
							if _Held.Ausrüstung && Array.isArray(_Held.Ausrüstung.Rucksack)
								each __item, __idx in _Held.Ausrüstung.Rucksack
									.form-group
										.col-xs-3.col-md-2.col-lg-1
											label.sr-only(for="eqp-1-"+_idx) Anzahl
											input.form-control.text-center(name="Ausrüstung.Rucksack[#{__idx}][Anzahl]", type="number", value=__item.Anzahl, min="0", step="1", id="eqp-1-"+_idx)
										.col-xs-9.col-md-4.col-lg-5
											label.sr-only(for="eqp-2-"+_idx) 
											input.form-control(name="Ausrüstung.Rucksack[#{__idx}][Name]", type="text", value=__item.Name, id="eqp-2-"+_idx, placeholder="Bezeichnung")
										.col-xs-3.hidden-md.hidden-lg &nbsp;
										.col-xs-9.col-md-6
											label.sr-only(for="eqp-3-"+_idx) 
											input.form-control(name="Ausrüstung.Rucksack[#{__idx}][Kommentar]", type="text", value=__item.Kommentar, id="eqp-3-"+_idx, placeholder="Kommentar")
					.panel-footer
						.container-fluid
							.form-group
								.col-xs-3.col-md-2.col-lg-1
									input.form-control.text-center(name="Ausrüstung.Rucksack[{index}][Anzahl]", type="number", min="0", step="1", value="1")
								.col-xs-9.col-md-4.col-lg-5
									input.form-control(name="Ausrüstung.Rucksack[{index}][Name]", type="text", placeholder="Bezeichnung")
								.col-xs-3.hidden-md.hidden-lg &nbsp;
								.col-xs-9.col-md-6
									input.form-control(name="Ausrüstung.Rucksack[{index}][Kommentar]", type="text", placeholder="Kommentar")
							.row
								.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-4
									button#add.btn.btn-default.form-control(type="button") hinzufügen
				.well.text-center#save
					.row.dcm-row
						.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-4
							button.btn.btn-success.form-control(type="submit", disabled) speichern
			form.form(action="/waffen/Rucksack/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="delete")
				.well.text-center
					.row.dcm-row
						.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-4
							button.btn.btn-danger.form-control(type="submit", disabled) alle Gegenstände löschen
		script(src="/edit-rucksack.js")
