unless SF
	- SF = {}
unless SF.Kampf
	- SF.Kampf = []

unless SF.Manöver
	- SF.Manöver = []

unless SF.allgemein
	- SF.allgemein = []

unless SF.magisch
	- SF.magisch = []

unless SF.geweiht
	- SF.geweiht = []

doctype 5
html(lang="de")
	head
		title Sonderfertigkeiten hinzufügen
		link(rel="stylesheet", type="text/css", href="/show.css")
		script(src="/jquery-2.0.3.min.js")
		style.
			h1 a {
				text-decoration: none;
				color: inherit;
			}
			.vor-nach ul li {
				list-style-type: none;
			}
			.vor-nach ul li:nth-child(odd) {
				background-color: transparent;
			}
			nav {
				position: fixed;
				top: 0;
				background-color: #eee;
				width: 100%;
			}
			nav a {
				display: inline-block;
				width: 9em;
				text-decoration: none;
				color: black;
				text-align: center;
				background-color: #eee;
				padding: 0.3em 0.5em;
				font-weight: bold;
			}
			nav a:hover {
				color: #eee;
				background-color: black;
			}
			li > select, li > input[type="text"] {
				width: 35%;
			}
	body
		a#top
		nav
			a(href="#top") [Seitenanfang]
			a(href="#allg") allgemeine SF
			a(href="#kampf") Kampf-SF
			a(href="#wlk") Manöver
			a(href="#gott") karmale SF
			a(href="#mag") magische SF
			a(href="#save") [speichern]
			a(href="/held/"+_id)= "⇒ "+Person.Name.split(' ')[0]
			
		section
			h1.mitte
				a(href="/held/"+_id)= Person.Name
			form#newChar(action="/sf/"+_id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				
				a#allg
				table.data-section
					caption allgemeine Sonderfertigkeiten
					tr
						td
							ul.vor-nach.fl-links
								each val, key in _data.allgemein
									if val.charAt(0) === "*"
										- var __name = val.slice(1)
										each __sf, __idx in SF.allgemein.filter(function(item) { return (item.indexOf(__name) === 0); })
											li
												input.spezifisch(type="checkbox", name="SF[allgemein][]", value=__name, checked, id="sf1a_"+__idx)
												label(for="sf1a_"+__idx)= __name
												input.fl-rechts(type="text", value=__sf.match(/\((.+)\)/)[1])
										li
											input.spezifisch(type="checkbox", name="SF[allgemein][]", value=__name, id="sf1_"+key)
											label(for="sf1_"+key)= __name
											input.fl-rechts(type="text")
											button.add.fl-rechts(type="button") +
									else
										li
											input(type="checkbox", name="SF[allgemein][]", id="sf1_"+key, value=val, checked= SF.allgemein.indexOf(val) !== -1)
											label(for="sf1_"+key)= val
							ul.vor-nach.fl-rechts
								li
									strong Kulturkunde:
								each __sf, __idx in SF.allgemein.filter(function(item) { return (item.indexOf("Kulturkunde") === 0); })
									li
										input.auswahl_liste2(type="checkbox", name="SF[allgemein][]", value=__sf, checked, id="sf1a_"+__idx)
										label(for="sf1a_"+__idx)=__sf
								li
									input.auswahl_liste2(type="checkbox", name="SF[allgemein][]", id="sf1a", value="Kulturkunde")
									label(for="sf1a") Kulturkunde
									select.fl-rechts(size="1")
										each __kk in _data.Kulturkunde.sort()
											option(value=__kk)=__kk
									button.add.fl-rechts(type="button") +
								li
									input.spezifisch(type="checkbox", name="SF[allgemein][]", id="sf1b", value="Kulturkunde")
									label(for="sf1b") Kulturkunde
									input.fl-rechts(type="text", placeholder="sonstige Kulturkunde")
									button.add.fl-rechts(type="button") +
								

				
				a#kampf
				table.data-section
					caption Kampf-Sonderfertigkeiten
					tr
						td
							ul.vor-nach.fl-links
								- for (var x=0, l=Math.ceil(_data.Kampf.length/2); x<l; x++)
									if _data.Kampf[x].charAt(0) === "*"
										- var __name = _data.Kampf[x].slice(1)
										each __sf, __idx in SF.Kampf.filter(function(item) { return (item.indexOf(__name) === 0); })
											li
												input.spezifisch(type="checkbox", name="SF[Kampf][]", value=__name, checked, id="sf3a_"+__idx)
												label(for="sf3a_"+__idx)= __name
												input.fl-rechts(type="text", value=__sf.match(/\((.+)\)/)[1])
										li
											input.spezifisch(type="checkbox", name="SF[Kampf][]", value=__name, id="sf3_"+x)
											label(for="sf3_"+x)= __name
											input.fl-rechts(type="text")
											button.add.fl-rechts(type="button") +
									else
										li
											input(type="checkbox", name="SF[Kampf][]", id="sf3_"+x, value=_data.Kampf[x], checked= SF.Kampf.indexOf(_data.Kampf[x]) !== -1)
											label(for="sf3_"+x)= _data.Kampf[x]
							ul.vor-nach.fl-rechts
								- for (var y=x, l=_data.Kampf.length; y<l; y++)
									if _data.Kampf[y].charAt(0) === "*"
										- var __name = _data.Kampf[y].slice(1)
										each __sf, __idx in SF.Kampf.filter(function(item) { return (item.indexOf(__name) === 0); })
											li
												input.spezifisch(type="checkbox", name="SF[Kampf][]", value=__name, checked, id="sf3a_"+__idx)
												label(for="sf3a_"+__idx)= __name
												input.fl-rechts(type="text", value=__sf.match(/\((.+)\)/)[1])
										li
											input.spezifisch(type="checkbox", name="SF[Kampf][]", value=__name, id="sf3_"+y)
											label(for="sf3_"+y)= __name
											input.fl-rechts(type="text")
											button.add.fl-rechts(type="button") +
									else
										li
											input(type="checkbox", name="SF[Kampf][]", id="sf3_"+y, value=_data.Kampf[y], checked= SF.Kampf.indexOf(_data.Kampf[y]) !== -1)
											label(for="sf3_"+y)= _data.Kampf[y]

				a#wlk
				table.data-section
					caption Waffenlose Manöver
					tr
						td
							ul.vor-nach.fl-links
								- for (var x=0, l=Math.ceil(_data.Manöver.length/2); x<l; x++)
									li
										input(type="checkbox", name="SF[Manöver][]", id="sf7_"+x, value=_data.Manöver[x], checked= SF.Manöver.indexOf(_data.Manöver[x]) !== -1)
										label(for="sf7_"+x)= _data.Manöver[x]
							ul.vor-nach.fl-rechts
								- for (var y=x, l=_data.Manöver.length; y<l; y++)
									li
										input(type="checkbox", name="SF[Manöver][]", id="sf8_"+y, value=_data.Manöver[y], checked= SF.Manöver.indexOf(_data.Manöver[y]) !== -1)
										label(for="sf8_"+y)= _data.Manöver[y]

				a#gott
				table.data-section
					caption Karmale Sonderfertigkeiten
					tr
						td.gods
							ul.vor-nach.fl-links
								each val, key in _data.geweiht
									li
										input(type="checkbox", name="SF[geweiht][]", id="sf9_"+key, value=val, checked= SF.geweiht.indexOf(val) !== -1)
										label(for="sf9_"+key)= val
							ul.vor-nach.fl-rechts
								each __sf, __idx in SF.geweiht.filter(function(item) { return (item.indexOf("Liturgiekenntnis") === 0); })
									li
										input.auswahl_liste2(type="checkbox", name="SF[geweiht][]", value=__sf, checked, id="sf9a_"+__idx)
										label(for="sf9a_"+__idx)=__sf
								li
									input.auswahl_liste2(type="checkbox", name="SF[geweiht][]", id="sf9a", value="Liturgiekenntnis")
									label(for="sf9a") Liturgiekenntnis
									select.fl-rechts(size="1")
										each __list, __typ in _data.Götter
											optgroup(label=__typ)
												each __gott in __list
													option(value=__gott)=__gott
									button.add.fl-rechts(type="button") +
								
								each __sf, __idx in SF.geweiht.filter(function(item) { return (item.indexOf("Spätweihe") === 0); })
									li
										input.auswahl_liste2(type="checkbox", name="SF[geweiht][]", value=__sf, checked, id="sf9b_"+__idx)
										label(for="sf9b_"+__idx)=__sf
								li
									input.auswahl_liste2(type="checkbox", name="SF[geweiht][]", id="sf9b", value="Spätweihe")
									label(for="sf9b") Spätweihe
									select.fl-rechts(size="1")
										each __list, __typ in _data.Götter
											optgroup(label=__typ)
												each __gott in __list
													option(value=__gott)=__gott
									button.add.fl-rechts(type="button") +
																		
							script.
								$('#nogod').on('click', function() {
									$('.gods input[type="radio"]:checked').prop('checked', false);
								});
				
				a#mag
				table.data-section
					caption Magische Sonderfertigkeiten
					tr
						td
							ul.vor-nach.fl-links
								each val, key in _data.magisch
									li
										input(type="checkbox", name="SF[magisch][]", id="sf10_"+key, value=val, checked= SF.magisch.indexOf(val) !== -1)
										label(for="sf10_"+key)= val
							ul.vor-nach.fl-rechts
								li
									strong Merkmalskenntnis:
								each __sf, __idx in SF.magisch.filter(function(item) { return (item.indexOf("Merkmalskenntnis") === 0); })
									li
										input.auswahl_liste2(type="checkbox", name="SF[magisch][]", value=__sf, checked, id="sf11b_"+__idx)
										label(for="sf11b_"+__idx)=__sf
								li
									input.auswahl_liste2(type="checkbox", name="SF[magisch][]", id="sf11b", value="Merkmalskenntnis")
									label(for="sf11b") Merkmalskenntnis
									select.fl-rechts(size="1")
										- var __mmkext
										each __list, __typ in _data.Merkmalskenntnis
											- var __ext = ["Dämonisch", "Elementar"].indexOf(__typ) > -1 ? __typ+" / " : ""
											optgroup(label=__typ)
												each __mmk in __list
													option(value=__ext+__mmk)=__mmk
									button.add.fl-rechts(type="button") +
								li
									strong Repräsentation:
								each __sf, __idx in SF.magisch.filter(function(item) { return (item.indexOf("Repräsentation") === 0); })
									li
										input.auswahl_liste2(type="checkbox", name="SF[magisch][]", value=__sf, checked, id="sf12_"+__idx)
										label(for="sf12_"+__idx)=__sf
								li
									input.auswahl_liste2(type="checkbox", name="SF[magisch][]", id="sf12a", value="Repräsentation")
									label(for="sf12a") Repräsentation
									select.fl-rechts(size="1")
										each __rep in _data.Repräsentation
											option(value=__rep)=__rep
									button.add.fl-rechts(type="button") +
								li
									input.spezifisch(type="checkbox", name="SF[magisch][]", id="sf12b", value="Repräsentation")
									label(for="sf12b") Repräsentation
									input.fl-rechts(type="text", placeholder="sonstige Repräsentation")
									button.add.fl-rechts(type="button") +
								li
									strong Ritualkenntnis:
								each __sf, __idx in SF.magisch.filter(function(item) { return (item.indexOf("Ritualkenntnis") === 0); })
									li
										input.auswahl_liste2(type="checkbox", name="SF[magisch][]", value=__sf, checked, id="sf13_"+__idx)
										label(for="sf13_"+__idx)=__sf
								li
									input.auswahl_liste2(type="checkbox", name="SF[magisch][]", id="sf13a", value="Ritualkenntnis")
									label(for="sf13a") Ritualkenntnis
									select.fl-rechts(size="1")
										each __rep in _data.Ritualkenntnis
											option(value=__rep)=__rep
									button.add.fl-rechts(type="button") +
								li
									input.spezifisch(type="checkbox", name="SF[magisch][]", id="sf13b", value="Ritualkenntnis")
									label(for="sf13b") Ritualkenntnis
									input.fl-rechts(type="text", placeholder="sonstige Ritualkenntnis")
									button.add.fl-rechts(type="button") +
								li Ritualkenntnis Schamane (fehlt noch)

				a#save
				.mitte
					button(type="submit", disabled) speichern
		
		script(type="text/javascript", src="/preprocess.vorteile.js")
		script.
			(function() {
				$('ul').on("click", 'button.add', function() {
					var $li = $(this).closest('li')
					$li.clone().insertAfter($li);
					$(this).remove();
				});
				$('#newChar').on('submit', function(evt) {
					$('.rep').each(function() {
						$(this).closest('li').find("input[type='hidden']").prop('disabled', !this.checked);
					});
				});
			})();