include ../inc-mixins

//- make sure the filter functions operate on an array
unless _Held.SF
	- _Held.SF = {}
unless _Held.SF.Kampf
	- _Held.SF.Kampf = []
unless _Held.SF.Manöver
	- _Held.SF.Manöver = []
unless _Held.SF.allgemein
	- _Held.SF.allgemein = []
unless _Held.SF.magisch
	- _Held.SF.magisch = []
unless _Held.SF.geweiht
	- _Held.SF.geweiht = []


doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title Sonderfertigkeiten hinzufügen
		link(rel="stylesheet", href="/dcm-display.css")
		style.
			body {
				padding-top: 				60px;
			}
			input[type='text'] {
				width:       				35%;
				border-bottom-left-radius:  5px;
				border-top-left-radius:     5px;
				padding-left:				3px;
			}
			select {
				margin-right:               5px;
			}
	body#top
		include inc/nav
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
		main
			nav#tab-header.container
				ul.nav.nav-pills.nav-justified
					li
						a(href="#allg", data-toggle="pill") allgemeine SF
					li
						a(href="#kampf", data-toggle="pill") Kampf-SF
					li
						a(href="#hand", data-toggle="pill") Manöver
					li
						a(href="#gott", data-toggle="pill") karmale SF
					li
						a(href="#mag", data-toggle="pill") magische SF
			.row
				.col-lg-12 &nbsp;
			.container.tab-content
				#allg.tab-pane
					.row
						each __val, __idx in _Data.allgemein
							if __val.charAt(0) === "*"
								- var __name = __val.slice(1)
								each __sf, __key in _Held.SF.allgemein.filter(function(item) { return (item.indexOf(__name) === 0); })
									.col-sm-6.col-lg-4
										.dcm-list-item
											input(type="checkbox", name="SF[allgemein][]", value=__sf, checked, id="sf1a_"+__key)
											label(for="sf1a_"+__key)=__sf
								.col-sm-6.col-lg-4.dcm-template
									.dcm-list-item
										input.spezifisch(type="checkbox", name="SF[allgemein][]", value=__name, id="sf1_"+__idx)
										label(for="sf1_"+__idx)=__name
										button.add.pull-right
											span.fa.fa-plus
										input.pull-right(type="text")
							else
								.col-sm-6.col-lg-4
									.dcm-list-item
										input(type="checkbox", name="SF[allgemein][]", id="sf1_"+__idx, value=__val, checked=_Held.SF.allgemein.indexOf(__val) !== -1)
										label(for="sf1_"+__idx)=__val
					.row
						.col-lg-12 &nbsp;
					.text-center.dcm-header.dcm-list-item.dcm-border Geländekunde
					.row
						each __sf, __idx in _Data.Geländekunde
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[allgemein][]", id="sf2_"+__idx, value=__sf, checked=_Held.SF.allgemein.indexOf(__sf) !== -1)
									label(for="sf2_"+__idx)=__sf
					.row
						.col-lg-12 &nbsp;
					.text-center.dcm-header.dcm-list-item.dcm-border Kulturkunde
					.row
						each __sf, __idx in _Data.Kulturkunde
							- var __kk = "Kulturkunde ("+__sf+")"
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[allgemein][]", id="sf3_"+__idx, value=__kk, checked=_Held.SF.allgemein.indexOf(__kk) !== -1)
									label(for="sf3_"+__idx)=__sf
					.row
						.col-lg-12 &nbsp;
				#kampf.tab-pane
					.row
						each __val, __idx in _Data.Kampf
							if __val.charAt(0) === "*"
								- var __name = __val.slice(1)
								each __sf, __key in _Held.SF.Kampf.filter(function(item) { return (item.indexOf(__name) === 0); })
									.col-sm-6.col-lg-4
										.dcm-list-item
											input(type="checkbox", name="SF[Kampf][]", value=__sf, checked, id="sf4a_"+__key)
											label(for="sf4a_"+__key)=__sf
								.col-sm-6.col-lg-4.dcm-template
									.dcm-list-item
										input.spezifisch(type="checkbox", name="SF[Kampf][]", value=__name, id="sf4_"+__idx)
										label(for="sf4_"+__idx)=__name
										button.add.pull-right
											span.fa.fa-plus
										input.pull-right(type="text")
							else
								.col-sm-6.col-lg-4
									.dcm-list-item
										input(type="checkbox", name="SF[Kampf][]", id="sf4_"+__idx, value=__val, checked=_Held.SF.Kampf.indexOf(__val) !== -1)
										label(for="sf4_"+__idx)=__val
					.row
						.col-lg-12 &nbsp;
				#hand.tab-pane
					.row
						each __sf, __idx in _Data.Manöver
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[Manöver][]", id="sf5_"+__idx, value=__sf, checked=_Held.SF.Manöver.indexOf(__sf) !== -1)
									label(for="sf5_"+__idx)=__sf
					.row
						.col-lg-12 &nbsp;
				#gott.tab-pane
					.row
						each __sf, __idx in _Data.geweiht
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[geweiht][]", id="sf6_"+__idx, value=__sf, checked=_Held.SF.geweiht.indexOf(__sf) !== -1)
									label(for="sf6_"+__idx)=__sf
					.row
						.col-lg-12
							hr
					.row
						each __sf, __idx in _Held.SF.geweiht.filter(function(item) { return (item.indexOf("Liturgiekenntnis") === 0); })
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[geweiht][]", id="sf6a_"+__idx, value=__sf, checked=_Held.SF.geweiht.indexOf(__sf) !== -1)
									label(for="sf6a_"+__idx)=__sf
						.col-sm-6.col-lg-4.dcm-template
							.dcm-list-item
									input.auswahl_liste2(type="checkbox", name="SF[geweiht][]", id="sf6a", value="Liturgiekenntnis")
									label(for="sf6a") Liturgiekenntnis
									button.add.pull-right
										span.fa.fa-plus
									select.pull-right(size="1")
										each __list, __typ in _Data.Götter
											optgroup(label=__typ)
												each __gott in __list
													option(value=__gott)=__gott
						each __sf, __idx in _Held.SF.geweiht.filter(function(item) { return (item.indexOf("Spätweihe") === 0); })
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[geweiht][]", id="sf6b_"+__idx, value=__sf, checked=_Held.SF.geweiht.indexOf(__sf) !== -1)
									label(for="sf6b_"+__idx)=__sf
						.col-sm-6.col-lg-4.dcm-template
							.dcm-list-item
									input.auswahl_liste2(type="checkbox", name="SF[geweiht][]", id="sf6b", value="Spätweihe")
									label(for="sf6b") Spätweihe
									button.add.pull-right
										span.fa.fa-plus
									select.pull-right(size="1")
										each __list, __typ in _Data.Götter
											optgroup(label=__typ)
												each __gott in __list
													option(value=__gott)=__gott
					.row
						.col-lg-12 &nbsp;
				#mag.tab-pane
					.row
						each __sf, __idx in _Data.magisch
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[magisch][]", id="sf7_"+__idx, value=__sf, checked=_Held.SF.magisch.indexOf(__sf) !== -1)
									label(for="sf7_"+__idx)=__sf
					.row
						.col-lg-12 &nbsp;
					.text-center.dcm-header.dcm-list-item.dcm-border Repräsentation
					.row
						each __sf, __idx in _Data.Repräsentation
							- var __rep = "Repräsentation ("+__sf+")"
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[magisch][]", id="sf8_"+__idx, value=__rep, checked=_Held.SF.magisch.indexOf(__rep) !== -1)
									label(for="sf8_"+__idx)=__sf
					.row
						.col-lg-12 &nbsp;
					.text-center.dcm-header.dcm-list-item.dcm-border Ritualkenntnis
					.row
						each __sf, __idx in _Data.Ritualkenntnis
							- var __rk = "Ritualkenntnis ("+__sf+")"
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[magisch][]", id="sf8_"+__idx, value=__rk, checked=_Held.SF.magisch.indexOf(__rk) !== -1)
									label(for="sf8_"+__idx)=__sf
					.row
						.col-lg-12 &nbsp;
					.text-center.dcm-header.dcm-list-item.dcm-border Merkmalskenntnis
					.row
						each __sf, __idx in _Data.Merkmalskenntnis.allgemein
							- var __rk = "Merkmalskenntnis ("+__sf+")"
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[magisch][]", id="sf9_"+__idx, value=__rk, checked=_Held.SF.magisch.indexOf(__rk) !== -1)
									label(for="sf9_"+__idx)=__sf
					.row
						.col-lg-12
							hr
					.row
						each __sf, __idx in _Data.Merkmalskenntnis.Dämonisch
							- var __rk = "Merkmalskenntnis (Dämonisch / "+__sf+")"
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[magisch][]", id="sf10_"+__idx, value=__rk, checked=_Held.SF.magisch.indexOf(__rk) !== -1)
									label(for="sf10_"+__idx)=__sf
					.row
						.col-lg-12
							hr
					.row
						each __sf, __idx in _Data.Merkmalskenntnis.Elementar
							- var __rk = "Merkmalskenntnis (Elementar / "+__sf+")"
							.col-sm-6.col-lg-4
								.dcm-list-item
									input(type="checkbox", name="SF[magisch][]", id="sf11_"+__idx, value=__rk, checked=_Held.SF.magisch.indexOf(__rk) !== -1)
									label(for="sf11_"+__idx)=__sf
					.row
						.col-lg-12 &nbsp;
		script(type="text/javascript", src="/vorteile.js")
		script.
			$('#tab-header').on("click", "a", function (evt) {
				evt.preventDefault();
				$(this).tab("show");
			});
			$('#tab-header a:first').tab("show");
			$('button.add').on("click", function() {
				var $row   = $(this).closest('.dcm-template');
				var $new   = $row.clone();
				// modify ID
				var $label = $new.find('label');
				var id     = $label.attr('for');
				var $input = $new.find('*[id="'+id+'"]');
				$label.attr('for', id + "x");
				$input.attr('id',  id + "x");
				$new.find('input[type="text"]').val("");
				// insert
				$new.insertAfter($row);
				// remove button on original
				$(this).remove();
				// get value from textbox and place it in checkbox and label
				var $text  = $row.find('input[type="text"], select');
				var $check = $row.find('input[type="checkbox"]');
				var $rowlb = $row.find('label');
				var val    = " (" + $text.val().trim() + ")";
				$text.remove();
				$rowlb.text($rowlb.text() + val);
				$check.val($check.val() + val);
				$check.prop("checked", true);
				$check.removeClass();
			});
