include ../inc-mixins

mixin talentTable(__group, __name)
	.panel-heading
		.row
			.col-xs-6.col-sm-8.col-lg-10 Talent
			.col-xs-3.col-sm-2.col-lg-1 Lern
			.col-xs-3.col-sm-2.col-lg-1 TaW
	ul.list-group
	each __talent, __idx in __group
		- var __heldentalent = getTalent(_Held.Talente[__name], {talent:__talent.name})
		- var __isAvailable  = isAvailable(_Held.Talente[__name], __talent)
		li.list-group-item
			.row
				.col-xs-1
					input.unlock(type="hidden", name="Talente[#{__name}][#{__idx}][_talent]", value=__talent._id, disabled=!__isAvailable)
					if __talent.standard
						input(type="hidden", name="Talente[#{__name}][#{__idx}][name]", value=__talent.name)
					else
						input.isactive(type="checkbox", name="Talente[#{__name}][#{__idx}][name]", value=__talent.name, id=__name+__idx, checked=__isAvailable)
				.col-xs-6.col-sm-4.text-left
					label(for=__name+__idx)=__talent.name
				.col-xs-5.col-sm-3.col-lg-5.text-left
					span.badge=Array.isArray(__heldentalent.Spezialisierung) ? __heldentalent.Spezialisierung.length : 0
					ul.options
						li
							input.toggle-custom(type="checkbox")
							input(type="text", name="Talente[#{__name}][#{__idx}][Spezialisierung][]", disabled)
						each __spez in __talent.spezialisierungen
							li
								label
									input.unlock(type="checkbox", name="Talente[#{__name}][#{__idx}][Spezialisierung][]", value=__spez, checked=contains(__heldentalent.Spezialisierung, __spez))
									span=__spez
				.col-xs-3.col-xs-offset-6.col-sm-2.col-sm-offset-0.col-lg-1
					select.unlock(size="1", name="Talente[#{__name}][#{__idx}][Lernstufe]", disabled=!__isAvailable)
						each __kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
							option(selected=__heldentalent.Lernstufe ? __heldentalent.Lernstufe === __kat : __talent.stufe === __kat)=__kat
				.col-xs-3.col-sm-2.col-lg-1
					input.unlock(type="number", name="Talente[#{__name}][#{__idx}][wert]", min="0", max="20", step="1", value=__heldentalent.wert, disabled=!__isAvailable)

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title Talente
		link(rel="stylesheet", href="/css/dcm-display.css")
		link(rel="stylesheet", href="/css/dropout.css")
		style.
			input[type='number'] {
				text-align: 		center;
				border-radius:		5px;
			}
			input[type='number']:disabled {
				background-color:	#ddd;
			}
			ul.options input[type="checkbox"] {
				margin-right:		0.5em;
			}
	body#top
		include inc/nav
		header.container
			h1.page-header.text-center=_Held.Person.Name
				
		main.container
			ul#pagenav.nav.nav-pills.nav-justified.text-center
				li
					a(href="#Nahkampf", data-toggle="pill") Nahkampf
				li
					a(href="#Fernkampf", data-toggle="pill") Fernkampf
				li
					a(href="#Koerper", data-toggle="pill") Körper
				li
					a(href="#Gesellschaft", data-toggle="pill") Gesellschaft
				li
					a(href="#Natur", data-toggle="pill") Natur
				li
					a(href="#Wissen", data-toggle="pill") Wissen
				li
					a(href="#Handwerk", data-toggle="pill") Handwerk
				li
					a(href="#Sprachen", data-toggle="pill") Sprachen
				li
					a(href="#Schriften", data-toggle="pill") Schriften
				li
					a(href="#Gaben", data-toggle="pill") Gaben
			.row
				.col-lg-12 &nbsp;
			form.tab-content(action="/talente/"+_Held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				section#Nahkampf.tab-pane.panel.panel-default.text-center
					.panel-heading
						.row
							.col-xs-12.col-sm-5 Talent
							.col-xs-3.col-sm-2 Lern
							.col-xs-3.col-sm-2 AT-Mod
							.col-xs-3.col-sm-2 PA-Mod
							.col-xs-3.col-sm-1 TaW
					ul.list-group
					each __talent, __idx in _Nahkampf
						- var __heldentalent = getTalent(_Held.Talente.Nahkampf, {talent:__talent.name})
						- var __isAvailable  = isAvailable(_Held.Talente.Nahkampf, __talent)
						li.list-group-item
							.row(data-name="Talente[Nahkampf][#{__idx}][Spezialisierung]", data-options=__talent.spezialisierungen.join(','))
								.col-xs-1
									input.unlock(type="hidden", name="Talente[Nahkampf][#{__idx}][_talent]", value=__talent._id, disabled=!__isAvailable)
									if __talent.standard
										input(type="hidden", name="Talente[Nahkampf][#{__idx}][name]", value=__talent.name)
									else
										input.isactive(type="checkbox", name="Talente[Nahkampf][#{__idx}][name]", value=__talent.name, id="nk"+__idx, checked=__isAvailable)
								.col-xs-11.col-sm-4.text-left
									label(for="nk"+__idx)=__talent.name
								.col-xs-3.col-sm-2
									select.unlock(size="1", name="Talente[Nahkampf][#{__idx}][Lernstufe]", disabled=!__isAvailable)
										each __kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
											option(selected=__heldentalent.Lernstufe ? __heldentalent.Lernstufe === __kat : __talent.stufe === __kat)=__kat
								.col-xs-3.col-sm-2
									input.nk-at.unlock(type="number", name="Talente[Nahkampf][#{__idx}][AT]", min="0", max="20", step="1", value=__heldentalent.AT, disabled=!__isAvailable)
								.col-xs-3.col-sm-2
									input.nk-pa.unlock(type="number", name="Talente[Nahkampf][#{__idx}][PA]", min="0", max="20", step="1", value=__heldentalent.PA, disabled=!__isAvailable)
								.col-xs-3.col-sm-1.nk-taw.text-center=__heldentalent.AT+__heldentalent.PA

				section#Fernkampf.tab-pane.panel.panel-default.text-center
					.panel-heading
						.row
							.col-xs-6.col-sm-8.col-lg-10 Talent
							.col-xs-3.col-sm-2.col-lg-1 Lern
							.col-xs-3.col-sm-2.col-lg-1 TaW
					ul.list-group
					each __talent, __idx in _Fernkampf
						- var __heldentalent = getTalent(_Held.Talente.Fernkampf, {talent:__talent.name})
						- var __isAvailable  = isAvailable(_Held.Talente.Fernkampf, __talent)
						li.list-group-item
							.row(data-name="Talente[Fernkampf][#{__idx}][Spezialisierung]", data-options=__talent.spezialisierungen.join(','))
								.col-xs-1
									input.unlock(type="hidden", name="Talente[Fernkampf][#{__idx}][_talent]", value=__talent._id, disabled=!__isAvailable)
									if __talent.standard
										input(type="hidden", name="Talente[Fernkampf][#{__idx}][name]", value=__talent.name)
									else
										input.isactive(type="checkbox", name="Talente[Fernkampf][#{__idx}][name]", value=__talent.name, id=__name+__idx, checked=__isAvailable)
								.col-xs-5.col-sm-7.col-lg-9.text-left
									label(for=__name+__idx)=__talent.name
								.col-xs-3.col-sm-2.col-lg-1
									select.unlock(size="1", name="Talente[Fernkampf][#{__idx}][Lernstufe]", disabled=!__isAvailable)
										each __kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
											option(selected=__heldentalent.Lernstufe ? __heldentalent.Lernstufe === __kat : __talent.stufe === __kat)=__kat
								.col-xs-3.col-sm-2.col-lg-1
									input.unlock(type="number", name="Talente[Fernkampf][#{__idx}][AT]", min="0", max="20", step="1", value=__heldentalent.AT, disabled=!__isAvailable)

				section#Koerper.tab-pane.panel.panel-default.text-center
					+talentTable(_körperlich, "körperlich")

				section#Gesellschaft.tab-pane.panel.panel-default.text-center
					+talentTable(_Gesellschaft, "Gesellschaft")

				section#Wissen.tab-pane.panel.panel-default.text-center
					+talentTable(_Wissen, "Wissen")

				section#Natur.tab-pane.panel.panel-default.text-center
					+talentTable(_Natur, "Natur")

				section#Handwerk.tab-pane.panel.panel-default.text-center
					+talentTable(_Handwerk, "Handwerk")

				section#Sprachen.tab-pane.panel.panel-default.text-center
					.panel-heading
						.row
							.col-xs-5.col-sm-7.col-lg-9 Sprachen
							.col-xs-1 Kompl.
							.col-xs-3.col-sm-2.col-lg-1 Lern
							.col-xs-3.col-sm-2.col-lg-1 TaW
					ul.list-group
					each __talent, __idx in _Sprachen
						- var __heldentalent = getTalent(_Held.Talente.Sprachen, {talent:__talent.name})
						- var __isAvailable  = isAvailable(_Held.Talente.Sprachen, __talent)
						li.list-group-item
							.row
								.col-xs-1
									input.unlock(type="hidden", name="Talente[Sprachen][#{__idx}][_talent]", value=__talent._id, disabled=!__isAvailable)
									input.unlock(type="hidden", name="Talente[Sprachen][#{__idx}][Komplexität]", value=__talent.komplexität, disabled=!__isAvailable)
									if __talent.standard
										input(type="hidden", name="Talente[Sprachen][#{__idx}][name]", value=__talent.name)
									else
										input.isactive(type="checkbox", name="Talente[Sprachen][#{__idx}][name]", value=__talent.name, id="spr"+__idx, checked=__isAvailable)
								.col-xs-4.col-sm-6.col-lg-8.text-left
									label(for="spr"+__idx)=__talent.name
								.col-xs-1=__talent.komplexität
								.col-xs-3.col-sm-2.col-lg-1
									select.unlock(size="1", name="Talente[Sprachen][#{__idx}][Lernstufe]", disabled=!__isAvailable)
										each __kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
											option(selected=__heldentalent.Lernstufe ? __heldentalent.Lernstufe === __kat : __talent.stufe === __kat)=__kat
								.col-xs-3.col-sm-2.col-lg-1
									input.unlock(type="number", name="Talente[Sprachen][#{__idx}][wert]", min="0", max="20", step="1", value=__heldentalent.wert, disabled=!__isAvailable)

				section#Schriften.tab-pane.panel.panel-default.text-center
					.panel-heading
						.row
							.col-xs-5.col-sm-7.col-lg-9 Schriften
							.col-xs-1 Kompl.
							.col-xs-3.col-sm-2.col-lg-1 Lern
							.col-xs-3.col-sm-2.col-lg-1 TaW
					ul.list-group
					each __talent, __idx in _Schriften
						- var __heldentalent = getTalent(_Held.Talente.Schriften, {talent:__talent.name})
						- var __isAvailable  = isAvailable(_Held.Talente.Schriften, __talent)
						li.list-group-item
							.row
								.col-xs-1
									input.unlock(type="hidden", name="Talente[Schriften][#{__idx}][_talent]", value=__talent._id, disabled=!__isAvailable)
									input.unlock(type="hidden", name="Talente[Schriften][#{__idx}][Komplexität]", value=__talent.komplexität, disabled=!__isAvailable)
									if __talent.standard
										input(type="hidden", name="Talente[Schriften][#{__idx}][name]", value=__talent.name)
									else
										input.isactive(type="checkbox", name="Talente[Schriften][#{__idx}][name]", value=__talent.name, id="scr"+__idx, checked=__isAvailable)
								.col-xs-4.col-sm-6.col-lg-8.text-left
									label(for="scr"+__idx)=__talent.name
								.col-xs-1=__talent.komplexität
								.col-xs-3.col-sm-2.col-lg-1
									select.unlock(size="1", name="Talente[Schriften][#{__idx}][Lernstufe]", disabled=!__isAvailable)
										each __kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
											option(selected=__heldentalent.Lernstufe ? __heldentalent.Lernstufe === __kat : __talent.stufe === __kat)=__kat
								.col-xs-3.col-sm-2.col-lg-1
									input.unlock(type="number", name="Talente[Schriften][#{__idx}][wert]", min="0", max="20", step="1", value=__heldentalent.wert, disabled=!__isAvailable)

				section#Gaben.tab-pane.panel.panel-default.text-center
					+talentTable(_Gaben, "Gaben")
				
				#save.row.well
					.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4.text-center
						button.btn.btn-success.form-control(type="submit", disabled) speichern

			script(src="/js/edit-talente.js")
