- function getTalent(list, value) { 
- 	var l = list.length; 
- 	while (l--) { 
- 		if (list[l].name === value.name) {
- 			return list[l];
- 		}
- 	} 
- 	return { wert: 0, AT: 0, PA: 0 }; 
- }
- function isAvailable(list, value) { 
- 	var l = list.length; 
- 	if (value.standard) {
- 		return true;
- 	}
- 	while (l--) { 
- 		if (list[l].name === value.name) {
- 			return true; 
- 		}
- 	} 
- 	return false; 
- }
- function isLernstufe(list, ref, curr, dflt) { 
- 	var l = list.length; 
- 	while (l--) { 
- 		if (list[l].name === ref.name) {
- 			return (curr === list[l].Lernstufe);
- 		}
- 	} 
- 	return (curr === dflt); 
- }
mixin talenttable(_titel_, _data_, _name_, _held_)
	table.data-section.eigenschaften
		caption= _titel_
		colgroup
			col(style="width: 1em;")
			col(style="width: 25%;")
			col
			col(style="width: 7em;")
			col(style="width: 7em;")
		thead
			tr
				td
				th Talent
				th Spezialisierung
				th Lern
				th TaW
		tbody
			each val, key in _data_
				tr
					td.mitte(style="padding: 0.2em;")
						input.unlock(type="hidden", name="Talente[#{_name_}][#{key}][_talent]", value=val._id, disabled=!isAvailable(_held_, val))
						if val.standard
							input(type="hidden", name="Talente[#{_name_}][#{key}][name]", value=val.name)
						else
							input.isactive(type="checkbox", name="Talente[#{_name_}][#{key}][name]", value=val.name, id=_name_+key, checked=isAvailable(_held_, val))
					td
						label(for=_name_+key)= val.name
					td
						button.view(type="button")= "\u270E"
						if val.Spezialisierung
							each spez in val.Spezialisierung
								input.spez(type="text", name="Talente[#{_name_}][#{key}][Spezialisierung]", value=spez)
						else
							input.spez(type="text", name="Talente[#{_name_}][#{key}][Spezialisierung]", disabled)
						button.add(type="button") +
					td.mitte
						select.unlock(size="1", name="Talente[#{_name_}][#{key}][Lernstufe]", disabled=!isAvailable(_held_, val))
							each kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
								option(selected=isLernstufe(_held_, val, kat, "B"))= kat
					td.mitte
						input.unlock(type="number", name="Talente[#{_name_}][#{key}][wert]", min="-3", max="35", step="1", value=getTalent(_held_, val).wert, disabled=!isAvailable(_held_, val))

mixin languagetable(_titel_, _data_, _name_, _held_)
	table.data-section.eigenschaften
		caption= _titel_
		colgroup
			col(style="width: 1em;")
			col
			col(style="width: 7em;")
			col(style="width: 7em;")
			col(style="width: 7em;")
		thead
			tr
				td
				th Talent
				th Kompl.
				th Lern.
				th TaW
		tbody
			each val, key in _data_
				tr
					td.mitte(style="padding: 0.2em;")
						input.unlock(type="hidden", name="Talente[#{_name_}][#{key}][Komplexität]", value=val.komplex, disabled=!isAvailable(_held_, val))
						if val.standard
							input(type="hidden", name="Talente[#{_name_}][#{key}][name]", value=val.name)
						else
							input.isactive(type="checkbox", name="Talente[#{_name_}][#{key}][name]", value=val.name, id=_name_+key, checked=isAvailable(_held_, val))
					td
						label(for=_name_+key)= val.name
					td.mitte= val.komplex
					td.mitte
						select.unlock(size="1", name="Talente[#{_name_}][#{key}][Lernstufe]", disabled=!isAvailable(_held_, val))
							each kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
								option(selected=isLernstufe(_held_, val, kat, "B"))= kat
					td.mitte
						input.unlock(type="number", name="Talente[#{_name_}][#{key}][wert]", min="-3", max=val.komplex, step="1", value=getTalent(_held_, val).wert, disabled=!isAvailable(_held_, val))


doctype 5
html(lang="de")
	head
		title Talentwerte bearbeiten
		link(rel="stylesheet", type="text/css", href="/show.css")
		script(src="/jquery-2.0.3.min.js")
		style.
			.view {
				width: 2em;
			}
			input[type="number"], .nk-taw {
				text-align: center;
			}
			nav {
				position: fixed;
				top: 0;
				background-color: #eee;
				width: 100%;
			}
			nav a {
				display: inline-block;
				width: 6em;
				text-decoration: none;
				color: black;
				text-align: center;
				background-color: #eee;
				padding: 0.3em 0.5em;
				font-weight: bold;
			}
			nav a:hover {
				color: #eee;
				background-color: black;
			}
			h1 a {
				text-decoration: none;
				color: inherit;
			}
	body
		nav
			a(href="#jNK") Nahkampf
			a(href="#jFK") Fernkampf
			a(href="#jKOR") Körper
			a(href="#jGES") Gesellschaft
			a(href="#jNAT") Natur
			a(href="#jWIS") Wissen
			a(href="#jHWK") Handwerk
			a(href="#jSPR") Sprachen
			a(href="#jSCR") Schriften
			a(href="#jGAB") Gaben
			a(href="#save") [speichern]
		section
			h1.mitte
				a(href="/held/"+_chardata._id)= _chardata.Person.Name
			form(action="/taw/"+_chardata._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
			
				a#jNK
				table.data-section.eigenschaften
					caption Nahkampf
					colgroup
						col(style="width: 1em;")
						col(style="width: 25%;")
						col
						col(style="width: 7em;")
						col(style="width: 7em;")
						col(style="width: 7em;")
						col(style="width: 7em;")
					thead
						tr
							td
							th Talent
							th Spezialisierung
							th Lern
							th AT-Mod.
							th PA-Mod.
							th TaW
					tbody#nahkampf
						each val, key in Nahkampf
							tr
								td.mitte(style="padding: 0.2em;")
									input.unlock(type="hidden", name="Talente[Nahkampf][#{key}][_talent]", value=val._id, disabled=!isAvailable(_chardata.Talente.Nahkampf, val))
									if val.standard
										input(type="hidden", name="Talente[Nahkampf][#{key}][name]", value=val.name)
									else
										input.isactive(type="checkbox", name="Talente[Nahkampf][#{key}][name]", value=val.name, id="nk"+key, checked=isAvailable(_chardata.Talente.Nahkampf, val))
								td
									label(for="nk"+key)= val.name
								td
									button.view(type="button")= "\u270E"
									if val.Spezialisierung
										each spez in val.Spezialisierung
											input.spez(type="text", name="Talente[Nahkampf][#{key}][Spezialisierung]", value=spez)
									else
										input.spez(type="text", name="Talente[Nahkampf][#{key}][Spezialisierung]", disabled)
									button.add(type="button") +
								td.mitte
									select.unlock(size="1", name="Talente[Nahkampf][#{key}][Lernstufe]", disabled=!isAvailable(_chardata.Talente.Nahkampf, val))
										each kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
											option(selected=isLernstufe(_chardata.Talente.Nahkampf, val, kat, "D"))= kat
								td.mitte
									input.nk-at.unlock(type="number", name="Talente[Nahkampf][#{key}][AT]", min="0", max="20", step="1", value=getTalent(_chardata.Talente.Nahkampf, val).AT, disabled=!isAvailable(_chardata.Talente.Nahkampf, val))
								td.mitte
									input.nk-pa.unlock(type="number", name="Talente[Nahkampf][#{key}][PA]", min="0", max="20", step="1", value=getTalent(_chardata.Talente.Nahkampf, val).PA, disabled=!isAvailable(_chardata.Talente.Nahkampf, val))
								td.mitte
									input.nk-taw(type="text", size="3", readonly)

				a#jFK
				table.data-section.eigenschaften
					caption Fernkampf
					colgroup
						col(style="width: 1em;")
						col(style="width: 25%;")
						col
						col(style="width: 7em;")
						col(style="width: 7em;")
					thead
						tr
							td
							th Talent
							th Spezialisierung
							th Lern
							th TaW
					tbody
						each val, key in Fernkampf
							tr
								td.mitte(style="padding: 0.2em;")
									input.unlock(type="hidden", name="Talente[Fernkampf][#{key}][_talent]", value=val._id, disabled=!isAvailable(_chardata.Talente.Fernkampf, val))
									if val.standard
										input(type="hidden", name="Talente[Fernkampf][#{key}][name]", value=val.name)
									else
										input.isactive(type="checkbox", name="Talente[Fernkampf][#{key}][name]", value=val.name, id="fk"+key, checked=isAvailable(_chardata.Talente.Fernkampf, val))
								td
									label(for="fk"+key)= val.name
								td
									button.view(type="button")= "\u270E"
									if val.Spezialisierung
										each spez in val.Spezialisierung
											input.spez(type="text", name="Talente[Fernkampf][#{key}][Spezialisierung]", value=spez)
									else
										input.spez(type="text", name="Talente[Fernkampf][#{key}][Spezialisierung]", disabled)
									button.add(type="button") +
								td.mitte
									select.unlock(size="1", name="Talente[Fernkampf][#{key}][Lernstufe]", disabled=!isAvailable(_chardata.Talente.Fernkampf, val))
										each kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
											option(selected=isLernstufe(_chardata.Talente.Fernkampf, val, kat, "D"))= kat
								td.mitte
									input.unlock(type="number", name="Talente[Fernkampf][#{key}][AT]", min="0", max="20", step="1", value=getTalent(_chardata.Talente.Fernkampf, val).AT, disabled=!isAvailable(_chardata.Talente.Fernkampf, val))
				a#jKOR
				+talenttable('Körperliche Talente', körperlich, 'körperlich', _chardata.Talente.körperlich)
				a#jGES
				+talenttable('Gesellschaftliche Talente', Gesellschaft, 'Gesellschaft', _chardata.Talente.Gesellschaft)
				a#jNAT
				+talenttable('Naturtalente', Natur, 'Natur', _chardata.Talente.Natur)
				a#jWIS
				+talenttable('Wissenstalente', Wissen, 'Wissen', _chardata.Talente.Wissen)
				a#jHWK
				+talenttable('Handwerkstalente', Handwerk, 'Handwerk', _chardata.Talente.Handwerk)
				a#jSPR
				+languagetable('Sprachen', Sprachen, 'Sprachen', _chardata.Talente.Sprachen)
				a#jSCR
				+languagetable('Schriften', Schriften, 'Schriften', _chardata.Talente.Schriften)
				
				.mitte#save
					button(type="submit") speichern

		script.
			$('.add').on('click', function() {
				$(this).prev().clone().insertBefore(this);
			});
			$('.view').on('click', function() {
				var $text  = $(this).closest('td').find('input');
				var $check = $(this).closest('tr').find('.isactive');
				var check_state = $check.length ? $check.prop('checked') : true;
				var text_state  = !(check_state && $text.prop('disabled'));
				$text.prop('disabled', text_state);
				this.textContent = (text_state) ? "\u270E" : "\u2717";
			});
			$('label').on('click', function() {
				// click is faster than label => checkbox
				var $tr    = $(this).closest('tr');
				var $check = $tr.find('.isactive');
				if ($check.length) {
					$tr.find('.unlock').prop('disabled', $check.prop('checked'));
					$tr.find('.spez').prop('disabled', true);
				}
			});
			$('#nahkampf').on('change', 'tr', function() {
				var taw = Number($(this).find('.nk-at').val()) + Number($(this).find('.nk-pa').val());
				$(this).find('.nk-taw').val(taw);
			});
			$(function() {
				$('#nahkampf tr').each(function() {
					var taw = Number($(this).find('.nk-at').val()) + Number($(this).find('.nk-pa').val());
					$(this).find('.nk-taw').val(taw);
				});
			});
