doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title Waffenschmiede
		link(rel="stylesheet", type="text/css", href="/edit.css")
		link(rel="stylesheet", type="text/css", href="/nav.css")
		script(src="/jquery-2.0.3.min.js")
		style.
			.selection td:first-child {
				width: 2em;
				padding: 0;
				text-align: center;
			}
			input[type='number'] {
				width: 3em;
				text-align: center;
			}
			table {
				table-layout: auto;
			}
			th {
				vertical-align: middle !important;
			}
	body
		nav
			ul#main-menu
				li
					a(title="springe zu Abschnitt ...") &#8681;
					// display section
					ul
						li
							a(href="#nkw") Nahkampfwaffen
						li
							a(href="#pws") Parierwaffen &amp; Schilde
						li
							a(href="#fkw") Fernkampfwaffen
				li
					a(href="#top") [Seitenanfang]
				li
					a(href="/held/"+_held._id, title="Heldenbogen")= "⇒ "+_held.Person.Name.split(' ')[0]
		header#top
			h1.mitte
				a(href="/held/"+_held._id)= _held.Person.Name
		main
			form(action="/waffen/"+_held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")

				table#nkw.data-section.eigenschaften.mitte.selection
					caption Nahkampfwaffen
					colgroup
						col(span="3")
						col(span="3", style="width: 7em;")
						col(style="width: 14em;")
					thead
						tr
							td(rowspan="2")
							th(rowspan="2") Name
							th(rowspan="2") Talent
							th DK
							th(colspan="2") WM
							th TP
						tr
							th eBE
							th BF
							th INI
							th TP/KK
					tfoot
						tr
							td
							td(colspan="6")
								button#addNKW(type="button") mehr Waffen !!!
					tbody
						if _held.Ausrüstung && _held.Ausrüstung.Nahkampf
							each __nkw, __idx in _held.Ausrüstung.Nahkampf
								tr
									td(rowspan="2")
										input.isactive(type="checkbox", checked, data-span="2")
									td(rowspan="2")
										input.fullSize(type="text", name="Ausrüstung.Nahkampf[#{__idx}][Name]", value=__nkw.Name)
									td
										select(size="1", name="Ausrüstung.Nahkampf[#{__idx}][talent]")
											each __nk in _Nahkampf
												option(selected=__nk.name===__nkw.talent)=__nk.name
									td
										input.mitte(type="text", name="Ausrüstung.Nahkampf[#{__idx}][DK]", value=__nkw.DK, placeholder="HNSP", size="4", maxlength="4")
									td(colspan="2")
										input(type="number", name="Ausrüstung.Nahkampf[#{__idx}][WM][AT]", step="1", min="-5", max="5", value=__nkw.WM.AT)
										| &nbsp;/
										input(type="number", name="Ausrüstung.Nahkampf[#{__idx}][WM][PA]", step="1", min="-5", max="5", value=__nkw.WM.PA)
									td
										input(type="text", name="Ausrüstung.Nahkampf[#{__idx}][TP][roll]", value=__nkw.TP.roll, size="3", maxlength="5", placeholder="n × W6", title="Anzahl Würfel")
										| &nbsp;+
										input(type="number", name="Ausrüstung.Nahkampf[#{__idx}][TP][rollMod]", step="1", value=__nkw.TP.rollMod)
								tr
									td
										input#spez(type="checkbox", name="Ausrüstung.Nahkampf[#{__idx}][spez]", value="1", checked=__nkw.spez)
										label(for="spez") mit Spezialisierung
									td 
										input(type="number", name="Ausrüstung.Nahkampf[#{__idx}][BE]", max="0", step="1", value=__nkw.BE)
									td
										input#bf(type="number", name="Ausrüstung.Nahkampf[#{__idx}][BF]", step="1", value=__nkw.BF)
									td
										input(type="number", name="Ausrüstung.Nahkampf[#{__idx}][INI]", step="1", value=__nkw.INI)
									td
										input(type="number", name="Ausrüstung.Nahkampf[#{__idx}][TP][kk]", step="1", min="5", value=__nkw.TP.kk)
										| &nbsp;/
										input(type="number", name="Ausrüstung.Nahkampf[#{__idx}][TP][kkMod]", step="1", min="1", max="10", value=__nkw.TP.kkMod)
				.mitte
					button(type="submit", disabled) speichern
				
			form(action="/waffen/Nahkampf/"+_held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="delete")
				.mitte
					button(type="submit", disabled) alle Nahkampfwaffen löschen
				
			form(action="/waffen/"+_held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")

				table#pws.data-section.eigenschaften.mitte.selection
					caption Parierwaffen & Schilde
					colgroup
						col(span="3")
						col(style="width: 7em;")
						col(style="width: 14em;")
						col(span="2", style="width: 7em;")
					thead
						tr
							td
							th Name
							th Talent
							td
							th WM
							th BF
							th INI
					tfoot
						tr
							td
							td(colspan="6")
								button#addPWS(type="button") noch mehr Waffen !!!
					tbody
						if _held.Ausrüstung && _held.Ausrüstung.LinkeHand
							each __pws, __idx in _held.Ausrüstung.LinkeHand
								tr
									td
										input.isactive(type="checkbox", checked, data-span="1")
									td
										input.fullSize(type="text", name="Ausrüstung.LinkeHand[#{__idx}][Name]", value=__pws.Name)
									td
										select(size="1", name="Ausrüstung.LinkeHand[#{__idx}][talent]")
											each __val in ["Schild", "Parierwaffe", "Schild / PW"]
												option(selected=__val===__pws.talent)=__val
									td
									td
										input(type="number", name="Ausrüstung.LinkeHand[#{__idx}][WM][AT]", step="1", min="-10", max="3", value=__pws.WM.AT)
										| &nbsp;/
										input(type="number", name="Ausrüstung.LinkeHand[#{__idx}][WM][PA]", step="1", min="0", max="5", value=__pws.WM.PA)
									td
										input#bf(type="number", name="Ausrüstung.LinkeHand[#{__idx}][BF]", step="1", value=__pws.BF)
									td
										input(type="number", name="Ausrüstung.LinkeHand[#{__idx}][INI]", step="1", value=__pws.INI)
				.mitte
					button(type="submit", disabled) speichern
				
			form(action="/waffen/LinkeHand/"+_held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="delete")
				.mitte
					button(type="submit", disabled) alle Parierwaffen/Schilde löschen
				
			form#fern(action="/waffen/"+_held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="put")
				
				table#fkw.data-section.eigenschaften.mitte.selection
					caption Fernkampfwaffen
					colgroup
						col(span="4")
						col(style="width: 21em;")
						col(style="width: 14em;")
					thead
						tr
							td(rowspan="2")
							th(rowspan="2") Name (FK-Mod.)
							th(rowspan="2") Talent
							th BE
							th DK
							th FK-Mod.
						tr
							th Ladezeit
							th TP+
							th(title="nur bei Wurfwaffen und Blasrohren") TP/KK
					tfoot
						tr
							td
							td(colspan="5")
								button#addFKW(type="button") viel mehr Waffen !!!
					tbody
						if _held.Ausrüstung && _held.Ausrüstung.Fernkampf
							each __fkw, __idx in _held.Ausrüstung.Fernkampf
								tr
									td(rowspan="2")
										input.isactive(type="checkbox", checked, data-span="2")
									td(rowspan="2")
										input.halfSize(type="text", name="Ausrüstung.Fernkampf[#{__idx}][Name]", value=__fkw.Name)
										| &nbsp;+
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][WM][AT]", min="-1", max="2", step="1", value=__fkw.WM.AT)
									td
										select(size="1", name="Ausrüstung.Fernkampf[#{__idx}][talent]")
											each __fk in _Fernkampf
												option(selected=__fk.name===__fkw.talent)=__fk.name
									td 
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][BE]", max="0", step="1", value=__fkw.BE)
									td
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][dk][]", min="0", step="1", value=__fkw.TP.dk[0])
										| &nbsp;/
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][dk][]", min="0", step="1", value=__fkw.TP.dk[1])
										| &nbsp;/
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][dk][]", min="0", step="1", value=__fkw.TP.dk[2])
										| &nbsp;/
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][dk][]", min="0", step="1", value=__fkw.TP.dk[3])
										| &nbsp;/
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][dk][]", min="0", step="1", value=__fkw.TP.dk[4])
									td
										input(type="text", name="Ausrüstung.Fernkampf[#{__idx}][TP][roll]", value=__fkw.TP.roll, size="3", maxlength="5", placeholder="n × W6", title="Anzahl Würfel")
										| &nbsp;+
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][rollMod]", step="1", value=__fkw.TP.rollMod)
								tr
									td
										input#spez(type="checkbox", name="Ausrüstung.Fernkampf[#{__idx}][spez]", value="1")
										label(for="spez") mit Spezialisierung
									td
										input.mitte(type="text", name="Ausrüstung.Fernkampf[#{__idx}][Laden]", placeholder="Ladezeit", value=__fkw.Laden, size="5")
									td
										input.mitte(type="text", name="Ausrüstung.Fernkampf[#{__idx}][TP][dkMod][]", size="5", maxlength="2", value=__fkw.TP.dkMod[0])
										| &nbsp;/
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][dkMod][]", min="-5", max="5", step="1", value=__fkw.TP.dkMod[1])
										| &nbsp;/
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][dkMod][]", min="-5", max="5", step="1", value=__fkw.TP.dkMod[2])
										| &nbsp;/
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][dkMod][]", min="-5", max="5", step="1", value=__fkw.TP.dkMod[3])
										| &nbsp;/
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][dkMod][]", min="-5", max="5", step="1", value=__fkw.TP.dkMod[4])
									td
										input.wurf(type="checkbox")
										select(size="1", name="Ausrüstung.Fernkampf[#{__idx}][TP][kkAtt]", disabled)
											option KO
											option(selected) KK
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][kk]", step="1", min="5", value="11", disabled)
										| &nbsp;/
										input(type="number", name="Ausrüstung.Fernkampf[#{__idx}][TP][kkMod]", step="1", min="1", max="10", value="3", disabled)
				.mitte
					button(type="submit", disabled) speichern
				
			form(action="/waffen/Fernkampf/"+_held._id, method="post", accept-charset="utf-8")
				input(type="hidden", name="_method", value="delete")
				.mitte
					button(type="submit", disabled) alle Fernkampfwaffen löschen
		script(src="/edit-waffen.js")
			
		table(style="display: none;")
			tbody#tmpl-nkw
				tr
					td(rowspan="2")
						input.isactive(type="checkbox", checked, data-span="2")
					td(rowspan="2")
						input.fullSize(type="text", name="Ausrüstung.Nahkampf[{index}][Name]")
					td
						select(size="1", name="Ausrüstung.Nahkampf[{index}][talent]")
							each __nk in _Nahkampf
								option=__nk.name
					td
						input.mitte(type="text", name="Ausrüstung.Nahkampf[{index}][DK]", value="N", placeholder="HNSP", size="4", maxlength="4")
					td(colspan="2")
						input(type="number", name="Ausrüstung.Nahkampf[{index}][WM][AT]", step="1", min="-5", max="5", value="0")
						| &nbsp;/
						input(type="number", name="Ausrüstung.Nahkampf[{index}][WM][PA]", step="1", min="-5", max="5", value="0")
					td
						input(type="text", name="Ausrüstung.Nahkampf[{index}][TP][roll]", value="1W6", size="3", maxlength="5", placeholder="n × W6", title="Anzahl Würfel")
						| &nbsp;+
						input(type="number", name="Ausrüstung.Nahkampf[{index}][TP][rollMod]", step="1", value="2")
				tr
					td
						input(type="checkbox", name="Ausrüstung.Nahkampf[{index}][spez]", value="1", id="spez_{index}")
						label(for="spez_{index}") mit Spezialisierung
					td 
						input(type="number", name="Ausrüstung.Nahkampf[{index}][BE]", max="0", step="1", value="-2")
					td
						input(type="number", name="Ausrüstung.Nahkampf[{index}][BF]", step="1", value="2")
					td
						input(type="number", name="Ausrüstung.Nahkampf[{index}][INI]", step="1", value="0")
					td
						input(type="number", name="Ausrüstung.Nahkampf[{index}][TP][kk]", step="1", min="5", value="11")
						| &nbsp;/
						input(type="number", name="Ausrüstung.Nahkampf[{index}][TP][kkMod]", step="1", min="1", max="10", value="3")
			tbody#tmpl-pws
				tr
					td
						input.isactive(type="checkbox", checked)
					td
						input.fullSize(type="text", name="Ausrüstung.LinkeHand[{index}][Name]")
					td
						select(size="1", name="Ausrüstung.LinkeHand[{index}][talent]")
							option Schild
							option Parierwaffe
							option Schild / PW
					td
					td
						input(type="number", name="Ausrüstung.LinkeHand[{index}][WM][AT]", step="1", min="-10", max="3", value="-1")
						| &nbsp;/
						input(type="number", name="Ausrüstung.LinkeHand[{index}][WM][PA]", step="1", min="0", max="5", value="2")
					td
						input#bf(type="number", name="Ausrüstung.LinkeHand[{index}][BF]", step="1", value="2")
					td
						input(type="number", name="Ausrüstung.LinkeHand[{index}][INI]", step="1", value="0")
			tbody#tmpl-fkw
				tr
					td(rowspan="2")
						input.isactive(type="checkbox", checked, data-span="2")
					td(rowspan="2")
						input.halfSize(type="text", name="Ausrüstung.Fernkampf[{index}][Name]")
						| &nbsp;+
						input(type="number", name="Ausrüstung.Fernkampf[{index}][WM][AT]", min="-1", max="2", step="1", value="0")
					td
						select(size="1", name="Ausrüstung.Fernkampf[{index}][talent]")
							each __fk in _Fernkampf
								option=__fk.name
					td 
						input(type="number", name="Ausrüstung.Fernkampf[{index}][BE]", max="0", step="1", value="-2")
					td
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dk][]", min="0", step="1", value="2")
						| &nbsp;/
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dk][]", min="0", step="1", value="5")
						| &nbsp;/
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dk][]", min="0", step="1", value="10")
						| &nbsp;/
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dk][]", min="0", step="1", value="20")
						| &nbsp;/
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dk][]", min="0", step="1", value="40")
					td
						input(type="text", name="Ausrüstung.Fernkampf[{index}][TP][roll]", value="1W6", size="3", maxlength="5", placeholder="n × W6", title="Anzahl Würfel")
						| &nbsp;+
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][rollMod]", step="1", value="4")
				tr
					td
						input(type="checkbox", name="Ausrüstung.Fernkampf[{index}][spez]", value="1", id="fk_{index}")
						label(for="fk_{index}") mit Spezialisierung
					td
						input.mitte(type="text", name="Ausrüstung.Fernkampf[{index}][Laden]", placeholder="Ladezeit", value="4 A", size="5")
					td
						input.mitte(type="text", name="Ausrüstung.Fernkampf[{index}][TP][dkMod][]", size="5", maxlength="2", value="0", title="für Waffen mit Mindestreichweite")
						| &nbsp;/
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dkMod][]", min="-5", max="5", step="1", value="0")
						| &nbsp;/
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dkMod][]", min="-5", max="5", step="1", value="0")
						| &nbsp;/
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dkMod][]", min="-5", max="5", step="1", value="0")
						| &nbsp;/
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][dkMod][]", min="-5", max="5", step="1", value="0")
					td
						input.wurf(type="checkbox")
						select(size="1", name="Ausrüstung.Fernkampf[{index}][TP][kkAtt]", disabled)
							option KO
							option(selected) KK
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][kk]", step="1", min="5", value="11", disabled)
						| &nbsp;/
						input(type="number", name="Ausrüstung.Fernkampf[{index}][TP][kkMod]", step="1", min="1", max="10", value="3", disabled)

