include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title Zauber hinzufügen
		link(rel="stylesheet", href="/css/dcm-display.css")
		style.
			input[type='number'] {
				text-align: 		center;
				border-radius:		5px;
			}
			input[type='number']:disabled {
				background-color:	#ddd;
			}
			.panel h1 {
				margin:				0;
			}
			#template {
				display:			none;
			}
	body#top
		include inc/nav
		header.container
			h1.page-header.text-center=_Held.Person.Name
				
		main.container
			form.panel.panel-default(action="/zauber/"+_Held._id, method="post", accept-charset="utf-8")
				h1.panel-heading.dcm-caption Zauber
				ul#zauber.list-group.text-center
					li.list-group-item
						.row.dcm-row
							.col-xs-11.col-xs-offset-1.col-sm-5
								.dcm-header.dcm-border Zauber
							.col-xs-3.col-xs-offset-1.col-sm-2.col-sm-offset-0
								.dcm-header.dcm-border Rep.
							.col-xs-4.col-sm-2
								.dcm-header.dcm-border Lern
							.col-xs-4.col-sm-2
								.dcm-header.dcm-border ZfW
					if Array.isArray(_Held.Magie.Zauber)
						each __spell, __idx in _Held.Magie.Zauber
							li.list-group-item
								.row
									.col-xs-1
										input.unlock(type="hidden", name="Magie.Zauber[#{__idx}][_zauber]", value=__spell._zauber._id)
										input.unlock(type="hidden", name="Magie.Zauber[#{__idx}][Repräsentation]", value=__spell.Repräsentation)
										input.isactive(type="checkbox", id="zbr_"+__idx, checked)
									.col-xs-11.col-sm-5.text-left
										label(for="zbr_"+__idx)=__spell._zauber.Name
									.col-xs-3.col-xs-offset-1.col-sm-2.col-sm-offset-0=__spell.Repräsentation
									.col-xs-4.col-sm-2
										select.unlock(size="1", name="Magie.Zauber[#{__idx}][Lernstufe]")
											each __kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
												option(selected=(__spell.Lernstufe === __kat))=__kat
									.col-xs-4.col-sm-2
										input.unlock(type="number", name="Magie.Zauber[#{__idx}][ZfW]", value=__spell.ZfW, min="0", max="35" step="1")
				.panel-footer
					#save.row
						.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4.text-center
							button.btn.btn-success.form-control(type="submit", disabled) speichern
							input(type="hidden", name="_method", value="put")

			aside#template
				li.list-group-item
					.row
						.col-xs-1
							input.unlock.id(type="hidden",  name="Magie.Zauber[{index}][_zauber]")
							input.unlock.rep(type="hidden", name="Magie.Zauber[{index}][Repräsentation]")
							input.isactive(type="checkbox", id="zbr_{index}", checked)
						.col-xs-11.col-sm-5.text-left
							label(for="zbr_{index}")
						.col-xs-3.col-xs-offset-1.col-sm-2.col-sm-offset-0.rep
						.col-xs-4.col-sm-2
							select.unlock(size="1", name="Magie.Zauber[{index}][Lernstufe]")
								each __kat in ["A+", "A", "B", "C", "D", "E", "F", "G", "H"]
									option=__kat
						.col-xs-4.col-sm-2
							input.unlock(type="number", name="Magie.Zauber[{index}][ZfW]", value="0", min="0", max="35" step="1")

			section.panel.panel-default
				h1.panel-heading.dcm-caption Zauber hinzufügen
				- var __heldReps = ["Mag"]
				if Array.isArray(_Held.Magie.Repräsentation) && _Held.Magie.Repräsentation.length
					- __heldReps = _Held.Magie.Repräsentation.map(function(item) { return item.short; })
				ul#liste.list-group.container-fluid.text-center
					li.list-group-item
						.row.dcm-row
							.col-xs-10.col-xs-offset-2.col-sm-7.col-sm-offset-1.col-md-4
								.dcm-header.dcm-border Zauber
							.col-xs-5.col-xs-offset-2.col-sm-2.col-sm-offset-0.col-md-1
								.dcm-header.dcm-border Kompl.
							.col-xs-5.col-sm-2.col-md-1
								.dcm-header.dcm-border Rep.
							.col-xs-10.col-xs-offset-2.col-sm-11.col-sm-offset-1.col-md-5.col-md-offset-0
								.dcm-header.dcm-border Merkmale
					each __stdSpell in _Zauber
						li.list-group-item
							.row(data-kompl=__stdSpell.Komplexität, data-name=__stdSpell.Name)
								.col-xs-2.col-sm-1
									button.btn.btn-default.fa.fa-plus(type="button")
									input.id(type="hidden", value=__stdSpell._id)
								.col-xs-10.col-sm-7.col-md-4.text-left(title=__stdSpell.Probe.join(' · '))=__stdSpell.Name
								.col-xs-5.col-sm-2.col-md-1=__stdSpell.Komplexität
								.col-xs-5.col-sm-2.col-md-1
									select(size="1")
										each __rep in __stdSpell.Repräsentationen
											option(value=__rep, selected=(__heldReps.indexOf(__rep) > -1))=__rep
								.col-xs-10.col-xs-offset-2.col-sm-11.col-sm-offset-1.col-md-5.col-md-offset-0.text-left=__stdSpell.Merkmale.join(', ')

		script(src="/js/edit-zauber.js")
