include ../inc-mixins

doctype html
html(lang="de")
	head
		include inc-head
		style.
			body {
				padding-top:      60px;
			}
	body
		include inc-nav
		header.container
			.page-header.text-center
				h1(href="/held/"+_Held._id)=_Held.Person.Name
				h3 —Liturgiebogen—
		main.container
			// Vor- und Nachteile
			.row
				.col-sm-6
					section.panel.panel-default#vt
						.panel-heading.dcm-caption Vorteile
						ul.list-group
							each __vt in _Held.Vorteile
								li.list-group-item=__vt
				.col-sm-6
					section.panel.panel-default#nt
						.panel-heading.text-center.dcm-caption Nachteile
						ul.list-group
							each __nt in _Held.Nachteile
								li.list-group-item=__nt
			// Sonderfertigkeiten
			section.panel.panel-default#sf
				.panel-heading.dcm-caption Sonderfertigkeiten
				.panel-body
					if _Held.SF
						.container-fluid
							.text-center.dcm-header.dcm-list-item.dcm-border Karmale Sonderfertigkeiten
							.row
								each __sf in _Held.SF.geweiht
									.col-sm-6.col-lg-4
										.dcm-list-item=__sf
			// Attribute
			section.panel.panel-default#att
				.panel-heading.dcm-caption Attribute
				.panel-body.text-center
					.container-fluid
						.row.dcm-row
							each __att in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
								.col-xs-6.col-sm-3
									.row
										.col-xs-6.dcm-header=__att
										.col-xs-6=_Held.Attribute[__att].wert
			// Basiswerte
			section.panel.panel-default#bas
				.panel-heading.dcm-caption Basiswerte
				.panel-body.text-center
					.container-fluid
						.row.dcm-row
							each __prop in ["LeP", "AuP", "MR", "KaP"]
								.col-xs-6.col-sm-3
									.row
										.col-xs-6.dcm-header=__prop
										.col-xs-6=_Held.Basiswerte[__prop] || "—"
			// Liturgiekenntnis
			section.panel.panel-default#lkw
				.panel-heading.dcm-caption Liturgiekenntnis
				.panel-body
					.container-fluid.text-center
						.row.dcm-row
							.col-xs-12.col-sm-6
								.dcm-header.dcm-border Liturgiekenntnis
							.col-xs-6.col-sm-3
								.dcm-header.dcm-border Probe
							.col-xs-2.col-sm-1 &nbsp;
							.col-xs-4.col-sm-2
								.dcm-header.dcm-border LkW
						if _Held.Weihe && _Held.Weihe.Liturgiekenntnis && _Held.Weihe.Liturgiekenntnis.length
							each __lkw in _Held.Weihe.Liturgiekenntnis
								.row.dcm-row.dcm-table
									.col-xs-12.col-sm-6.text-left=__lkw.name
									.col-xs-6.col-sm-3(title=__lkw._talent.probe.join(' · '))= __lkw._talent.probe.map(function(item) { return _Held.Attribute[item].wert; }).join(' · ')
									.col-xs-2.col-sm-1=__lkw.Lernstufe
									.col-xs-4.col-sm-2=__lkw.wert.toString().replace('-', '–')
			// Liturgien
			section.panel.panel-default#lkw
				.panel-heading.dcm-caption Liturgien
				.panel-body
					.container-fluid
						.row.dcm-row.text-center
							.col-xs-9.col-sm-6.col-md-4
								.dcm-header.dcm-border Liturgie
							.col-xs-3.col-sm-2.col-md-1
								.dcm-header.dcm-border Grad
							.col-xs-6.col-sm-4.col-md-2
								.dcm-header.dcm-border Dauer
							.col-xs-6.col-sm-4.col-md-1
								.dcm-header.dcm-border Ziel
							.col-xs-6.col-sm-4.col-md-2
								.dcm-header.dcm-border Reichweite
							.col-xs-6.col-sm-4.col-md-2
								.dcm-header.dcm-border Wirkungsdauer
					if _Held.Weihe && _Held.Weihe.Liturgien && _Held.Weihe.Liturgien.length
						- var __grad = {1:"I", 2:"II", 3:"III", 4:"IV", 5:"V", 6:"VI", 7:"VII"}
						.container-fluid.dcm-hover
							each __lit in _Held.Weihe.Liturgien
								.row.dcm-row.dcm-table
									.col-xs-9.col-sm-6.col-md-4=__lit.name
									.col-xs-3.col-sm-2.col-md-1.text-center=__grad[__lit.grad]
									.col-xs-6.col-sm-4.col-md-2=__lit.rd
									.col-xs-6.col-sm-4.col-md-1.text-center=__lit.ziel
									.col-xs-6.col-sm-4.col-md-2=__lit.rw
									.col-xs-6.col-sm-4.col-md-2=__lit.wd
