//- function definitions

-	function contains(__array, __string) {
-		if (typeof __array === "string") {
-			return __array.indexOf(__string) > -1;
-		}
-		if (Array.isArray(__array)) {
-			return __array.filter(function(item) {
-				return item.indexOf(__string) > -1;
-			}).length > 0;
-		}
-		return false;
-	}
- 
- function getTalent(__list, __waffe) { 
- 	var l = __list ? __list.length : 0; 
- 	while (l--) { 
- 		if (__list[l].name === __waffe.talent) {
- 			return __list[l];
- 		}
- 	} 
- 	return { wert: 0, AT: 0, PA: 0 }; 
- }
- 
- function beautifyNumber(num) {
- 	if (isNaN(num)) return num;
- 	return (num > 0 ? "+" : num < 0 ? "–" : "") + Math.abs(num);
- }
- 
-	function render(__str, __data) {
-		Object.keys(__data).forEach(function(key) {
-			__str = __str.replace("{"+key+"}", __data[key].toString());
-		});
-		return __str;
-	}

//- mixin definitions

mixin print(__data)
	p!=JSON.stringify(__data)

//- create a standard menu link
mixin menuLink(__item, __data)
	-     __data  = __data || {};
	- var __title = render(__item.title, __data);
	- var __url   = __item.url ? render(__item.url,   __data) : null;
	if Array.isArray(__item.dropdown)
		+menuDropdown(__item, __data)
	else
		li
			if Array.isArray(__item.sign)
				a(href=__url, title=__title)
					span.hidden-xs(class=__item.sign.join(" "))
					span.visible-xs!=__title
			else
				a(href=__url)!=__title

//- create a menu dropdown item
mixin menuDropdown(__item, __data)
	- __data  = __data || {};
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown")!=render(__item.title, __data)
			b.caret
		ul.dropdown-menu
			each __link in __item.dropdown
				if __link.title
					+menuLink(__link, __data)
				else
					li.divider

//- table for regular talents
mixin TalentTable(__list)
	.container-fluid.text-center
		.row.dcm-row
			.col-xs-12.col-sm-6.col-md-12.col-lg-6
				.dcm-header.dcm-border Talent
			.col-xs-6.col-sm-3.col-md-6.col-lg-3
				.dcm-header.dcm-border Probe
			.col-xs-2.col-sm-1.col-md-2.col-lg-1 &nbsp;
			.col-xs-4.col-sm-2.col-md-4.col-lg-2
				.dcm-header.dcm-border TaW
	.container-fluid.text-center.dcm-hover
		each __talent in __list
			.row.dcm-row.dcm-table
				.col-xs-12.col-sm-6.col-md-12.col-lg-6.text-left=__talent._talent.name
					if __talent.Spezialisierung.length
						|  (#{__talent.Spezialisierung.join(', ')})
				.col-xs-6.col-sm-3.col-md-6.col-lg-3(title=__talent._talent.probe.join(' · '))=__talent._talent.probe.map(function(item) { return _Held.Attribute[item].wert; }).join(' · ')
				.col-xs-2.col-sm-1.col-md-2.col-lg-1=__talent.Lernstufe
				.col-xs-4.col-sm-2.col-md-4.col-lg-2=__talent.wert.toString().replace('-', '–')

//- table for languages and scripts
mixin SprachenTable(__list)
	.container-fluid.text-center
		.row.dcm-row
			.col-xs-12.col-sm-6.col-md-12.col-lg-6
				.dcm-header.dcm-border Talent
			.col-xs-6.col-sm-3.col-md-6.col-lg-3
				.dcm-header.dcm-border Kompl.
			.col-xs-2.col-sm-1.col-md-2.col-lg-1 &nbsp;
			.col-xs-4.col-sm-2.col-md-4.col-lg-2
				.dcm-header.dcm-border TaW
	.container-fluid.text-center.dcm-hover
		each __talent in __list
			.row.dcm-row.dcm-table
				.col-xs-12.col-sm-6.col-md-12.col-lg-6.text-left=__talent.name
				.col-xs-6.col-sm-3.col-md-6.col-lg-3=__talent.Komplexität
				.col-xs-2.col-sm-1.col-md-2.col-lg-1=__talent.Lernstufe
				.col-xs-4.col-sm-2.col-md-4.col-lg-2=__talent.wert

//- table for fighting talents
mixin KampfTable(__list)
	.container-fluid.text-center
		.row.dcm-row
			.col-xs-12.col-sm-5.col-md-12.col-lg-5
				.dcm-header.dcm-border Talent
			.col-xs-3.col-sm-2.col-md-3.col-lg-2
				.dcm-header.dcm-border AT
			.col-xs-3.col-sm-2.col-md-3.col-lg-2
				.dcm-header.dcm-border PA
			.col-xs-2.col-sm-1.col-md-2.col-lg-1 &nbsp;
			.col-xs-4.col-sm-2.col-md-4.col-lg-2
				.dcm-header.dcm-border TaW
	.container-fluid.text-center.dcm-hover
		each __talent in __list
			.row.dcm-row.dcm-table
				.col-xs-12.col-sm-5.col-md-12.col-lg-5.text-left=__talent.name
					if __talent.Spezialisierung.length
						|  (#{__talent.Spezialisierung.join(', ')})
				if typeof __talent.AT === 'number' && typeof __talent.PA === 'number'
					.col-xs-3.col-sm-2.col-md-3.col-lg-2=__talent.AT + _Held.Kampfwerte.AT
					.col-xs-3.col-sm-2.col-md-3.col-lg-2=__talent.PA + _Held.Kampfwerte.PA
				else
					.col-xs-3.col-sm-2.col-md-3.col-lg-2=__talent.AT + _Held.Kampfwerte.FK
					.col-xs-3.col-sm-2.col-md-3.col-lg-2 &nbsp;
				.col-xs-2.col-sm-1.col-md-2.col-lg-1=__talent.Lernstufe
				.col-xs-4.col-sm-2.col-md-4.col-lg-2=__talent.TaW


doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title DCM – #{_Held.Person.Name}
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		link(rel="stylesheet", href="/dcm-display.css")
		script(src="//code.jquery.com/jquery-2.1.0.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		style.
			body {
				padding-top:      60px;
			}
			#pws_deselect:hover {
				background-color: #eee;
			}
			#pws_deselect:active {
				background-color: #111;
				border-color:     silver;
				color:            white;
			}
			#k_axx_label,
			#k_att_label {
				cursor:           pointer;
			}
			.spell-pending {
				background-color: orange;
			}
			.spell-active {
				background-color: green;
				color:            white;
			}
	body
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-chars")
						span.sr-only Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand DCM
				#navbar-collapse-chars.collapse.navbar-collapse
					- var data = { id: _Held._id, name: _Held.Person.Name.split(" ")[0] }
					ul.nav.navbar-nav
						if _Held.SF && (contains(_Held.SF.magisch, "Ritualkenntnis") || contains(_Held.SF.magisch, "Repräsentation"))
							li
								a(href="/magie/"+data.id) ► Magiebogen
						if _Held.SF && contains(_Held.SF.geweiht, "Liturgiekenntnis")
							li
								a(href="/weihe/"+data.id) ► Liturgiebogen
						each __link in _Menu.left
							+menuLink(__link, data)
					ul.nav.navbar-nav.navbar-right
						each __link in _Menu.right
							+menuLink(__link, data)
		header.container
			.page-header.text-center
				h1=_Held.Person.Name
				h3 —Heldenbogen—
		main.container
			// Charakter-Beschreibung
			section.panel.panel-default#bes
				.panel-heading.dcm-caption Beschreibung
				.panel-body
					.container-fluid
						.row.dcm-row
							.col-xs-4.col-sm-2.dcm-header Geschlecht:
							.col-xs-8.col-sm-4=_Held.Person.Geschlecht
							.col-xs-4.col-sm-2.dcm-header Sozialstatus:
							.col-xs-8.col-sm-4=_Held.Person.SO
						.row.dcm-row
							.col-xs-4.col-sm-2.dcm-header Größe:
							.col-xs-8.col-sm-4=_Held.Person.Größe + " HF"
							.col-xs-4.col-sm-2.dcm-header Titel:
							.col-xs-8.col-sm-4=_Held.Person.Titel || "\u00A0"
						.row.dcm-row
							.col-xs-4.col-sm-2.dcm-header Gewicht:
							.col-xs-8.col-sm-4=_Held.Person.Gewicht + " Stein"
							.col-xs-4.col-sm-2.dcm-header Haarfarbe:
							.col-xs-8.col-sm-4=_Held.Person.Haarfarbe
						.row.dcm-row
							.col-xs-4.col-sm-2.dcm-header Tsatag:
							- var monate = ["PRA", "RON", "EFF", "TRA", "BOR", "HES", "FIR", "TSA", "PHE", "PER", "ING", "RAH", "(NLT)"]
							.col-xs-8.col-sm-4=_Held.Person.Tsatag.tag + ". " + monate[_Held.Person.Tsatag.monat] + " " + _Held.Person.Tsatag.jahr + " BF"
							.col-xs-4.col-sm-2.dcm-header Augenfarbe:
							.col-xs-8.col-sm-4=_Held.Person.Augenfarbe
						if _Held.Person.Aussehen.length
							.row.dcm-row
								.col-sm-2.dcm-header Aussehen:
								.col-sm-10
									each line in _Held.Person.Aussehen.split('\n')
										=line
						if _Held.Person.Hintergrund.length
							.row.dcm-row
								.col-sm-2.dcm-header Hintergrund:
								.col-sm-10
									each line in _Held.Person.Hintergrund.split('\n')
										=line
			// Charakter-Generierung
			section.panel.panel-default#gen
				.panel-heading.dcm-caption Generierung
				.panel-body
					.container-fluid
						each val in ["Rasse", "Kultur", "Profession"]
							- var __hidden = _Held.Generierung[val].modifikation ? null : "hidden-xs hidden-sm"
							.row.dcm-row
								.col-sm-3.col-md-2.dcm-header #{val}:
								.col-sm-9.col-md-4=_Held.Generierung[val].name
								.col-sm-3.col-md-2.dcm-header.text-center(class=__hidden) Modifikationen:
								.col-sm-9.col-md-4(class=__hidden)=_Held.Generierung[val].modifikation
						if _Held.Generierung.BgB.name
							- var __hidden = _Held.Generierung.BgB.modifikation ? null : "hidden-xs hidden-sm"
							.row.dcm-row
								.col-md-2.dcm-header BgB:
								.col-md-4=_Held.Generierung.BgB.name
								.col-md-2.dcm-header(class=__hidden) Modifikationen:
								.col-md-4(class=__hidden)=_Held.Generierung.BgB.modifikation
			// Attribute
			section.panel.panel-default#att(data-attribute=JSON.stringify(_Held.Attribute))
				.panel-heading.dcm-caption Attribute
				.panel-body.text-center
					.container-fluid
						.row.dcm-row
							each __att in ["MU", "KL", "IN", "CH", "FF", "GE", "KO", "KK"]
								.col-xs-6.col-sm-3
									.row
										.col-xs-6.dcm-header=__att
										.col-xs-6=_Held.Attribute[__att].wert
			// Basiswerte
			section.panel.panel-default#bas
				.panel-heading.dcm-caption Basiswerte
				.panel-body.text-center
					.container-fluid
						.row.dcm-row
							each __prop in ["LeP", "AuP", "AsP", "KaP"]
								.col-xs-6.col-sm-3
									.row
										.col-xs-6.dcm-header=__prop
										.col-xs-6=_Held.Basiswerte[__prop] || "—"
						.row.dcm-row
								.col-xs-6.col-sm-3
									.row
										.col-xs-6.dcm-header MR
										.col-xs-6=_Held.Basiswerte.MR
								.col-xs-6.col-sm-3
									.row
										.col-xs-6.dcm-header GS
										.col-xs-6=_Held.Basiswerte.GS
								.col-xs-6.col-xs-offset-6.col-sm-3.col-sm-offset-3
									.row
										.col-xs-6.dcm-header WS
										.col-xs-6=_Held.Kampfwerte.WS
						.row.dcm-row
							each __prop in ["INI", "AT", "PA", "FK"]
								.col-xs-6.col-sm-3
									.row
										.col-xs-6.dcm-header=__prop
										.col-xs-6=_Held.Kampfwerte[__prop]
			// Vor- und Nachteile
			.row
				.col-sm-6
					section.panel.panel-default#vt
						.panel-heading.dcm-caption Vorteile
						ul.list-group
							each __vt in _Held.Vorteile
								li.list-group-item=__vt
				.col-sm-6
					section.panel.panel-default#nt
						.panel-heading.text-center.dcm-caption Nachteile
						ul.list-group
							each __nt in _Held.Nachteile
								li.list-group-item=__nt
			// Abenteuerpunkte
			section.panel.panel-default#ap
				.panel-heading.dcm-caption Abenteuerpunkte
				.panel-body.text-center
					.container-fluid
						.row.dcm-row
							.col-xs-6.col-sm-3.dcm-header gesamt:
							.col-xs-6.col-sm-3=_Held.AP.alle.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
							.col-xs-6.col-sm-3.dcm-header verfügbar:
							.col-xs-6.col-sm-3=_Held.AP.frei
			// Sonderfertigkeiten
			section.panel.panel-default#sf
				.panel-heading.dcm-caption Sonderfertigkeiten
				.panel-body
					if _Held.SF
						.container-fluid
							if _Held.SF.allgemein.length
								.text-center.dcm-header.dcm-list-item.dcm-border Allgemeine Sonderfertigkeiten
								.row
									each __sf in _Held.SF.allgemein
										.col-sm-6.col-lg-4
											.dcm-list-item=__sf
								.row
									.col-lg-12 &nbsp;
							if _Held.SF.Kampf.length
								.text-center.dcm-header.dcm-list-item.dcm-border Kampf-Sonderfertigkeiten
								.row
									each __sf in _Held.SF.Kampf
										.col-sm-6.col-lg-4
											.dcm-list-item=__sf
								.row
									.col-lg-12 &nbsp;
							if _Held.SF.Manöver.length
								.text-center.dcm-header.dcm-list-item.dcm-border Waffenlose Manöver
								.row
									each __sf in _Held.SF.Manöver
										.col-sm-6.col-lg-4
											.dcm-list-item=__sf
								.row
									.col-lg-12 &nbsp;
							if _Held.SF.geweiht.length
								.text-center.dcm-header.dcm-list-item.dcm-border Karmale Sonderfertigkeiten
								.row
									each __sf in _Held.SF.geweiht
										.col-sm-6.col-lg-4
											.dcm-list-item=__sf
								.row
									.col-lg-12 &nbsp;
							if _Held.SF.magisch.length
								.text-center.dcm-header.dcm-list-item.dcm-border Magische Sonderfertigkeiten
								.row
									each __sf in _Held.SF.magisch
										.col-sm-6.col-lg-4
											.dcm-list-item=__sf
			// INI & Kampfzauber
			section.panel.panel-default#waf
				.panel-heading.dcm-caption INI &amp; Kampfzauber
				- var __akrob, __ausw = 0
				- __ausw += contains(_Held.SF.Kampf, "Ausweichen I")   ?  3 : 0;
				- __ausw += contains(_Held.SF.Kampf, "Ausweichen II")  ?  3 : 0;
				- __ausw += contains(_Held.SF.Kampf, "Ausweichen III") ?  3 : 0;
				- __ausw += contains(_Held.Nachteile, "Zwergenwuchs")  ?  1 : 0;
				- __ausw += contains(_Held.Vorteile, "Flink")          ?  1 : 0;
				- __ausw += contains(_Held.Nachteile, "Behäbig")       ? -1 : 0;
				- __akrob = getTalent(_Held.Talente.körperlich, { talent: "Akrobatik" }).wert;
				- __akrob = Math.floor((__akrob - 12) / 3 + 0.1);
				- __ausw += __akrob > 0 ? __akrob : 0;
				.panel-body
					.container-fluid
						.row.dcm-row.text-center
							.col-xs-6.col-md-2
								.dcm-header BE:
							.col-xs-3.col-md-2
								select#k_be(size="1", style="width: 75%;")
										option(value="0") ohne RG
										option(value="1") RG I
										option(value="1") RG II
										option(value="2") RG III
							.col-xs-6.col-md-2
								.dcm-header INI:
							.col-xs-3.col-md-2#k_ini_out=_Held.Kampfwerte.INI + " + W6"
							.col-xs-6.col-md-2
								.dcm-header Ausweichen:
							.col-xs-3.col-md-2#k_ausw_out=_Held.Kampfwerte.PA + __ausw
						.row.dcm-row.text-center
							.col-xs-6.col-md-2
								.dcm-header#k_att_label Attributo
							.col-xs-3.col-md-2
								input#k_att(type="checkbox").hidden
								select#sel_att(size="1", style="width: 75%;")
									option(data-wert=_Held.Attribute.MU.wert) MU
									option(data-wert=_Held.Attribute.IN.wert) IN
									option(data-wert=_Held.Attribute.KL.wert) KL
									option(data-wert=_Held.Attribute.CH.wert) CH
									option(data-wert=_Held.Attribute.FF.wert) FF
									option(data-wert=_Held.Attribute.GE.wert) GE
									option(data-wert=_Held.Attribute.KO.wert) KO
									option#val_att_kk(data-wert=_Held.Attribute.KK.wert, selected) KK
							.col-xs-3.col-md-2
								input#val_att(type="number", value=_Held.Attribute.KK.wert, style="width: 75%;").text-center
							.col-xs-6.col-md-2.col-md-offset-2
								.dcm-header#k_axx_label Axxeleratus
							.col-xs-6.col-md-2 &nbsp;
								input#k_axx(type="checkbox").hidden
								input#iniBasis(type="hidden", value=_Held.Kampfwerte.INI - _Held.modifikatoren.INI, data-default=_Held.Kampfwerte.INI - _Held.modifikatoren.INI)
								input#iniMod(type="hidden",  value=_Held.modifikatoren.INI)
								input#atBasis(type="hidden", value=_Held.Kampfwerte.AT, data-default=_Held.Kampfwerte.AT)
								input#paBasis(type="hidden", value=_Held.Kampfwerte.PA, data-default=_Held.Kampfwerte.PA)
								input#fkBasis(type="hidden", value=_Held.Kampfwerte.FK, data-default=_Held.Kampfwerte.FK)
								input#auswMod(type="hidden", value=__ausw)
								input#held(type="hidden",    value=_Held._id)
			// Waffen & Rüstungen
			if _Held.Ausrüstung && _Held.Ausrüstung.Nahkampf && _Held.Ausrüstung.Nahkampf.length
				section.panel.panel-default
					.panel-heading.dcm-caption Nahkampfwaffen
					.panel-body
						.container-fluid.text-center
							.row.dcm-row
								.col-xs-12.col-sm-6.col-md-4.col-lg-3 
									.dcm-header.dcm-border Waffe
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border AT
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border PA
								.col-xs-6.col-sm-2.col-md-2.col-lg-1
									.dcm-header.dcm-border TP
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border DK
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border BF
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border INI
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border eBE
								.col-xs-6.col-sm-2.col-md-2.col-md-offset-8.col-lg-1.col-lg-offset-0
									select(size="1", title="Hauptwaffe", style="min-width: 75%")
										option(selected) rechts
								.col-xs-6.col-sm-2.col-md-2.col-lg-1
									select#bhk_typ(size="1", title="Nebenwaffe", style="min-width: 75%")
										option(value="6", title="SF Linkhand", selected) links
										option(value="3") BHK I
										option(value="0") BHK II
						.container-fluid.text-center#nahkampf-waffen
							each __waffe in _Held.Ausrüstung.Nahkampf
								- var __talent = getTalent(_Held.Talente.Nahkampf, __waffe);
								- var __at     = __talent.AT + __waffe.WM.AT + (__waffe.spez ? 1 : 0);
								- var __pa     = __talent.PA + __waffe.WM.PA + (__waffe.spez ? 1 : 0);
								- var __tp     = __waffe.TP.rollMod + Math.floor((_Held.Attribute.KK.wert - __waffe.TP.kk + 0.1)/__waffe.TP.kkMod) + ((_Held.Attribute.KK.wert < __waffe.TP.kk) ? 1 : 0)
								.row.dcm-row.dcm-table
									.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-left=__waffe.Name
									.col-xs-3.col-sm-2.col-md-1.at(data-at=__at)=_Held.Kampfwerte.AT + __at
									.col-xs-3.col-sm-2.col-md-1.pa(data-pa=__pa, data-paw=_Held.Kampfwerte.PA + __pa)=_Held.Kampfwerte.PA + __pa
									.col-xs-6.col-sm-2.col-md-2.col-lg-1.tp(title=__waffe.TP.roll+(__waffe.TP.rollMod < 0 ? " – " : " + ")+Math.abs(__waffe.TP.rollMod), data-w6=__waffe.TP.roll, data-tp=__waffe.TP.rollMod, data-kk=__waffe.TP.kk, data-tpkk=__waffe.TP.kkMod)=__waffe.TP.roll+(__tp < 0 ? " – " : " + ")+Math.abs(__tp)
									.col-xs-3.col-sm-2.col-md-1=__waffe.DK
									.col-xs-3.col-sm-2.col-md-1=__waffe.BF
									.col-xs-3.col-sm-2.col-md-1.ini(data-ini=__waffe.INI)=beautifyNumber(__waffe.INI)
									.col-xs-3.col-sm-2.col-md-1.be(title=__waffe.talent, data-be=Math.abs(__waffe.BE), data-talent=__waffe.talent)="BE–"+Math.abs(__waffe.BE)
									.col-xs-4.col-xs-offset-1.col-sm-2.col-sm-offset-0.col-md-2.col-md-offset-8.col-lg-1.col-lg-offset-0
										input(type="radio", name="haupthand")
									.col-xs-4.col-xs-offset-2.col-sm-2.col-sm-offset-0.col-md-2.col-lg-1
										input.bhk(type="radio", name="nebenhand")
			
			if _Held.Ausrüstung && _Held.Ausrüstung.LinkeHand && _Held.Ausrüstung.LinkeHand.length
				section.panel.panel-default
					.panel-heading.dcm-caption Parierwaffen &amp; Schilde
					.panel-body
						.container-fluid.text-center
							.row.dcm-row
								.col-xs-12.col-sm-6.col-md-4.col-lg-3 
									.dcm-header.dcm-border Waffe
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border AT
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border PA
								.col-xs-6.col-sm-2.col-md-2 
									.dcm-header.dcm-border Typ
								.col-xs-3.col-sm-2.col-sm-offset-6.col-md-1.col-md-offset-0
									.dcm-header.dcm-border BF
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border INI
								.col-xs-6.hidden-xs.col-sm-2.hidden-sm.col-md-1.col-lg-offset-1
									.dcm-value#pws_deselect(title="Selektion löschen") &times;
								.col-xs-6.col-sm-2.col-md-1
									select#pws_typ(size="1", title="Nebenwaffe", style="min-width: 75%")
										option SK I
										option SK II
										option PW I
										option PW II
							each __waffe in _Held.Ausrüstung.LinkeHand
								.row.dcm-row.dcm-table
									.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-left=__waffe.Name
									.col-xs-3.col-sm-2.col-md-1.at(data-wm=__waffe.WM.AT)=beautifyNumber(__waffe.WM.AT)
									.col-xs-3.col-sm-2.col-md-1.pa(data-wm=__waffe.WM.PA)=beautifyNumber(__waffe.WM.PA)
									.col-xs-6.col-sm-2.col-md-2=__waffe.talent
									.col-xs-3.col-sm-2.col-sm-offset-6.col-md-1.col-md-offset-0=__waffe.BF
									.col-xs-3.col-sm-2.col-md-1.ini(data-ini=__waffe.INI)=beautifyNumber(__waffe.INI)
									.col-xs-4.col-xs-offset-1.col-sm-2.col-sm-offset-0.col-md-1.col-md-offset-1.col-lg-offset-2
										input.pws(type="radio", name="nebenhand")
				
			if _Held.Ausrüstung && _Held.Ausrüstung.Fernkampf && _Held.Ausrüstung.Fernkampf.length
				section.panel.panel-default
					.panel-heading.dcm-caption Fernkampfwaffen
					.panel-body
						.container-fluid.text-center
							.row.dcm-row
								.col-xs-12.col-sm-6.col-md-4.col-lg-3
									.dcm-header.dcm-border Waffe
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border AT
								.col-xs-3.col-sm-2.col-md-1
									.dcm-header.dcm-border Laden
								.col-xs-6.col-sm-2.col-lg-1
									.dcm-header.dcm-border TP
								.col-xs-6.col-sm-4.col-sm-offset-2.col-md-2.col-md-offset-0
									.dcm-header.dcm-border DK
								.col-xs-6.col-sm-4.col-md-2
									.dcm-header.dcm-border TP+
								.col-xs-3.hidden-xs.col-sm-2.hidden-md.col-lg-1
									.dcm-header.dcm-border eBE
						.container-fluid.text-center#fernkampf-waffen
							each __waffe in _Held.Ausrüstung.Fernkampf
								- var __talent = getTalent(_Held.Talente.Fernkampf, __waffe);
								- var __tp     = __waffe.TP.kk ? Math.floor((_Held.Attribute[__waffe.TP.kkAtt].wert-__waffe.TP.kk+0.1)/__waffe.TP.kkMod)+__waffe.TP.rollMod : __waffe.TP.rollMod
								.row.dcm-row.dcm-table
									.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-left=__waffe.Name
									.col-xs-3.col-sm-2.col-md-1.at(data-taw=__talent.AT + __waffe.WM.AT + (__waffe.spez ? 2 : 0))=_Held.Kampfwerte.FK + __talent.AT + __waffe.WM.AT + (__waffe.spez ? 2 : 0)
									.col-xs-3.col-sm-2.col-md-1=__waffe.Laden
									.col-xs-6.col-sm-2.col-lg-1.tp(data-w6=__waffe.TP.roll, data-tp=__waffe.TP.rollMod, data-kk=__waffe.TP.kk, data-tpkk=__waffe.TP.kkMod, data-attr=__waffe.TP.kkAtt)=__waffe.TP.roll+(__tp < 0 ? " – " : " + ")+Math.abs(__tp)
									.col-xs-6.col-sm-4.col-sm-offset-2.col-md-2.col-md-offset-0=__waffe.TP.dk.join(" / ")
									.col-xs-6.col-sm-4.col-md-2=__waffe.TP.dkMod.map(beautifyNumber).join(" / ")
									.col-xs-3.hidden-xs.col-sm-2.hidden-md.col-lg-1.be(title=__waffe.talent, data-be=Math.abs(__waffe.BE), data-talent=__waffe.talent)="BE–"+Math.abs(__waffe.BE)
			// Talente
			.row#taw
				.col-md-6
					section.panel.panel-default#t_nk
						.panel-heading.text-center.dcm-caption Nahkampf
						.panel-body
							+KampfTable(_Held.Talente.Nahkampf)
				.col-md-6
					section.panel.panel-default#t_fk
						.panel-heading.text-center.dcm-caption Fernkampf
						.panel-body
							+KampfTable(_Held.Talente.Fernkampf)
			.row
				.col-md-6
					if _Held.Talente && _Held.Talente.Gaben && _Held.Talente.Gaben.length
						section.panel.panel-default
							.panel-heading.text-center.dcm-caption Gaben
							.panel-body
								+TalentTable(_Held.Talente.Gaben)
					section.panel.panel-default#t_koe
						.panel-heading.text-center.dcm-caption Körperliche Talente
						.panel-body
							+TalentTable(_Held.Talente.körperlich)
					section.panel.panel-default#t_ges
						.panel-heading.text-center.dcm-caption Gesellschaftliche Talente
						.panel-body
							+TalentTable(_Held.Talente.Gesellschaft)
					section.panel.panel-default#t_nat
						.panel-heading.text-center.dcm-caption Natur-Talente
						.panel-body
							+TalentTable(_Held.Talente.Natur)
				.col-md-6
					section.panel.panel-default#t_wis
						.panel-heading.text-center.dcm-caption Wissenstalente
						.panel-body
							+TalentTable(_Held.Talente.Wissen)
					section.panel.panel-default#t_han
						.panel-heading.text-center.dcm-caption Handwerkstalente
						.panel-body
							+TalentTable(_Held.Talente.Handwerk)
			.row
				.col-md-6
					section.panel.panel-default#t_spr
						.panel-heading.text-center.dcm-caption Sprachen
						.panel-body
							+SprachenTable(_Held.Talente.Sprachen)
				.col-md-6
					section.panel.panel-default#t_scr
						.panel-heading.text-center.dcm-caption Schriften
						.panel-body
							+SprachenTable(_Held.Talente.Schriften)
			// Ausrüstung
			if _Held.Ausrüstung && _Held.Ausrüstung.Rucksack && _Held.Ausrüstung.Rucksack.length
				section.panel.panel-default#eqp
					.panel-heading.text-center.dcm-caption Ausrüstung
					.panel-body
						.container-fluid
							each __item in _Held.Ausrüstung.Rucksack
								.row.dcm-row-item
									.col-xs-2.col-sm-1.text-center=__item.Anzahl
									.col-xs-10.col-sm-11.col-md-5=__item.Name
									.col-xs-2.col-sm-1.hidden-md.hidden-lg(class=__item.Kommentar ? null : "hidden") &nbsp;
									.col-xs-10.col-sm-11.col-md-6(class=__item.Kommentar ? null : "hidden")=__item.Kommentar
		script(src="/held.js")