-	function render(__str, __data) {
-		Object.keys(__data).forEach(function(key) {
-			__str = __str.replace("{"+key+"}", __data[key].toString());
-		});
-		return __str;
-	}

//- create a standard menu link
mixin menuLink(__item, __data)
	-     __data  = __data || {};
	- var __curr  = __item.url === _Menu.currentURL;
	- var __url   = __item.url ? (__curr ? null : render(__item.url, __data)) : null;
	- var __title = render(__item.title, __data);
	if Array.isArray(__item.dropdown)
		+menuDropdown(__item, __data)
	else
		li(class=__curr ? "active" : null)
			if Array.isArray(__item.sign)
				a(href=__url, title=__title)
					span.hidden-xs(class=__item.sign.join(" "))
					span.visible-xs!=__title
			else
				a(href=__url)!=__title

//- create a menu dropdown item
mixin menuDropdown(__item, __data)
	- __data  = __data || {};
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown")!=render(__item.title, __data)
			b.caret
		ul.dropdown-menu
			each __link in __item.dropdown
				if __link.title
					+menuLink(__link, __data)
				else
					li.divider

mixin dropdown(__list, __prefix)
	- var __lock = __prefix === null;
	-   __prefix = __prefix || "";
	each __val, __key in __list
		if Array.isArray(__val)
			- __prefix = __lock ? "" : __key+"/"
			optgroup(label=__key)
				+dropdown(__val, __prefix)
		else
			option(value=__prefix+__val)=__val

- var counter = { count: 0, next: function() { return ++counter.count; } };

mixin plainProCon(pro, x)
	- var idx = counter.next()
	li.list-group-item
		input(name=["Vorteile", "Nachteile"][x], type="checkbox", value=pro, id="pc_"+idx)
		label(for="pc_"+idx)= pro

mixin stagedProCon(pro, x, opt)
	- var idx = counter.next()
	li.list-group-item
		input.stufe(name=["Vorteile", "Nachteile"][x], type="checkbox", value=pro, id="pc_"+idx)
		label(for="pc_"+idx)= pro
		input(type="number", min=opt.min||1, max=opt.max, step=opt.step||1)

doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title Neuen Charakter anlegen
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		link(rel="stylesheet", href="/dcm-display.css")
		link(rel="stylesheet", href="/vorteile.css")
		script(src="//code.jquery.com/jquery-2.1.0.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		style.
			body {
				padding-top:      60px;
			}
			.dcm-gap-bottom {
				margin-bottom:    1em;
			}
			.dcm-striped > *:nth-child(odd) {
				background-color: #eee;
			}
			/* overwrite */
			.form-group {
				margin-top:       7px;
				margin-bottom:    8px;
			}
	body
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-chars")
						span.sr-only Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand DCM
				#navbar-collapse-chars.collapse.navbar-collapse
					ul.nav.navbar-nav
						each __link in _Menu.left
							+menuLink(__link)
					ul.nav.navbar-nav.navbar-right
						each __link in _Menu.right
							+menuLink(__link)
		header.container#top
			.page-header.text-center
				h1
					span.fa.fa-edit &nbsp;
					span Neuen Helden erstellen &nbsp;
		main.container
			form.form-horizontal(action="/neu", method="post", accept-charset="utf-8", role="form")
				// Beschreibung
				section.panel.panel-default#bes
					.panel-heading.dcm-caption Beschreibung
					.panel-body
						.container-fluid
							.form-group
								label.control-label.col-sm-2(for="char-name") Name:
								.col-sm-9
									input.form-control#char-name(name="Person[Name]", type="text", placeholder="Name")
							.form-group
								label.control-label.col-sm-2(for="char-titel") Titel:
								.col-sm-9
									input.form-control#char-titel(name="Person[Titel]", type="text", placeholder="Titel")
							.form-group
								label.control-label.col-sm-2(for="char-gender") Geschlecht:
								.col-sm-3
									select.form-control
										option männlich
										option weiblich
							.form-group
								label.control-label.col-sm-2(for="char-so") Sozialstatus:
								.col-sm-2
									input.form-control.text-center#char-so(name="Person[SO]", type="number", min="0", max="20", step="1" placeholder="SO")
							.form-group
								label.control-label.col-sm-2(for="char-height") Größe:
								.col-sm-2
									input.form-control.text-center#char-height(name="Person[Größe]", type="number", min="25", max="250", step="1", placeholder="cm")
								.col-sm-8.form-control-static Halbfinger
							.form-group
								label.control-label.col-sm-2(for="char-weight") Gewicht:
								.col-sm-2
									input.form-control.text-center#char-weight(name="Person[Gewicht]", type="number", min="20", max="300", step="1", placeholder="kg")
								.col-sm-8.form-control-static Stein
							.form-group
								label.control-label.col-sm-2(for="char-age") Alter:
								.col-sm-2
									input.form-control.text-center#char-age(name="Person[SO]", type="number", min="10", step="1" placeholder="Jahre")
							.form-group
								label.control-label.col-sm-2 Tsatag:
								.col-sm-2
									label.sr-only(for="tt-tag") Tsatag (Tag)
									select.form-control#tt-tag(name="Person[Tsatag][tag]")
										- for (var day = 1; day < 31; day++)
											option(value=day)=day
								.col-sm-2
									label.sr-only(for="tt-mon") Tsatag (Monat)
									select.form-control#tt-mon(name="Person[Tsatag][monat]")
										each month, index in ["PRA", "RON", "EFF", "TRA", "BOR", "HES", "FIR", "TSA", "PHE", "PER", "ING", "RAH"]
											option(value=index)=month
										option(value=12, title="Namenlose Tage") (NLT)
								.col-sm-2
									label.sr-only(for="tt-jahr") Tsatag (Jahr)
									input.form-control.text-center#tt-jahr(name="Person[Tsatag][jahr]", type="number", step="1", value="1010")
								.col-sm-2.form-control-static BF 
							.form-group
								label.control-label.col-sm-2(for="char-haare") Haarfarbe:
								.col-sm-4
									input.form-control#char-haare(name="Person[Haarfarbe]", type="text", placeholder="Haarfarbe")
							.form-group
								label.control-label.col-sm-2(for="char-augen") Augenfarbe:
								.col-sm-4
									input.form-control#char-augen(name="Person[Augenfarbe]", type="text", placeholder="Augenfarbe")
							.form-group
								label.control-label.col-sm-2(for="char-look") Aussehen:
								.col-sm-9
									textarea.form-control#char-look(name="Person[Aussehen]", rows="5", placeholder="Aussehen")
							.form-group
								label.control-label.col-sm-2(for="char-story") Hintergrund:
								.col-sm-9
									textarea.form-control#char-story(name="Person[Hintergrund]", rows="5", placeholder="Hintergrund")
				// Generierung
				section.panel.panel-default#gen
					.panel-heading.dcm-caption Generierung
					.panel-body
						.container-fluid
							each val, idx in ["Rasse", "Kultur", "Profession", "BgB"]
								.form-group
									label.control-label.col-sm-2(for="rkp"+idx, id="rkp"+idx+"lbl")=val+":"
									.col-sm-4
										input.form-control(name="Generierung["+val+"][name]", id="rkp"+idx, type="text", placeholder=val)
									.col-sm-5
										label.sr-only(for="rkp"+idx+"mod") Modifikationen
										input.form-control(name="Generierung["+val+"][modifikation]", id="rkp"+idx+"mod", type="text", placeholder=val+"-Modifikaton(en)")
					script.
						(function() {
							var $inputs = $('#rkp3, #rkp3mod');
							$inputs.prop('disabled', true);
							$('#rkp3lbl')
								.attr('title', 'Zum (De-)Aktivieren klicken')
								.on("click", function() { 
									$inputs.prop('disabled', !$inputs.prop('disabled') );
								});
						})();
				// Attribute
				section.panel.panel-default#att
					.panel-heading.dcm-caption Attribute
					.panel-body
						.container-fluid.text-center.dcm-gap-bottom
							.row.dcm-row
								.col-sm-4
									.dcm-header.dcm-border Eigenschaft
								.col-sm-7.col-sm-offset-1
									.row
										.col-sm-4
											.dcm-header.dcm-border Modifikator
										.col-sm-4
											.dcm-header.dcm-border Startwert
										.col-sm-4
											.dcm-header.dcm-border aktueller Wert
						.container-fluid.dcm-striped
							each val, key in { Mut:"MU", Klugheit:"KL", Intuition:"IN", Charisma:"CH", Fingerfertigkeit:"FF", Gewandheit:"GE", Konstitution:"KO", Körperkraft:"KK" }
								.row
									.form-group.container-fluid
										.col-sm-3.col-sm-offset-1
											label.control-label=key+":"
										.col-sm-7.col-sm-offset-1
											.row
												.col-sm-4.col-md-2.col-md-offset-1
													label.sr-only(for=val+"mod") Modifikator (#{key})
													input.form-control.text-center(name="Attribute["+val+"][mod]", type="number", min="-10", max="10", step="1", value="0", id=val+"mod")
												.col-sm-4.col-md-2.col-md-offset-2
													label.sr-only(for=val+"start") Startwert (#{key})
													input.form-control.text-center(name="Attribute["+val+"][start]", type="number", min="0", step="1", value="8", id=val+"start")
												.col-sm-4.col-md-2.col-md-offset-2
													label.sr-only(for=val+"wert") aktueller Wert (#{key})
													input.form-control.text-center(name="Attribute["+val+"][wert]", type="number", min="0", step="1", value="8", id=val+"wert")
				// Basiswerte
				section.panel.panel-default#bas
					.panel-heading.dcm-caption Basiswerte
					.panel-body
						.container-fluid.text-center.dcm-gap-bottom
							.row.dcm-row
								.col-sm-4
									.dcm-header.dcm-border Eigenschaft
								.col-sm-7.col-sm-offset-1
									.row
										.col-sm-4
											.dcm-header.dcm-border Modifikator
										.col-sm-4
											.dcm-header.dcm-border gekauft
										.col-sm-4
											.dcm-header.dcm-border maximal
						.container-fluid.dcm-striped
							.row
								.form-group.container-fluid
									.col-sm-3.col-sm-offset-1
										label.control-label Lebensenergie:
									.col-sm-7.col-sm-offset-1
										.row
											.col-sm-4.col-md-2.col-md-offset-1
												label.sr-only(for="lep-1") Lebensenergie (Startwert)
												input.form-control.text-center#lep-1(name="modifikatoren[LeP][start]", type="number", min="0", step="1", value="10")
											.col-sm-4.col-md-2.col-md-offset-2
												label.sr-only(for="lep-2") Lebensenergie (zugekauft)
												input.form-control.text-center#lep-2(name="modifikatoren[LeP][add]", type="number", min="0", step="1", value="0")
											.col-sm-4.col-md-2.col-md-offset-2
												label.sr-only(for="lep-3") Lebensenergie (maximal zukaufbar)
												input.form-control.text-center#lep-3(name="modifikatoren[LeP][max]", type="number", min="0", step="1")
							.row
								.form-group.container-fluid
									.col-sm-3.col-sm-offset-1
										label.control-label Ausdauer:
									.col-sm-7.col-sm-offset-1
										.row
											.col-sm-4.col-md-2.col-md-offset-1
												label.sr-only(for="aup-1") Ausdauer (Startwert)
												input.form-control.text-center#aup-1(name="modifikatoren[][start]", type="number", min="0", step="1", value="10")
											.col-sm-4.col-md-2.col-md-offset-2
												label.sr-only(for="aup-2") Ausdauer (zugekauft)
												input.form-control.text-center#aup-2(name="modifikatoren[][add]", type="number", min="0", step="1", value="0")
											.col-sm-4.col-md-2.col-md-offset-2
												label.sr-only(for="aup-3") Ausdauer (maximal zukaufbar)
												input.form-control.text-center#aup-3(name="modifikatoren[][max]", type="number", min="0", step="1")
							.row
								.form-group.container-fluid
									.col-sm-3.col-sm-offset-1
										label.control-label#asp(title="Zum (De-)Aktivieren klicken") Astralenergie:
									.col-sm-7.col-sm-offset-1
										.row
											.col-sm-4.col-md-2.col-md-offset-1
												label.sr-only(for="asp-1") Astralenergie (Startwert)
												input.form-control.text-center#asp-1(name="modifikatoren[AsP][start]", type="number", step="1")
											.col-sm-4.col-md-2.col-md-offset-2
												label.sr-only(for="asp-2") Astralenergie (zugekauft)
												input.form-control.text-center#asp-2(name="modifikatoren[AsP][add]", type="number", min="0", step="1")
											.col-sm-4.col-md-2.col-md-offset-2
												label.sr-only(for="asp-3") Astralenergie (maximal zukaufbar)
												input.form-control.text-center#asp-3(name="modifikatoren[AsP][max]", type="number", min="0", step="1")
							.row
								.form-group.container-fluid
									.col-sm-3.col-sm-offset-1
										label.control-label#kap(title="Zum (De-)Aktivieren klicken") Karmaenergie:
									.col-sm-7.col-sm-offset-1
										.row
											.col-sm-4.col-md-2.col-md-offset-1
												label.sr-only(for="kap-1") Karmaenergie (Startwert)
												input.form-control.text-center#kap-1(name="modifikatoren[][start]", type="number", min="0", step="1")
											.col-sm-4.col-md-2.col-md-offset-2
												label.sr-only(for="kap-2") Karmaenergie (zugekauft)
												input.form-control.text-center#kap-2(name="modifikatoren[][add]", type="number", min="0", step="1")
							.row
								.form-group.container-fluid
									.col-sm-3.col-sm-offset-1
										label.control-label Magieresistenz:
									.col-sm-7.col-sm-offset-1
										.row
											.col-sm-4.col-md-2.col-md-offset-1
												label.sr-only(for="mr-1") Magieresistenz (Startwert)
												input.form-control.text-center#mr-1(name="modifikatoren[MR][start]", type="number", min="-10", max="10", step="1", value="-4")
											.col-sm-4.col-md-2.col-md-offset-2
												label.sr-only(for="mr-2") Magieresistenz (zugekauft)
												input.form-control.text-center#mr-2(name="modifikatoren[MR][add]", type="number", min="0", step="1", value="0")
											.col-sm-4.col-md-2.col-md-offset-2
												label.sr-only(for="mr-3") Magieresistenz (maximal zukaufbar)
												input.form-control.text-center#mr-3(name="modifikatoren[MR][max]", type="number", min="0", step="1")
							.row
								.form-group.container-fluid
									.col-sm-3.col-sm-offset-1
										label.control-label Initiative:
									.col-sm-7.col-sm-offset-1
										.row
											.col-sm-4
												label.checkbox-inline
													input(name="modifikatoren[INI]", type="checkbox", value="4")
													| Kampfreflexe
											.col-sm-4
												label.checkbox-inline
													input(name="modifikatoren[INI]", type="checkbox", value="2")
													| Kampfgespür
							.row
								.form-group.container-fluid
									.col-sm-3.col-sm-offset-1
										label.control-label Wundschwelle:
									.col-sm-7.col-sm-offset-1
										.row
											.col-sm-4
												label.checkbox-inline
													input(name="modifikatoren[WS]", type="checkbox", value="2")
													| Eisern
											.col-sm-4
												label.checkbox-inline
													input(name="modifikatoren[WS]", type="checkbox", value="-2")
													| Glasknochen
											.col-sm-4.col-md-2.col-md-offset-1
												label.sr-only(for="ws-x") weitere Wundschwellenmodifikatoren
												input.form-control.text-center#ws-x(name="modifikatoren[WS]", type="number", step="1", value="0", title="weitere WS-Modifikatoren")
							.row
								.form-group.container-fluid
									.col-sm-3.col-sm-offset-1
										label.control-label Geschwindigkeit
									.col-sm-7.col-sm-offset-1
										.row
											.col-sm-4
												label.checkbox-inline
													input(name="modifikatoren[GS]", type="checkbox", value="1")
													| Flink
												br
												label.checkbox-inline
													input(name="modifikatoren[GS]", type="checkbox", value="-1")
													| Lahm
											.col-sm-4
												label.checkbox-inline
													input(name="modifikatoren[GS]", type="checkbox", value="-1")
													| Kleinwüchsig
												br
												label.checkbox-inline
													input(name="modifikatoren[GS]", type="checkbox", value="-2")
													| Zwergenwuchs
											.col-sm-4.col-md-2.col-md-offset-1
												label.sr-only(for="gs-x") weitere Geschwindigkeitsmodifikatoren
												input.form-control.text-center#gs-x(name="modifikatoren[GS]", type="number", step="1", value="0", title="weitere GS-Modifikatoren")
					script.
						$('#asp, #kap')
							.on("click", function() {
								var $inputs = $(this).closest('.row').find('input');
								$inputs.prop('disabled', !$inputs.prop('disabled'));
							})
							.closest('.row')
							.find('input')
							.prop('disabled', true);
			// Vor- und Nachteile
			.row
				.col-md-6
					section.panel.panel-default#vt
						.panel-heading.dcm-caption Vorteile
						ul.list-group.vor-nach
							+plainProCon("Adlige Abstammung", 0)
							+plainProCon("Adliges Erbe", 0)
							+plainProCon("Amtsadel", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Affinität", id="vorteil_4").auswahl_liste
								label(for="vorteil_4") Affinität zu
								select(size="1").fl-rechts
									option(value="Dämonen") Dämonen
									option(value="Elementare") Elementaren
									option(value="Geister") Geistern
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Akademische Ausbildung", id="vorteil_5").auswahl_liste
								label(for="vorteil_5") Akademische Ausbildung
								select(size="1").fl-rechts
									option(value="Gelehrter") Gelehrter
									option(value="Krieger") Krieger
									option(value="Magier") Magier
							+plainProCon("Altersresistenz", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Astrale Regeneration", id="vorteil_7").zusatz
								label(for="vorteil_7") Astrale Regeneration
								span.fl-rechts
									input(type="radio", name="temp[v][7]", value="I", id="vorteil_7_1")
									label(for="vorteil_7_1") I
									input(type="radio", name="temp[v][7]", value="II", id="vorteil_7_2")
									label(for="vorteil_7_2") II
									input(type="radio", name="temp[v][7]", value="III", id="vorteil_7_3")
									label(for="vorteil_7_3") III
							+stagedProCon("Astralmacht", 0, { max:6 })
							+stagedProCon("Ausdauernd", 0, { min:2, max:6, step:2 })
							+plainProCon("Ausdauernder Zauberer", 0)
							+stagedProCon("Ausrüstungsvorteil", 0, { max:20 })
							+plainProCon("Balance", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Begabung (Merkmal)", id="vorteil_13").auswahl_liste
								label(for="vorteil_13") Begabung für Merkmal
								select(size="5", multiple).fl-rechts
									+dropdown(_Dropdown.Merkmalskenntnis)
								.fl-clear
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Begabung (Ritual)", id="vorteil_14").auswahl_text
								label(for="vorteil_14") Begabung für Ritual
								.fl-rechts
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
								.fl-clear
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Begabung (Zauber)", id="vorteil_15").auswahl_text
								label(for="vorteil_15") Begabung für Zauber
								.fl-rechts
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
								.fl-clear
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Begabung (Talent)", id="vorteil_16").auswahl_text
								label(for="vorteil_16") Begabung für Talent
								.fl-rechts
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
								.fl-clear
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Begabung (Talentgruppe)", id="vorteil_17").auswahl_liste
								label(for="vorteil_17") Begabung für Talentgruppe
								select(size="5", multiple).fl-rechts
									optgroup(label="Kampftalente")
										option(value="Kampf") gesamt
										option Nahkampf
										option Fernkampf
									option Körperliche Talente
									option Gesellschaft
									option Natur
									option Wissen
									option Handwerk
									option Sprachen und Schriften
								.fl-clear
							+plainProCon("Beidhändig", 0)
							+plainProCon("Beseelte Knochenkeule", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Besonderer Besitz", id="vorteil_20").spezifisch
								label(for="vorteil_20") Besonderer Besitz
								input(type="text").fl-rechts.halfSize
							+plainProCon("Breitgefächerte Bildung", 0)
							+plainProCon("Dschinngeboren", 0)
							+plainProCon("Dämmerungssicht", 0)
							+plainProCon("Eidetisches Gedächtnis", 0)
							+plainProCon("Eigeboren", 0)
							+plainProCon("Eisenaffine Aura", 0)
							+plainProCon("Eisern", 0)
							+plainProCon("Empathie", 0)
							+plainProCon("Entfernungssinn", 0)
							+plainProCon("Ererbte Knochenkeule", 0)
							+plainProCon("Feenfreund", 0)
							+plainProCon("Feste Matrix", 0)
							+plainProCon("Flink", 0)
							+plainProCon("Früher Vertrauter", 0)
							+stagedProCon("Gebildet", 0, { max:5 })
							+plainProCon("Gefahreninstinkt", 0)
							+plainProCon("Geräuschhexerei", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Geweiht", id="vorteil_38").auswahl_liste
								label(for="vorteil_38") Geweiht
								select(size="1").fl-rechts
									+dropdown(_Dropdown.Götter, null)
							+plainProCon("Glück", 0)
							+plainProCon("Glück im Spiel", 0)
							+plainProCon("Gut Aussehend", 0)
							+stagedProCon("Guter Ruf", 0, { max:10 })
							+plainProCon("Gutes Gedächtnis", 0)
							+plainProCon("Halbzauberer", 0)
							+plainProCon("Herausragende Balance", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Herausragende Eigenschaft", id="vorteil_46").sammeln-alle
								label(for="vorteil_46") Herausragende Eigenschaft
								ul
									li
										input(type="checkbox", value="MU", id="vorteil_46_1").stufe
										label(for="vorteil_46_1") Mut
										input(type="number", min="1", step="1")
									li
										input(type="checkbox", value="KL", id="vorteil_46_2").stufe
										label(for="vorteil_46_2") Klugheit
										input(type="number", min="1", step="1")
									li
										input(type="checkbox", value="IN", id="vorteil_46_3").stufe
										label(for="vorteil_46_3") Intuition
										input(type="number", min="1", step="1")
									li 
										input(type="checkbox", value="CH", id="vorteil_46_4").stufe
										label(for="vorteil_46_4") Charisma
										input(type="number", min="1", step="1")
									li
										input(type="checkbox", value="FF", id="vorteil_46_5").stufe
										label(for="vorteil_46_5") Fingerfertigkeit
										input(type="number", min="1", step="1")
									li
										input(type="checkbox", value="GE", id="vorteil_46_6").stufe
										label(for="vorteil_46_6") Gewandheit
										input(type="number", min="1", step="1")
									li
										input(type="checkbox", value="KO", id="vorteil_46_7").stufe
										label(for="vorteil_46_7") Konstitution
										input(type="number", min="1", step="1")
									li
										input(type="checkbox", value="KK", id="vorteil_46_8").stufe
										label(for="vorteil_46_8") Körperkraft
										input(type="number", min="1", step="1")
							+plainProCon("Herausragender Sechster Sinn", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Herausragender Sinn", id="vorteil_48").sammeln-eins
								label(for="vorteil_48") Herausragender Sinn
								ul
									li
										input(type="checkbox", value="Sicht", id="vorteil_48_1")
										label(for="vorteil_48_1") Sicht
									li
										input(type="checkbox", value="Gehör", id="vorteil_48_2")
										label(for="vorteil_48_2") Gehör
									li
										input(type="checkbox", value="Geruch/Geschmack", id="vorteil_48_3")
										label(for="vorteil_48_3") Geruch/Geschmack
									li
										input(type="checkbox", value="Tastsinn", id="vorteil_48_4")
										label(for="vorteil_48_4") Tastsinn
							+plainProCon("Herausragendes Aussehen", 0)
							+plainProCon("Hitzeresistenz", 0)
							+stagedProCon("Hohe Lebenskraft", 0, { max:3 })
							+stagedProCon("Hohe Magieresistenz", 0, { max:3 })
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Immunität gegen Gift", id="vorteil_53").sammeln-nowrap
								label(for="vorteil_53") Immunität gegen Gift
								ul
									li
										input(type="radio", name="temp[v][53]", value="", id="vorteil_53_1").auswahl_text
										label(for="vorteil_53_1") einzelnes Gift:
										input(type="text").fl-rechts.halfSize
									li
										input(type="radio", name="temp[v][53]", value="", id="vorteil_53_2").auswahl_liste
										label(for="vorteil_53_2") Giftgruppe:
										select(size="5", multiple).fl-rechts
											option tierische Gifte
											option mineralische Gifte
											option pflanzliche Gifte
											option alchimistische Gifte
											option Atemgifte
											option Einnahmegifte
											option Kontaktgifte
											option Blut-/Waffengifte
										.fl-clear
									li
										input(type="radio", name="temp[v][53]", value="[alle Gifte]", id="vorteil_53_3")
										label(for="vorteil_53_3") alle Gifte
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Immunität gegen Krankheiten", id="vorteil_54").sammeln-nowrap
								label(for="vorteil_54") Immunität gegen Krankheiten
								ul
									li
										input(type="radio", name="temp[v][54]", value="", id="vorteil_54_1").auswahl_text
										label(for="vorteil_54_1") einzelne Krankheit:
										input(type="text").fl-rechts.halfSize
									li
										input(type="radio", name="temp[v][54]", value="[alle Krankheiten]", id="vorteil_54_3")
										label(for="vorteil_54_3") alle Krankheiten
							+plainProCon("Innerer Kompass", 0)
							+plainProCon("Kälteresistenz", 0)
							+plainProCon("Kampfrausch", 0)
							+plainProCon("Koboldfreund", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Kräfteschub", id="vorteil_59").sammeln-eins
								label(for="vorteil_59") Kräfteschub
								ul
									li
										input(type="checkbox", value="FF", id="vorteil_59_5")
										label(for="vorteil_59_5") Fingerfertigkeit
									li
										input(type="checkbox", value="GE", id="vorteil_59_6")
										label(for="vorteil_59_6") Gewandheit
									li
										input(type="checkbox", value="KO", id="vorteil_59_7")
										label(for="vorteil_59_7") Konstitution
									li
										input(type="checkbox", value="KK", id="vorteil_59_8")
										label(for="vorteil_59_8") Körperkraft
							+plainProCon("Linkshänder", 0)
							+plainProCon("Machtvoller Vertrauter", 0)
							+plainProCon("Magiegespür", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Meisterhandwerk", id="vorteil_63").auswahl_text
								label(for="vorteil_63") Meisterhandwerk
								.fl-rechts
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
								.fl-clear
							+plainProCon("Nachtsicht", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Natürliche Waffen", id="vorteil_65").sammeln-alle
								label(for="vorteil_65") Natürliche Waffen
								ul
									li
										input(type="checkbox", value="Gebiß", id="vorteil_65_1").auswahl_liste
										label(for="vorteil_65_1") Gebiß
										select(size="1").fl-rechts
											option 1W6 TP(A)
											option 1W6 TP
											option 1W6+1 TP
											option 1W6+2 TP
											option 1W6+3 TP
											option 1W6+4 TP
											option 1W6+5 TP
											option 1W6+6 TP
									li
										input(type="checkbox", value="Krallen", id="vorteil_65_2").auswahl_liste
										label(for="vorteil_65_2") Krallen
										select(size="1").fl-rechts
											option 1W6 TP(A)
											option 1W6 TP
											option 1W6+1 TP
											option 1W6+2 TP
											option 1W6+3 TP
											option 1W6+4 TP
											option 1W6+5 TP
											option 1W6+6 TP
									li
										input(type="checkbox", value="Schwanz", id="vorteil_65_3").auswahl_liste
										label(for="vorteil_65_3") Schwanz
										select(size="1").fl-rechts
											option 1W6 TP(A)
											option 1W6 TP
											option 1W6+1 TP
											option 1W6+2 TP
											option 1W6+3 TP
											option 1W6+4 TP
											option 1W6+5 TP
											option 1W6+6 TP
							+stagedProCon("Natürlicher Rüstungsschutz", 0, { max:3 })
							+plainProCon("Prophezeihen", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Resistenz gegen Gift", id="vorteil_68").sammeln-nowrap
								label(for="vorteil_68") Resistenz gegen Gift
								ul
									li
										input(type="radio", name="temp[v][68]", value="", id="vorteil_68_1").auswahl_text
										label(for="vorteil_68_1") einzelnes Gift:
										input(type="text").fl-rechts.halfSize
									li
										input(type="radio", name="temp[v][68]", value="", id="vorteil_68_2").auswahl_liste
										label(for="vorteil_68_2") Giftgruppe:
										select(size="5", multiple).fl-rechts
											option tierische Gifte
											option mineralische Gifte
											option pflanzliche Gifte
											option alchimistische Gifte
											option Atemgifte
											option Einnahmegifte
											option Kontaktgifte
											option Blut-/Waffengifte
										.fl-clear
									li
										input(type="radio", name="temp[v][68]", value="[alle Gifte]" id="vorteil_68_3")
										label(for="vorteil_68_3") alle Gifte
							+plainProCon("Resistenz gegen Krankheiten", 0)
							+plainProCon("Richtungssinn", 0)
							+plainProCon("Schlangenmensch", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Schnelle Heilung", id="vorteil_72")
								label(for="vorteil_72") Schnelle Heilung
								span.fl-rechts
									input(type="radio", name="temp[v][72]", value="I", id="vorteil_72_1")
									label(for="vorteil_72_1") I
									input(type="radio", name="temp[v][72]", value="II", id="vorteil_72_2")
									label(for="vorteil_72_2") II
									input(type="radio", name="temp[v][72]", value="III", id="vorteil_72_3")
									label(for="vorteil_72_3") III
							+plainProCon("Schutzgeist", 0)
							+plainProCon("Schwer zu verzaubern", 0)
							+plainProCon("Soziale Anpassungsfähigkeit", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Talentschub", id="vorteil_95").auswahl_text
								label(for="vorteil_95") Talentschub
								.fl-rechts
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
								.fl-clear
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Tierempathie", id="vorteil_76").sammeln-nowrap
								label(for="vorteil_76") Tierempathie
								ul
									li
										input(type="radio", name="temp[v][76]", value="[allgemein]", id="vorteil_76_1")
										label(for="vorteil_76_1") allgemein
									li
										input(type="radio", name="temp[v][76]", value="", id="vorteil_76_2").auswahl_text
										input(type="text")
							+plainProCon("Tierfreund", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Übernatürliche Begabung", id="vorteil_78").auswahl_text
								label(for="vorteil_78") Übernatürliche Begabung
								.fl-rechts
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
								.fl-clear
							+plainProCon("Unbeschwertes Zaubern", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Verbindungen", id="vorteil_80").stufe
								label(for="vorteil_80") Verbindungen
								input(type="number", min="1", step="1")
							+plainProCon("Verhüllte Aura", 0)
							+plainProCon("Veteran", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Viertelzauberer", id="vorteil_83").zusatz
								label(for="vorteil_83") Viertelzauberer
								span.fl-rechts
									input(type="radio", name="temp[v][83]", value="", id="vorteil_83_1")
									label(for="vorteil_83_1") bewußt
									input(type="radio", name="temp[v][83]", value="unbewußter ", id="vorteil_83_2")
									label(for="vorteil_83_2") unbewußt
							+plainProCon("Vollzauberer", 0)
							+plainProCon("Vom Schicksal begünstigt", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Wesen der Nacht", id="vorteil_86").zusatz
								label(for="vorteil_86") Wesen der Nacht
								span.fl-rechts
									input(type="radio", name="temp[v][86]", value="I", id="vorteil_86_1")
									label(for="vorteil_86_1") I
									input(type="radio", name="temp[v][86]", value="II", id="vorteil_86_2")
									label(for="vorteil_86_2") II
									input(type="radio", name="temp[v][86]", value="III", id="vorteil_86_3")
									label(for="vorteil_86_3") III
							+plainProCon("Wohlklang", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Wolfskind", id="vorteil_87").zusatz
								label(for="vorteil_87") Wolfskind
								span.fl-rechts
									input(type="radio", name="temp[v][87]", value="", id="vorteil_87_1")
									label(for="vorteil_87_1") bewußt
									input(type="radio", name="temp[v][87]", value="unbewußtes ", id="vorteil_87_2")
									label(for="vorteil_87_2") unbewußt
							+plainProCon("Zäher Hund", 0)
							+plainProCon("Zauberhaar", 0)
							+plainProCon("Zeitgefühl", 0)
							li.list-group-item
								input(name="Vorteile", type="checkbox", value="Zusätzliche Gliedmaßen", id="vorteil_91").sammeln-alle
								label(for="vorteil_91") Zusätzliche Gliedmaßen
								ul
									li
										input(type="checkbox", value="Arme", id="vorteil_91_1")
										label(for="vorteil_91_1") Arme
									li
										input(type="checkbox", value="Schwanz", id="vorteil_91_2")
										label(for="vorteil_91_2") Schwanz
									li
										input(type="checkbox", value="Flügel", id="vorteil_91_3")
										label(for="vorteil_91_3") Flügel
							+plainProCon("Zweistimmiger Gesang", 0)
							+plainProCon("Zwergennase", 0)

				.col-md-6
					section.panel.panel-default#nt
						.panel-heading.text-center.dcm-caption Nachteile
						ul.list-group.vor-nach
							+stagedProCon("Aberglaube", 1, { max:20 })
							+plainProCon("Albino", 1)
							+stagedProCon("Angst vor Insekten", 1, { max:20 })
							+stagedProCon("Angst vor Spinnen", 1, { max:20 })
							+stagedProCon("Angst vor Reptilien", 1, { max:20 })
							+stagedProCon("Angst vor Feuer", 1, { max:20 })
							+stagedProCon("Angst vor Wasser", 1, { max:20 })
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Angst vor", id="nachteil_8").zusatz_text.stufe
								label(for="nachteil_8") Angst vor 
								input(type="text")
								input(type="number", min="1", max="20", step="1")
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Angst vor", id="nachteil_9").zusatz_text.stufe
								label(for="nachteil_9") Angst vor 
								input(type="text")
								input(type="number", min="1", max="20", step="1")
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Angst vor", id="nachteil_10").zusatz_text.stufe
								label(for="nachteil_10") Angst vor 
								input(type="text")
								input(type="number", min="1", max="20", step="1")
							+plainProCon("Animalische Magie", 1)
							+stagedProCon("Arkanophobie", 1, { max:20 })
							+stagedProCon("Arroganz", 1, { max:20 })
							+plainProCon("Artefaktgebunden", 1)
							+plainProCon("Astraler Block", 1)
							+stagedProCon("Autoritätsgläubig", 1, { max:20 })
							+plainProCon("Behäbig", 1)
							+stagedProCon("Blutdurst", 1, { max:20 })
							+plainProCon("Blutrausch", 1)
							+stagedProCon("Brünstigkeit", 1, { max:20 })
							+stagedProCon("Dunkelangst", 1, { max:20 })
							+plainProCon("Einarmig", 1)
							+plainProCon("Einäugig", 1)
							+plainProCon("Einbeinig", 1)
							+plainProCon("Einbildungen", 1)
							+plainProCon("Eingeschränkte Elementarnähe", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Eingeschränkter Sinn", id="nachteil_27").sammeln-eins
								label(for="nachteil_27") Eingeschränkter Sinn
								ul
									li
										input(type="checkbox", value="Sicht", id="nachteil_27_1")
										label(for="nachteil_27_1") Sicht
									li
										input(type="checkbox", value="Gehör", id="nachteil_27_2")
										label(for="nachteil_27_2") Gehör
									li
										input(type="checkbox", value="Geruch/Geschmack", id="nachteil_27_3")
										label(for="nachteil_27_3") Geruch/Geschmack
									li
										input(type="checkbox", value="Tastsinn", id="nachteil_27_4")
										label(for="nachteil_27_4") Tastsinn
							+plainProCon("Einhändig", 1)
							+stagedProCon("Eitelkeit", 1, { max:20 })
							+plainProCon("Elfische Weltsicht", 1)
							+plainProCon("Farbenblind", 1)
							+stagedProCon("Feind", 1, { max:15 })
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Feste Gewohnheit", id="nachteil_33").spezifisch
								label(for="nachteil_33") Feste Gewohnheit
								input(type="text")
							+stagedProCon("Festgefügtes Denken", 1, { max:20 })
							+plainProCon("Fettleibig", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Fluch der Finsternis", id="nachteil_36").zusatz
								label(for="nachteil_36") Fluch der Finsternis
								span.fl-rechts
									input(type="radio", name="temp[n][36]", value="I", id="nachteil_36_1")
									label(for="nachteil_36_1") I
									input(type="radio", name="temp[n][36]", value="II", id="nachteil_36_2")
									label(for="nachteil_36_2") II
									input(type="radio", name="temp[n][36]", value="III", id="nachteil_36_3")
									label(for="nachteil_36_3") III
							+stagedProCon("Geiz", 1, { max:20 })
							+stagedProCon("Gerechtigkeitswahn", 1, { max:20 })
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Gesucht", id="nachteil_39").spezifisch.zusatz
								label(for="nachteil_39") Gesucht
								input(type="text")
								span.fl-rechts
									input(type="radio", name="temp[n][39]", value="I", id="nachteil_39_1")
									label(for="nachteil_39_1") I
									input(type="radio", name="temp[n][39]", value="II", id="nachteil_39_2")
									label(for="nachteil_39_2") II
									input(type="radio", name="temp[n][39]", value="III", id="nachteil_39_3")
									label(for="nachteil_39_3") III
							+plainProCon("Glasknochen", 1)
							+stagedProCon("Goldgier", 1, { max:20 })
							+stagedProCon("Größenwahn", 1, { max:20 })
							+plainProCon("Heimwehkrank", 1)
							+plainProCon("Hitzeempfindlichkeit", 1)
							+stagedProCon("Höhenangst", 1, { max:20 })
							+plainProCon("Impulsiv", 1)
							+stagedProCon("Jähzorn", 1, { max:20 })
							+plainProCon("Kälteempfindlichkeit", 1)
							+plainProCon("Kältestarre", 1)
							+plainProCon("Kein Vertrauter", 1)
							+plainProCon("Kleinwüchsig", 1)
							+plainProCon("Körpergebundene Kraft", 1)
							+stagedProCon("Krankhafte Reinlichkeit", 1, { max:20 })
							+plainProCon("Krankheitsanfällig", 1)
							+plainProCon("Kristallgebunden", 1)
							+stagedProCon("Kurzatmig", 1, { min:2, max:2, step:2 })
							+plainProCon("Lahm", 1)
							+plainProCon("Lästige Mindergeister", 1)
							+plainProCon("Lichtempfindlich", 1)
							+plainProCon("Lichtscheu", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Madas Fluch", id="nachteil_61").zusatz
								label(for="nachteil_61") Madas Fluch
								span.fl-rechts
									input(type="radio", name="temp[n][61]", value="I", id="nachteil_61_1")
									label(for="nachteil_61_1") I
									input(type="radio", name="temp[n][61]", value="II", id="nachteil_61_2")
									label(for="nachteil_61_2") II
									input(type="radio", name="temp[n][61]", value="III", id="nachteil_61_3")
									label(for="nachteil_61_3") III
							+plainProCon("Medium", 1)
							+stagedProCon("Meeresangst", 1, { max:20 })
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Miserable Eigenschaft", id="nachteil_64").sammeln-eins
								label(for="nachteil_64") Miserable Eigenschaft
								ul
									li
										input(type="checkbox", value="MU", id="nachteil_64_1")
										label(for="nachteil_64_1") Mut
									li
										input(type="checkbox", value="KL", id="nachteil_64_2")
										label(for="nachteil_64_2") Klugheit
									li
										input(type="checkbox", value="IN", id="nachteil_64_3")
										label(for="nachteil_64_3") Intuition
									li 
										input(type="checkbox", value="CH", id="nachteil_64_4")
										label(for="nachteil_64_4") Charisma
									li
										input(type="checkbox", value="FF", id="nachteil_64_5")
										label(for="nachteil_64_5") Fingerfertigkeit
									li
										input(type="checkbox", value="GE", id="nachteil_64_6")
										label(for="nachteil_64_6") Gewandheit
									li
										input(type="checkbox", value="KO", id="nachteil_64_7")
										label(for="nachteil_64_7") Konstitution
									li
										input(type="checkbox", value="KK", id="nachteil_64_8")
										label(for="nachteil_64_8") Körperkraft
							+plainProCon("Mondsüchtig", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Moralkodex", id="nachteil_66").spezifisch.stufe
								label(for="nachteil_66") Moralkodex
								input(type="text")
								input(type="number", min="3", max="12", step="1")
							+plainProCon("Nachtblind", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Nahrungsrestriktion", id="nachteil_68").spezifisch
								label(for="nachteil_68") Nahrungsrestriktion
								input(type="text").fl-rechts.halfSize
							+stagedProCon("Neid", 1, { max:20 })
							+stagedProCon("Neugier", 1, { max:20 })
							+stagedProCon("Niedrige Astralkraft", 1, { max:6 })
							+stagedProCon("Niedrige Lebenskraft", 1, { max:6 })
							+stagedProCon("Niedrige Magieresistenz", 1, { max:3 })
							+plainProCon("Pechmagnet", 1)
							+stagedProCon("Platzangst", 1, { max:20 })
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Prinzipientreue", id="nachteil_76").spezifisch.stufe
								label(for="nachteil_76") Prinzipientreue
								input(type="text")
								input(type="number", min="3", max="12", step="1")
							+stagedProCon("Rachsucht", 1, { max:20 })
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Randgruppe", id="nachteil_78").spezifisch
								label(for="nachteil_78") Randgruppe
								input(type="text").fl-rechts.halfSize
							+plainProCon("Raubtiergeruch", 1)
							+stagedProCon("Raumangst", 1, { max:20 })
							+plainProCon("Rückschlag", 1)
							+plainProCon("Schlaflosigkeit", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Schlafstörungen", id="nachteil_83").zusatz
								label(for="nachteil_83") Schlafstörungen
								span.fl-rechts
									input(type="radio", name="temp[n][83]", value="I", id="nachteil_83_1")
									label(for="nachteil_83_1") I
									input(type="radio", name="temp[n][83]", value="II", id="nachteil_83_2")
									label(for="nachteil_83_2") II
							+plainProCon("Schlafwandler", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", id="nachteil_85").zusatz.stufe
								input(type="text", placeholder="Schlechte Eigenschaft", size="21")
								input(type="number", min="1", max="20", step="1")
							li.list-group-item
								input(name="Nachteile", type="checkbox", id="nachteil_86").zusatz.stufe
								input(type="text", placeholder="Schlechte Eigenschaft", size="21")
								input(type="number", min="1", max="20", step="1")
							li.list-group-item
								input(name="Nachteile", type="checkbox", id="nachteil_87").zusatz.stufe
								input(type="text", placeholder="Schlechte Eigenschaft", size="21")
								input(type="number", min="1", max="20", step="1")
							+plainProCon("Schlechte Regeneration", 1)
							+stagedProCon("Schlechter Ruf", 1, { max:10 })
							+stagedProCon("Schleichender Verfall", 1, { max:10 })
							+plainProCon("Schneller Alternd", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Schulden", id="nachteil_92").stufe
								label(for="nachteil_92") Schulden (Dukaten)
								input(type="number", min="500", max="2000", step="1")
							+stagedProCon("Schwache Ausstrahlung", 1, { max:5 })
							+plainProCon("Schwacher Astralkörper", 1)
							+plainProCon("Schwanzlos", 1)
							+plainProCon("Seffer Manich", 1)
							+plainProCon("Selbstgespräche", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Sensibler Geruchssinn", id="nachteil_98").stufe
								label(for="nachteil_98") Sensibler Geruchssinn
								input(type="number", min="1", max="20", step="1")
							+plainProCon("Sippenlosigkeit", 1)
							+stagedProCon("Sonnensucht", 1, { max:20 })
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Speisegebote", id="nachteil_101").spezifisch
								label(for="nachteil_101") Speisegebote
								input(type="text")
							+stagedProCon("Spielsucht", 1, { max:20 })
							+plainProCon("Sprachfehler", 1)
							+plainProCon("Spruchhemmung", 1)
							+stagedProCon("Stigma", 1, { max:12 })
							+stagedProCon("Streitsucht", 1, { max:20 })
							+plainProCon("Stubenhocker", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Sucht", id="nachteil_108").spezifisch.stufe
								label(for="nachteil_108") Sucht
								input(type="text")
								input(type="number", min="1", max="20", step="1")
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Thesisgebunden", id="nachteil_109").auswahl_text
								label(for="nachteil_109") Thesisgebunden
								.fl-rechts
									input(type="text", title="Zauber")
									br
									input(type="text", title="Zauber")
									br
									input(type="text", title="Zauber")
									br
									input(type="text", title="Zauber")
									br
									input(type="text", title="Zauber")
								.fl-clear
							+plainProCon("Tollpatsch", 1)
							+stagedProCon("Totenangst", 1, { max:20 })
							+plainProCon("Übler Geruch", 1)
							+plainProCon("Unangenehme Stimme", 1)
							+plainProCon("Unansehnlich", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Unfähigkeit (Merkmal)", id="nachteil_115").auswahl_liste
								label(for="nachteil_115") Unfähigkeit für Merkmal
								br
								select(size="5", multiple).fl-rechts
									+dropdown(_Dropdown.Merkmalskenntnis)
								.fl-clear
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Unfähigkeit (Talent)", id="nachteil_116").auswahl_text
								label(for="nachteil_116") Unfähigkeit für Talent
								.fl-rechts
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
									br
									input(type="text")
								.fl-clear
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Unfähigkeit (Talentgruppe)", id="nachteil_117").auswahl_liste
								label(for="nachteil_117") Unfähigkeit für Talentgruppe
								br
								select(size="5", id="nachteil__l", multiple).fl-rechts
									optgroup(label="Kampftalente")
										option(value="Kampf") gesamt
										option Nahkampf
										option Fernkampf
									option Körperliche Talente
									option Gesellschaft
									option Natur
									option Wissen
									option Handwerk
									option Sprachen und Schriften
								.fl-clear
							+plainProCon("Unfrei", 1)
							+stagedProCon("Ungebildet", 1, { max:5 })
							+plainProCon("Unstet", 1)
							+plainProCon("Unverträglichkeit mit verarbeitetem Metall", 1)
							+plainProCon("Vergesslichkeit", 1)
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Verpflichtungen", id="nachteil_123").spezifisch.stufe
								label(for="nachteil_123") Verpflichtungen gegenüber 
								input(type="text").fl-rechts.halfSize
							+stagedProCon("Verschwendungssucht", 1, { max:20 })
							+stagedProCon("Verwöhnt", 1, { max:20 })
							li.list-group-item
								input(name="Nachteile", type="checkbox", value="Vorurteile", id="nachteil_126").spezifisch.stufe
								label(for="nachteil_126") Vorurteile gegenüber 
								input(type="text")
								input(type="number", min="1", max="20", step="1")
							+plainProCon("Wahnvorstellungen", 1)
							+plainProCon("Wahrer Name", 1)
							+stagedProCon("Weltfremd", 1, { max:20 })
							+stagedProCon("Weltfremd", 1, { max:20 })
							+stagedProCon("Weltfremd", 1, { max:20 })
							+plainProCon("Widerwärtiges Aussehen", 1)
							+plainProCon("Wilde Magie", 1)
							+plainProCon("Zielschwierigkeiten", 1)
							+stagedProCon("Zögerlicher Zauberer", 1, { max:5 })
							+plainProCon("Zwergenwuchs", 1)
			.well.text-center#save
				.row.dcm-row
					.col-sm-4.col-sm-offset-1
						button.form-control.btn.btn-success(type="submit", disabled) speichern
					.col-sm-4.col-sm-offset-2
						button.form-control.btn.btn-warning(type="reset") zurücksetzen
		script(type="text/javascript", src="/vorteile.js")
