doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title DCM – DSA Charakter Manager
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		script(src="//code.jquery.com/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
	body
		nav.navbar.navbar-default(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-chars")
						span.sr-only Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand DCM
				#navbar-collapse-chars.collapse.navbar-collapse
					ul.nav.navbar-nav
						each __link in _Menu.left
							- var __isCurrent = __link.url === _Menu.currentURL;
							if __isCurrent
								li.active
									a=__link.title
							else
								li
									a(href=__link.url)=__link.title
					ul.nav.navbar-nav.navbar-right
						each __link in _Menu.right
							- var __isCurrent = __link.url === _Menu.currentURL;
							li
								a(href=__isCurrent ? null : __link.url, title=__link.title)
									span.hidden-xs(class=__link.sign.join(" ")) &nbsp;
									span.visible-xs=__link.title
		.container
			.page-header.text-center
				h1
					span.fa.fa-file-text-o &nbsp;
					span Helden &nbsp;
			.panel.panel-default
				.panel-heading
					h4 Meine Charaktere
				.panel-body
					ul.list-group
						each __held in _Own
							li.list-group-item
								a(href="/held/"+__held._id)= __held.Person.Name + " ( " + __held.AP.frei + " / " + __held.AP.alle.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " )"
				.panel-footer.text-right
					button.btn.btn-warning.btn-xs(type="button") Helden löschen
			each __friend in _Group
				.panel.panel-default
					.panel-heading
						h4 Charaktere von #{__friend.local.name}
					.panel-body
						ul.list-group
							each __held in __friend.chars
								li.list-group-item
									a(href="/held/"+__held._id)= __held.Person.Name + " ( " + __held.AP.frei + " / " + __held.AP.alle.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " )"
