doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title DCM – DSA Charakter Manager
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		script(src="//code.jquery.com/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		style.
			.restore {
				padding: 5px 10px;
				border-radius: 7px;
			}
			.restore:hover {
				background-color: green;
				color: white;
			}
			.gap-bottom {
				padding-bottom: 1.5em;
			}
	body
		nav.navbar.navbar-default(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-chars")
						span.sr-only Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand DCM
				#navbar-collapse-chars.collapse.navbar-collapse
					ul.nav.navbar-nav
						each __link in _Menu.left
							- var __isCurrent = __link.url === _Menu.currentURL;
							if __isCurrent
								li.active
									a=__link.title
							else
								li
									a(href=__link.url)=__link.title
					ul.nav.navbar-nav.navbar-right
						each __link in _Menu.right
							- var __isCurrent = __link.url === _Menu.currentURL;
							li
								a(href=__isCurrent ? null : __link.url, title=__link.title)
									span.hidden-xs(class=__link.sign.join(" ")) &nbsp;
									span.visible-xs=__link.title
						if _User.isAdmin
							li
								a(href="/db", title="Manage DB")
									span.hidden-xs.fa.fa-hdd-o
									span.visible-xs Manage DB
		.container
			.page-header.text-center
				h1
					span.fa.fa-trash-o &nbsp;
					span Gelöschte Helden &nbsp;
			ul.nav.nav-pills.nav-justified.gap-bottom
				li
					a(href="/neu") 
						span.fa.fa-edit
						|  Neuen Helden erstellen
				li
					a(title="Helden-Software XML")
						span.fa.fa-upload
						|  Helden importieren
				li
					a(href="/helden")
						span.fa.fa-file-text-o
						|  aktive Helden
					
			.panel.panel-default
				.panel-heading
					h4 Meine Papierkorb
				ul#my-chars.list-group
					each __held in _Chars
						li.list-group-item
							span= __held.Person.Name + " ( " + __held.AP.frei + " / " + __held.AP.alle.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " )"
							span.fa.fa-check-square-o.pull-right.restore(title="Held wiederherstellen", data-id=__held._id.toString())
			script.
				$('.restore').on("click", function() {
					var $row = $(this).closest('li');
					$.post(
						"/held/" + this.dataset.id, 
						{ _method: "put" }
					).done(function() {
						$row.remove();
					});
				});
