-	function render(__str, __data) {
-		Object.keys(__data).forEach(function(key) {
-			__str = __str.replace("{"+key+"}", __data[key].toString());
-		});
-		return __str;
-	}

//- create a standard menu link
mixin menuLink(__item, __data)
	- var __data  = __data || {};
	- var __curr  = __item.url === _Menu.currentURL;
	- var __url   = __item.url ? (__curr ? null : render(__item.url, __data)) : null;
	- var __title = render(__item.title, __data);
	if Array.isArray(__item.dropdown)
		+menuDropdown(__item, __data)
	else
		li(class=__curr ? "active" : null)
			if Array.isArray(__item.sign)
				a(href=__url, title=__title)
					span.hidden-xs(class=__item.sign.join(" "))
					span.visible-xs!=__title
			else
				a(href=__url)!=__title

//- create a menu dropdown item
mixin menuDropdown(__item, __data)
	- var __data  = __data || {};
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown")!=render(__item.title, __data)
			b.caret
		ul.dropdown-menu
			each __link in __item.dropdown
				if __link.title
					+menuLink(__link, __data)
				else
					li.divider

doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title DCM – DSA Charakter Manager
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		script(src="//code.jquery.com/jquery-2.1.0.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="/typeahead.bundle.min.js")
		style.
			.tt-dropdown-menu {
				padding: 0.5em 0;
				background-color: white;
				border: 1px solid gray;
				border-radius: 0.5em;
				margin-top: 0.2em;
				min-width: 200px;
				text-indent: 1em;
			}
			.tt-cursor {
				background-color: silver;
			}
			.twitter-typeahead {
				width: 100%;
			}
			.gap-bottom-1 {
				padding-bottom: 1em;
			}
			.gap-bottom-2 {
				padding-bottom: 2em;
			}
	body
		nav.navbar.navbar-default(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-chars")
						span.sr-only Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand DCM
				#navbar-collapse-chars.collapse.navbar-collapse
					- var data = _Inbox.length ? { badge: '<span class="badge">'+_Inbox.length+'</span>' } : { badge: "" };
					ul.nav.navbar-nav
						each __link in _Menu.left
							+menuLink(__link, data)
					ul.nav.navbar-nav.navbar-right
						each __link in _Menu.right
							+menuLink(__link, data)
						if _User.isAdmin
							li
								a(href="/db", title="Manage DB")
									span.hidden-xs.fa.fa-hdd-o
									span.visible-xs Manage DB
		header.container
			.page-header.text-center
				h1
					span.fa.fa-users &nbsp;
					|  Freunde
		main.container
			.row
				.col-sm-6
					section.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-users &nbsp;
								span Meine Freunde
								span#friend-count.badge.pull-right=_User.friends.length
						.panel-body
							p Freunde können sich alle deine aktiven Helden anschauen. Das ist besonders dann nützlich, wenn ihr alle zusammen in einer Gruppe spielt – ein Browser, alle Helden.
							p Natürlich bleibst du der einzige, der seine Helden editieren darf.
						ul#friend-list.list-group
							each __friend in _Friends
								li.list-group-item
									label.checkbox-inline
										input(type="checkbox", name="friends[]", value=__friend._id, checked)
										|  #{__friend.local.name}
				.col-sm-6
					section.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-users &nbsp;
								span Freund von
						.panel-body
							p Du kannst dir auch die Helden von anderen Nutzern anschauen, sofern sie dich als Freund hinzugefügt haben. 
							p Damit ein anderer weiß, dass du seine Helden sehen möchtest, schicke ihm (oder ihr) eine Freundschaftsanfrage.
						ul.list-group
							each __friend in _Group
								li.list-group-item=__friend.local.name
			.row
				.col-sm-6
					section.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-search &nbsp;
								span Freunde suchen
						.panel-body
							.form-group
								input#friend-add.username-search.form-control(type="text", placeholder="Suche nach Namen")
							.form-group.text-center
								button#empty.btn.btn-default Neue Suche
				.col-sm-6
					section.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-bullhorn &nbsp;
								span Freundschaftsanfrage senden
						.panel-body
							.form-group
								input#friend-ask.username-search.form-control(type="text", placeholder="Suche nach Namen")
							.form-group.text-center
								button#ask.btn.btn-default senden
						ul.list-group
							each __msg in _Outbox
								li.list-group-item=__msg.recipient.local.name
					section.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-thumbs-o-up &nbsp;
								span Freundschaft bestätigen
						.panel-body#friend-requested
							each __msg in _Inbox
								.form-group
									.input-group
										span.input-group-btn
											button.btn.btn-success(type="button")
												span.fa.fa-plus
										input.form-control(type="text", readonly, value=__msg.sender.local.name, data-user=__msg.sender._id.toString(), data-message=__msg._id.toString())
										span.input-group-btn
											button.btn.btn-danger(type="button")
												span.fa.fa-minus
		script(src="/friendship.js")
