doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title DCM – DSA Charakter Manager
		//link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		script(src="//code.jquery.com/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="/typeahead.bundle.min.js")
		style.
			.tt-dropdown-menu {
				padding: 0.5em 0;
				background-color: white;
				border: 1px solid gray;
				border-radius: 0.5em;
				margin-top: 0.2em;
				min-width: 200px;
				text-indent: 1em;
			}
			.tt-cursor {
				background-color: silver;
			}
			.twitter-typeahead {
				width: 100%;
			}
			.gap-bottom-1 {
				padding-bottom: 1em;
			}
			.gap-bottom-2 {
				padding-bottom: 2em;
			}
	body
		nav.navbar.navbar-default(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-chars")
						span.sr-only Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand DCM
				#navbar-collapse-chars.collapse.navbar-collapse
					ul.nav.navbar-nav
						each __link in _Menu.left
							- var __isCurrent = __link.url === _Menu.currentURL;
							if __isCurrent
								li.active
									a=__link.title
							else
								li
									a(href=__link.url)=__link.title
					ul.nav.navbar-nav.navbar-right
						each __link in _Menu.right
							- var __isCurrent = __link.url === _Menu.currentURL;
							li
								a(href=__isCurrent ? null : __link.url, title=__link.title)
									span.hidden-xs(class=__link.sign.join(" "))
									span.visible-xs=__link.title
						if _User.isAdmin
							li
								a(href="/db", title="Manage DB")
									span.hidden-xs.fa.fa-hdd-o
									span.visible-xs Manage DB
		.container
			.page-header.text-center
				h1
					span.fa.fa-users &nbsp;
					|  Freunde
			.row
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-users &nbsp;
								span Meine Freunde
								span#friend-count.badge.pull-right=_User.friends.length
						.panel-body
							p Freunde können sich alle deine aktiven Helden anschauen. Das ist besonders dann nützlich, wenn ihr alle zusammen in einer Gruppe spielt – ein Browser, alle Helden.
							p Natürlich bleibst du der einzige, der seine Helden editieren darf.
						ul#friend-list.list-group
							each __friend in _Friends
								li.list-group-item
									label.checkbox-inline
										input(type="checkbox", name="friends[]", value=__friend._id, checked)
										|  #{__friend.local.name}
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-users &nbsp;
								span Freund von
						.panel-body
							p Du kannst dir auch die Helden von anderen Nutzern anschauen, sofern sie dich als Freund hinzugefügt haben. 
							p Damit ein anderer weiß, dass du seine Helden sehen möchtest, schicke ihm (oder ihr) eine Freundschaftsanfrage.
						ul.list-group
							each __friend in _Group
								li.list-group-item=__friend.local.name
			.row
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-search &nbsp;
								span Freunde suchen
						.panel-body
							.form-group
								input#friend-add.username-search.form-control(type="text", placeholder="Suche nach Namen")
							.form-group.text-center
								button#empty.btn.btn-default Neue Suche
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-bullhorn &nbsp;
								span Freundschaftsanfrage senden
						.panel-body
							.form-group
								input#friend-ask.username-search.form-control(type="text", placeholder="Suche nach Namen")
							.form-group.text-center
								button#ask.btn.btn-default senden
						ul.list-group
							each __msg in _Outbox
								li.list-group-item=__msg.recipient.local.name
					.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-thumbs-o-up &nbsp;
								span Freundschaft bestätigen
						.panel-body#friend-requested
							each __msg in _Inbox
								.form-group
									.input-group
										span.input-group-btn
											button.btn.btn-success(type="button")
												span.fa.fa-plus
										input.form-control(type="text", readonly, value=__msg.sender.local.name, data-user=__msg.sender._id.toString(), data-message=__msg._id.toString())
										span.input-group-btn
											button.btn.btn-danger(type="button")
												span.fa.fa-minus
		script(src="/friendship.js")
