include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title DCM – DSA Charakter Manager
		script(src="/typeahead.bundle.min.js")
		style.
			.tt-dropdown-menu {
				padding: 0.5em 0;
				background-color: white;
				border: 1px solid gray;
				border-radius: 0.5em;
				margin-top: 0.2em;
				min-width: 200px;
				text-indent: 1em;
			}
			.tt-cursor {
				background-color: silver;
			}
			.twitter-typeahead {
				width: 100%;
			}
			.gap-bottom-1 {
				padding-bottom: 1em;
			}
			.gap-bottom-2 {
				padding-bottom: 2em;
			}
	body
		include inc-nav
		header.container
			.page-header.text-center
				h1
					span.fa.fa-users &nbsp;
					|  Freunde
		main.container
			.row
				.col-sm-6
					section.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-users &nbsp;
								span Meine Freunde
								span#friend-count.badge.pull-right=_User.friends.length
						.panel-body
							p Freunde können sich alle deine aktiven Helden anschauen. Das ist besonders dann nützlich, wenn ihr alle zusammen in einer Gruppe spielt – ein Browser, alle Helden.
							p Natürlich bleibst du der einzige, der seine Helden editieren darf.
						ul#friend-list.list-group
							each __friend in _Friends
								li.list-group-item
									label.checkbox-inline
										input(type="checkbox", name="friends[]", value=__friend._id, checked)
										|  #{__friend.local.name}
				.col-sm-6
					section.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-users &nbsp;
								span Freund von
						.panel-body
							p Du kannst dir auch die Helden von anderen Nutzern anschauen, sofern sie dich als Freund hinzugefügt haben. 
							p Damit ein anderer weiß, dass du seine Helden sehen möchtest, schicke ihm (oder ihr) eine Freundschaftsanfrage.
						ul.list-group
							each __friend in _Group
								li.list-group-item=__friend.local.name
			.row
				.col-sm-6
					section.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-search &nbsp;
								span Freunde suchen
						.panel-body
							.form-group
								input#friend-add.username-search.form-control(type="text", placeholder="Suche nach Namen")
							.form-group.text-center
								button#empty.btn.btn-default Neue Suche
				.col-sm-6
					section.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-bullhorn &nbsp;
								span Freundschaftsanfrage senden
						.panel-body
							.form-group
								input#friend-ask.username-search.form-control(type="text", placeholder="Suche nach Namen")
							.form-group.text-center
								button#ask.btn.btn-default senden
						ul.list-group
							each __msg in _Outbox
								li.list-group-item=__msg.recipient.local.name
					section.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-thumbs-o-up &nbsp;
								span Freundschaft bestätigen
						.panel-body#friend-requested
							each __msg in _Inbox
								.form-group
									.input-group
										span.input-group-btn
											button.btn.btn-success(type="button")
												span.fa.fa-plus
										input.form-control(type="text", readonly, value=__msg.sender.local.name, data-user=__msg.sender._id.toString(), data-message=__msg._id.toString())
										span.input-group-btn
											button.btn.btn-danger(type="button")
												span.fa.fa-minus
		script(src="/friendship.js")
