include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title DCM – DSA Charakter Manager
	body
		nav.navbar.navbar-default(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-chars")
						span.sr-only Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand DCM
				#navbar-collapse-chars.collapse.navbar-collapse
					- var data = _FRCount ? { badge: '<span class="badge">'+_FRCount+'</span>' } : { badge: "" };
					ul.nav.navbar-nav
						each __link in _Menu.left
							+menuLink(__link, data)
					ul.nav.navbar-nav.navbar-right
						each __link in _Menu.right
							+menuLink(__link, data)
						if _User.isAdmin
							li
								a(href="/db", title="Manage DB")
									span.hidden-xs.fa.fa-hdd-o
									span.visible-xs Manage DB
		header.container
			.page-header.text-center
				h1
					span.fa.fa-user &nbsp;
					| Kontenverwaltung
		main.container
			.row
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-user &nbsp;
								strong E-Mail / Passwort
						.panel-body
							if (_User.local.email)
								p
									strong E-Mail
									| : #{_User.local.email}
								p
									strong Name
									| : #{_User.local.name}
								a(href="/unlink/local").btn.btn-sm.btn-default Trennen
								| &nbsp;
								//-a(href="/setup/local").btn.btn-sm.btn-default Daten ändern
							else
								a(href="/connect/local").btn.btn-sm.btn-default Verbinden
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h4.text-danger
								span.fa.fa-google-plus-square &nbsp;
								strong Google
						.panel-body
							if (_User.google.token)
								p
									strong E-Mail
									| : #{_User.google.email}
								p
									strong Name
									| : #{_User.google.name}
								a(href="/unlink/google").btn.btn-sm.btn-danger Trennen
							else
								a(href="/connect/google").btn.btn-sm.btn-danger Google hinzufügen
			.row
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h4.text-primary
								span.fa.fa-facebook-square &nbsp;
								strong facebook
						.panel-body
							if (_User.facebook.token)
								p
									strong E-Mail
									| : #{_User.facebook.email}
								p
									strong Name
									| : #{_User.facebook.name}
								a(href="/unlink/facebook").btn.btn-sm.btn-primary Trennen
							else
								a(href="/connect/facebook").btn.btn-sm.btn-primary Facebook hinzufügen
				//-.col-sm-6
					.panel.panel-default
						.panel-heading
							h4.text-warning 
								strong OpenID
						.panel-body
							if (_User.openid.token)
								p
									strong E-Mail
									| : #{_User.openid.email}
								p
									strong Name
									| : #{_User.openid.name}
								a(href="/unlink/openid").btn.btn-sm.btn-warning Trennen
							else
								a(href="/connect/openid").btn.btn-sm.btn-warning OpenID hinzufügen
