-	function render(__str, __data) {
-		Object.keys(__data).forEach(function(key) {
-			__str = __str.replace("{"+key+"}", __data[key].toString());
-		});
-		return __str;
-	}

//- create a standard menu link
mixin menuLink(__item, __data)
	- var __data  = __data || {};
	- var __curr  = __item.url === _Menu.currentURL;
	- var __url   = __item.url ? (__curr ? null : render(__item.url, __data)) : null;
	- var __title = render(__item.title, __data);
	if Array.isArray(__item.dropdown)
		+menuDropdown(__item, __data)
	else
		li(class=__curr ? "active" : null)
			if Array.isArray(__item.sign)
				a(href=__url, title=__title)
					span.hidden-xs(class=__item.sign.join(" "))
					span.visible-xs!=__title
			else
				a(href=__url)!=__title

//- create a menu dropdown item
mixin menuDropdown(__item, __data)
	- var __data  = __data || {};
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown")!=render(__item.title, __data)
			b.caret
		ul.dropdown-menu
			each __link in __item.dropdown
				if __link.title
					+menuLink(__link, __data)
				else
					li.divider

doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title DCM – DSA Charakter Manager
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		script(src="//code.jquery.com/jquery-2.1.0.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
	body
		nav.navbar.navbar-default(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-chars")
						span.sr-only Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand DCM
				#navbar-collapse-chars.collapse.navbar-collapse
					- var data = _FRCount ? { badge: '<span class="badge">'+_FRCount+'</span>' } : { badge: "" };
					ul.nav.navbar-nav
						each __link in _Menu.left
							+menuLink(__link, data)
					ul.nav.navbar-nav.navbar-right
						each __link in _Menu.right
							+menuLink(__link, data)
						if _User.isAdmin
							li
								a(href="/db", title="Manage DB")
									span.hidden-xs.fa.fa-hdd-o
									span.visible-xs Manage DB
		header.container
			.page-header.text-center
				h1
					span.fa.fa-user &nbsp;
					| Kontenverwaltung
		main.container
			.row
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h4
								span.fa.fa-user &nbsp;
								strong E-Mail / Passwort
						.panel-body
							if (_User.local.email)
								p
									strong E-Mail
									| : #{_User.local.email}
								p
									strong Name
									| : #{_User.local.name}
								a(href="/unlink/local").btn.btn-sm.btn-default Trennen
								| &nbsp;
								//-a(href="/setup/local").btn.btn-sm.btn-default Daten ändern
							else
								a(href="/connect/local").btn.btn-sm.btn-default Verbinden
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h4.text-danger
								span.fa.fa-google-plus-square &nbsp;
								strong Google
						.panel-body
							if (_User.google.token)
								p
									strong E-Mail
									| : #{_User.google.email}
								p
									strong Name
									| : #{_User.google.name}
								a(href="/unlink/google").btn.btn-sm.btn-danger Trennen
							else
								a(href="/connect/google").btn.btn-sm.btn-danger Google hinzufügen
			.row
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h4.text-primary
								span.fa.fa-facebook-square &nbsp;
								strong facebook
						.panel-body
							if (_User.facebook.token)
								p
									strong E-Mail
									| : #{_User.facebook.email}
								p
									strong Name
									| : #{_User.facebook.name}
								a(href="/unlink/facebook").btn.btn-sm.btn-primary Trennen
							else
								a(href="/connect/facebook").btn.btn-sm.btn-primary Facebook hinzufügen
				//-.col-sm-6
					.panel.panel-default
						.panel-heading
							h4.text-warning 
								strong OpenID
						.panel-body
							if (_User.openid.token)
								p
									strong E-Mail
									| : #{_User.openid.email}
								p
									strong Name
									| : #{_User.openid.name}
								a(href="/unlink/openid").btn.btn-sm.btn-warning Trennen
							else
								a(href="/connect/openid").btn.btn-sm.btn-warning OpenID hinzufügen
