include ../inc-mixins

doctype html
html(lang="de")
	head
		include ../inc-bootstrap
		title DCM – DSA Charakter Manager
		style.
			h1, h2, h3, h4 {
				margin:		0;
			}
			h2 {
				font-size: 	1.5em;
			}
	body
		nav.navbar.navbar-default(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-chars")
						span.sr-only Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand DCM
				#navbar-collapse-chars.collapse.navbar-collapse
					- var data = _FRCount ? { badge: '<span class="badge">'+_FRCount+'</span>' } : { badge: "" };
					ul.nav.navbar-nav
						each __link in _Menu.left
							+menuLink(__link, data)
					ul.nav.navbar-nav.navbar-right
						each __link in _Menu.right
							+menuLink(__link, data)
						if _User.isAdmin
							li
								a(href="/db", title="Manage DB")
									span.hidden-xs.fa.fa-hdd-o
									span.visible-xs Manage DB
		header.container
			h1.page-header.text-center
				span.fa.fa-user &nbsp;
				| Kontenverwaltung
		main.container
			.row
				.col-sm-6
					.panel.panel-default
						h2.panel-heading
							span.fa.fa-user &nbsp;
							strong E-Mail / Passwort
						section.panel-body
							if (_User.local.email)
								p
									strong E-Mail
									| : #{_User.local.email}
								p
									strong Name
									| : #{_User.local.name}
								a.btn.btn-sm.btn-default(href="/unlink/local") Trennen
								| &nbsp;
								a.btn.btn-sm.btn-default(href="/change/local") Daten ändern
							else
								a.btn.btn-sm.btn-default(href="/connect/local") Verbinden
				.col-sm-6
					.panel.panel-default
						h2.panel-heading
							span.text-danger.fa.fa-google-plus-square &nbsp;
							strong.text-danger Google
						section.panel-body
							if (_User.google.token)
								p
									strong E-Mail
									| : #{_User.google.email}
								p
									strong Name
									| : #{_User.google.name}
								a.btn.btn-sm.btn-danger(href="/unlink/google") Trennen
							else
								a.btn.btn-sm.btn-danger(href="/connect/google") Google hinzufügen
			.row
				.col-sm-6
					.panel.panel-default
						h2.panel-heading
							span.text-primary.fa.fa-facebook-square &nbsp;
							strong.text-primary facebook
						section.panel-body
							if (_User.facebook.token)
								p
									strong E-Mail
									| : #{_User.facebook.email}
								p
									strong Name
									| : #{_User.facebook.name}
								a.btn.btn-sm.btn-primary(href="/unlink/facebook") Trennen
							else
								a.btn.btn-sm.btn-primary(href="/connect/facebook") Facebook hinzufügen
				//-.col-sm-6
					.panel.panel-default
						.panel-heading
							h4.text-warning 
								strong OpenID
						.panel-body
							if (_User.openid.token)
								p
									strong E-Mail
									| : #{_User.openid.email}
								p
									strong Name
									| : #{_User.openid.name}
								a(href="/unlink/openid").btn.btn-sm.btn-warning Trennen
							else
								a(href="/connect/openid").btn.btn-sm.btn-warning OpenID hinzufügen
